{% load i18n static %}

<table class="dja-user-detail-table" {% if field_name %} id="id_detail_table__{{field_name}}" {% endif %}>
    {% if show_table_details %}
    <thead>
        <tr>
            <th colspan="2">Contact details</th>
        <tr>
    </thead>
    {% endif %}

    {% if user.title or user.contact.title or user.email or user.contact.email or user.phone or user.contact.phone %}
    <tbody>
        <tr>
            {% if show_table_details %}
            <th class="{% if no_title_top_padding %}padding-top-0{% endif %}" scope="row">Title</th>
            {% endif %}

            {% if user.title or user.contact.title %}
                {% if user.contact.title %}
                <td class="{% if no_title_top_padding %}padding-top-0{% endif %} padding-left-0">{{ user.contact.title }}</td>
                {% else %}
                <td class="{% if no_title_top_padding %}padding-top-0{% endif %} padding-left-0">{{ user.title }}</td>
                {% endif %}
            {% else %}
            <td class="{% if no_title_top_padding %}padding-top-0{% endif %} padding-left-0">None</td>
            {% endif %}
        </tr>
        <tr>
            {% if show_table_details %}
            <th class="padding-top-0 padding-left-0" scope="row">Email</th>
            {% endif %}

            {% if user.email or user.contact.email %}
                {% if user.contact.email %}
                <td class="padding-top-0 padding-left-0">{{ user.contact.email }}</td>
                {% else %}
                <td class="padding-top-0 padding-left-0">{{ user.email }}</td>
                {% endif %}
            {% else %}
            <td class="padding-top-0 padding-left-0">None</td>
            {% endif %}
        </tr>
        <tr>
            {% if show_table_details %}
            <th class="padding-top-0 padding-left-0" scope="row">Phone</th>
            {% endif %}

            {% if user.phone or user.contact.phone %}
                {% if user.contact.phone %}
                <td class="padding-top-0 padding-left-0">{{ user.contact.phone }}</td>
                {% else %}
                <td class="padding-top-0 padding-left-0">{{ user.phone }}</td>
                {% endif %}
            {% else %}
            <td class="padding-top-0 padding-left-0">None</td>
            {% endif %}
        </tr>
    </tbody>
    {% else %}
    <tbody>
        <tr>
            <td class="padding-left-0">No additional contact information found.</td>
        </tr>
    </tbody>
    {% endif %}
</table>
