{% load i18n static %}

<address class="{% if no_title_top_padding %}margin-top-neg-1__detail-list{% endif %} {% if user.has_contact_info %}margin-bottom-1{% endif %} dja-address-contact-list">

    {% if show_formatted_name %}
        {% if user.get_formatted_name %}
            <a href="{% url 'admin:registrar_contact_change' user.id %}">{{ user.get_formatted_name }}</a><br />
        {% else %}
            None<br />
        {% endif %}
    {% endif %}

    {% if user.has_contact_info %}
        {# Title #}
        {% if user.title or user.contact.title %}
            {% if user.contact.title %}
                {{ user.contact.title }}
            {% else %}
                {{ user.title }}
            {% endif %}
            <br>
        {% else %}
            None<br>
        {% endif %}
        {# Email #}
        {% if user.email or user.contact.email %}
            {% if user.contact.email %}
                {{ user.contact.email }}
                {% include "admin/input_with_clipboard.html" with field=user invisible_input_field=True %}
            {% else %}
                {{ user.email }}
                {% include "admin/input_with_clipboard.html" with field=user invisible_input_field=True %}
            {% endif %}
            <br class="admin-icon-group__br">
        {% else %}
            None<br>
        {% endif %}

        {# Phone #}
        {% if user.phone or user.contact.phone %}
            {% if user.contact.phone %}
                {{ user.contact.phone }}
            {% else %}
                {{ user.phone }}
            {% endif %}
            <br>
        {% else %}
            None<br>
        {% endif %}
    {% else %}
        No additional contact information found.
    {% endif %}
</address>
