{% extends "admin/fieldset.html" %}
{% load custom_filters %}
{% load static url_helpers %}

{% comment %}
This is using a custom implementation fieldset.html (see admin/fieldset.html)
{% endcomment %}

{% block flex_container_start %}
    {% if field.field.name == "status_history" %}
    <div class="flex-container flex-container--mobile-inline {% if not line.fields|length == 1 %} fieldBox{% if field.field.name %} field-{{ field.field.name }}{% endif %}{% if not field.is_readonly and field.errors %} errors{% endif %}{% if field.field.is_hidden %} hidden{% endif %}{% elif field.is_checkbox %} checkbox-row{% endif %}">
    {% else %}
    {% comment %} Default flex container element {% endcomment %}
    <div class="flex-container{% if not line.fields|length == 1 %} fieldBox{% if field.field.name %} field-{{ field.field.name }}{% endif %}{% if not field.is_readonly and field.errors %} errors{% endif %}{% if field.field.is_hidden %} hidden{% endif %}{% elif field.is_checkbox %} checkbox-row{% endif %}">
    {% endif %}
{% endblock flex_container_start %}

{% block field_readonly %}
    {% with all_contacts=original_object.other_contacts.all %}
    {% if field.field.name == "status_history" %}
        {% if filtered_audit_log_entries %}
        <div class="readonly">
            <div class="usa-table-container--scrollable collapse--dgsimple collapsed margin-top-0" tabindex="0">
                <table class="usa-table usa-table--borderless">
                    <thead>
                        <tr>
                            <th>Status</th>
                            <th>User</th>
                            <th>Changed at</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entry in filtered_audit_log_entries %}
                            <tr>
                                <td>
                                    {% if entry.status %}
                                        {{ entry.status|default:"Error" }}
                                    {% else %}
                                        Error
                                    {% endif %}
                                    
                                    {% if entry.rejection_reason %}
                                        - {{ entry.rejection_reason|default:"Error" }}
                                    {% endif %}
                                    
                                    {% if entry.action_needed_reason %}
                                        - {{ entry.action_needed_reason|default:"Error" }}
                                    {% endif %}
                                </td>
                                <td>{{ entry.actor|default:"Error" }}</td>
                                <td>{{ entry.timestamp|date:"Y-m-d H:i:s" }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <button type="button" class="collapse-toggle--dgsimple usa-button usa-button--unstyled margin-top-0">
                <span>Show details</span>
                <svg class="usa-icon" aria-hidden="true" focusable="false" role="img" width="24" height="24">
                    <use xlink:href="/public/img/sprite.svg#expand_more"></use>
                </svg>
            </button>
        </div>
        {% else %}
        <div class="readonly">
            No changelog to display.
        </div>
        {% endif %}
    {% elif field.field.name == "action_needed_reason_email" %}
    <div class="readonly textarea-wrapper">
        <div id="action_needed_reason_email_readonly" class="dja-readonly-textarea-container padding-1 margin-top-0 padding-top-0 margin-bottom-1 thin-border collapse--dgsimple collapsed">
            <label class="max-full" for="action_needed_reason_email_view_more">
                <strong>Sent to {% if has_profile_feature_flag %}creator{%else%}submitter{%endif%}</strong>
            </label>
            <textarea id="action_needed_reason_email_view_more" cols="40" rows="20" class="{% if not original_object.action_needed_reason %}display-none{% endif %}" readonly>
                {{ original_object.action_needed_reason_email }}
            </textarea>
            <p id="no-email-message" class="{% if original_object.action_needed_reason %}display-none{% endif %}">No email will be sent.</p>
        </div>
        <button type="button" class="collapse-toggle--dgsimple usa-button usa-button--unstyled margin-top-0 margin-bottom-1 margin-left-1">
            <span>Show details</span>
            <svg class="usa-icon" aria-hidden="true" focusable="false" role="img" width="24" height="24">
                <use xlink:href="/public/img/sprite.svg#expand_more"></use>
            </svg>
        </button>
    </div>
    {% elif field.field.name == "other_contacts" %}
        {% if all_contacts.count > 2 %}
            <div class="readonly">
                {% for contact in all_contacts %}
                    <a href="{% url 'admin:registrar_contact_change' contact.id %}">{{ contact.get_formatted_name }}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </div>
        {% else %}
            <div class="flex-container dja-detail-list">
                <dl class="usa-list usa-list--unstyled margin-0">
                    {% for contact in all_contacts %}
                        <dt class="{% if forloop.counter == 1%}margin-top-0{% endif %}">
                            Organization contact {{forloop.counter}}
                        </dt>
                        <dd>
                            {% include "django/admin/includes/contact_detail_list.html" with user=contact show_formatted_name=True %}
                        </dd>
                    {% endfor %}
                </dl>
            </div>
        {% endif %}
    {% elif field.field.name == "requested_domain" %}
        {% with current_path=request.get_full_path %}
        <a class="margin-top-05 padding-top-05" href="{% url 'admin:registrar_draftdomain_change' original.requested_domain.id %}?{{ 'return_path='|add:current_path }}">{{ original.requested_domain }}</a>
        {% endwith%}
    {% elif field.field.name == "current_websites" %}
        {% comment %}
        The "website" model is essentially just a text field.
        It is not useful to be redirected to the object definition,
        rather it is more useful in this scenario to be redirected to the
        actual website (as its just a plaintext string otherwise).

        This ONLY applies to analysts. For superusers, its business as usual.
        {% endcomment %}
        <div class="readonly">
        {% with total_websites=field.contents|split:", " %}
            {% for website in total_websites %}
                <a href="{{ website }}" target="_blank" class="padding-top-1 current-website__{{forloop.counter}}">{{ website }}</a>{% if not forloop.last %}, {% endif %}
                {# Acts as a <br> #}
                {% if total_websites|length < 5 %}
                <div class="display-block margin-top-1"></div>
                {% endif %}
            {% endfor %}
        {% endwith %}
        </div>
    {% elif field.field.name == "alternative_domains" %}
        <div class="readonly">
            {% with current_path=request.get_full_path %}
            {% for alt_domain in original_object.alternative_domains.all %}
                <a href="{% url 'admin:registrar_website_change' alt_domain.id %}?{{ 'return_path='|add:current_path }}">{{ alt_domain }}</a>{% if not forloop.last %}, {% endif %}
            {% endfor %}
            {% endwith %}
        </div>
    {% elif field.field.name == "display_admins" %}
        <div class="readonly">{{ field.contents|safe }}</div>
    {% elif field.field.name == "display_members" %}
        <div class="readonly">
            {% if display_members_summary %}
                {{ display_members_summary }}
            {% else %}
                <p>No additional members found.</p>
            {% endif %}
        </div>
    {% else %}
        <div class="readonly">{{ field.contents }}</div>
    {% endif %}
    {% endwith %}
{% endblock field_readonly %}

{% block field_other %}
    {% if field.field.name == "action_needed_reason_email" %}
    <div>
        <div id="action-needed-reason-email-placeholder-text" class="margin-top-05 text-faded">
            -
        </div>
        <div>
            <div id="action-needed-reason-email-readonly" class="display-none usa-summary-box_admin padding-top-0 margin-top-0">
                <div class="flex-container">
                    <div class="margin-top-05">
                        <p class="{% if action_needed_email_sent %}display-none{% endif %}" id="action-needed-email-header"><b>Auto-generated email that will be sent to the creator</b></p>
                        <p class="{% if not action_needed_email_sent %}display-none{% endif %}" id="action-needed-email-header-email-sent">
                            <svg class="usa-icon text-green" aria-hidden="true" focusable="false" role="img">
                                <use xlink:href="{%static 'img/sprite.svg'%}#check_circle"></use>
                            </svg>
                            <b>Email sent to the creator</b>
                        </p>
                    </div>
                    <div class="vertical-separator margin-top-1 margin-bottom-1"></div>
                    <a
                        href="#email-already-sent-modal"
                        class="usa-button usa-button--unstyled usa-button--dja-link-color usa-button__small-text text-no-underline margin-left-1"
                        aria-controls="email-already-sent-modal"
                        data-open-modal
                        >Edit email</a
                    >
                </div>
                <div
                    class="usa-modal"
                    id="email-already-sent-modal"
                    aria-labelledby="Are you sure you want to edit this email?"
                    aria-describedby="The creator of this request already received an email"
                    >
                    <div class="usa-modal__content">
                        <div class="usa-modal__main">
                            <h2 class="usa-modal__heading" id="modal-1-heading">
                                Are you sure you want to edit this email?
                            </h2>
                            <div class="usa-prose">
                                <p>
                                    The creator of this request already received an email for this status/reason: 
                                </p>
                                <ul>
                                    <li class="font-body-sm">Status: <b>Action needed</b></li>
                                    <li class="font-body-sm">Reason: <b>{{ original_object.get_action_needed_reason_display }}</b></li>
                                </ul>
                                <p>
                                    If you edit this email's text, <b>the system will send another email</b> to
                                    the creator after you “save” your changes.  If you do not want to send another email, click “cancel” below.
                                </p>
                            </div>

                            <div class="usa-modal__footer">
                                <ul class="usa-button-group">
                                    <li class="usa-button-group__item">
                                        <button
                                        type="submit" 
                                        class="usa-button" 
                                        id="email-already-sent-modal_continue-editing-button"
                                        data-close-modal
                                        >
                                            Yes, continue editing
                                        </button>
                                    </li>
                                    <li class="usa-button-group__item">
                                        <button
                                        type="button"
                                        class="usa-button usa-button--unstyled padding-105 text-center"
                                        name="_cancel_edit_email"
                                        data-close-modal
                                        >
                                            Cancel
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <button
                        type="button"
                        class="usa-button usa-modal__close"
                        aria-label="Close this window"
                        data-close-modal
                        >
                            <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                                <use xlink:href="{%static 'img/sprite.svg'%}#close"></use>
                            </svg>
                        </button>
                    </div>
                </div>
                <label class="sr-only" for="action-needed-reason-email-readonly-textarea">Email:</label>
                <textarea cols="40" rows="10" class="vLargeTextField" id="action-needed-reason-email-readonly-textarea" readonly>{{ field.field.value|striptags }}
                </textarea>
            </div>
            <div>
                {{ field.field }}
                <input id="action-needed-email-sent" class="display-none" value="{{action_needed_email_sent}}">
                <input id="action-needed-email-last-sent-text" class="display-none" value="{{original_object.action_needed_reason_email}}">
            </div>
        </div>
        <span id="action-needed-email-footer" class="help">
        {% if not action_needed_email_sent %}
        This email will be sent to the creator of this request after saving
        {% else %}
        This email has been sent to the creator of this request
        {% endif %}
        </span>
    </div>
    {% else %}
        {{ field.field }}
    {% endif %}
{% endblock field_other %}

{% block after_help_text %}
    {% if field.field.name == "action_needed_reason_email" %}
        {% comment %}
        Store the action needed reason emails in a json-based dictionary.
        This allows us to change the action_needed_reason_email field dynamically, depending on value.
        The alternative to this is an API endpoint.

        Given that we have a limited number of emails, doing it this way makes sense.
        {% endcomment %}
        {% if action_needed_reason_emails %}
        <script id="action-needed-emails-data" type="application/json">
            {{ action_needed_reason_emails|safe }}
        </script>
        {% endif %}
    {% elif field.field.name == "creator" %}
        <div class="flex-container tablet:margin-top-2">
        <label aria-label="Creator contact details"></label>
            {% include "django/admin/includes/contact_detail_list.html" with user=original_object.creator no_title_top_padding=field.is_readonly user_verification_type=original_object.creator.get_verification_type_display%}
        </div>
        {% if not skip_additional_contact_info %}
            {% include "django/admin/includes/user_detail_list.html" with user=original_object.creator no_title_top_padding=field.is_readonly %}
        {% endif%}
    {% elif field.field.name == "submitter" %}
        <div class="flex-container tablet:margin-top-2">
        <label aria-label="Submitter contact details"></label>
        {% include "django/admin/includes/contact_detail_list.html" with user=original_object.submitter no_title_top_padding=field.is_readonly %}
        </div>
    {% elif field.field.name == "senior_official" %}
        <div class="flex-container">
        <label aria-label="Senior official contact details"></label>
        {% include "django/admin/includes/contact_detail_list.html" with user=original_object.senior_official no_title_top_padding=field.is_readonly %}
        </div>
    {% elif field.field.name == "other_contacts" and original_object.other_contacts.all %}
        {% with all_contacts=original_object.other_contacts.all %}
        {% if all_contacts.count > 2 %}
            <details class="margin-top-1 dja-detail-table" aria-role="button" open>
                <summary class="padding-1 padding-left-0 dja-details-summary">Details</summary>
                <div class="grid-container margin-left-0 padding-left-0 padding-right-0 dja-details-contents">
                    <table>
                        <thead>
                            <tr>
                                <th colspan="4">Other contact information</th>
                            <tr>
                        </thead>
                        <tbody>
                            {% for contact in all_contacts %}
                            <tr>
                                <th class="padding-left-1" scope="row">{{ contact.get_formatted_name }}</th>
                                <td class="padding-left-1">{{ contact.title }}</td>
                                <td class="padding-left-1">
                                    {{ contact.email }}
                                </td>
                                <td class="padding-left-1">{{ contact.phone }}</td>
                                <td class="padding-left-1 text-size-small">
                                    <input aria-hidden="true" class="display-none" value="{{ contact.email }}" />
                                    <button 
                                    class="usa-button usa-button--unstyled padding-right-1 usa-button--icon button--clipboard copy-to-clipboard usa-button__small-text text-no-underline" 
                                    type="button"
                                    >
                                        <svg 
                                        class="usa-icon" 
                                        >
                                            <use aria-hidden="true" xlink:href="{%static 'img/sprite.svg'%}#content_copy"></use>
                                        </svg>
                                        <span>Copy email</span>
                                    </button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </details>
        {% endif %}
        {% endwith %}
    {% elif field.field.name == "display_members" and field.contents %}
        <details class="margin-top-1 dja-detail-table" aria-role="button" open>
            <summary class="padding-1 padding-left-0 dja-details-summary">Details</summary>
            <div class="grid-container margin-left-0 padding-left-0 padding-right-0 dja-details-contents">
                {{ field.contents|safe }}
            </div>
        </details>
    {% elif field.field.name == "state_territory" and original_object|model_name_lowercase != 'portfolio' %}
        <div class="flex-container margin-top-2">
            <span>
                CISA region:
                {% if original_object.generic_org_type and original_object.generic_org_type != original_object.OrganizationChoices.FEDERAL %}
                    {{ original_object.state_territory|get_region }}
                {% else %}
                    N/A
                {% endif %}
            </span>
        </div>
    {% elif field.field.name == "investigator" and not field.is_readonly %}
        <div class="flex-container">
            <label aria-label="Assign yourself as the investigator"></label>
            <button id="investigator__assign_self" 
            data-user-name="{{ request.user }}" 
            data-user-id="{{ request.user.id }}" 
            type="button" 
            class="usa-button usa-button--unstyled usa-button--dja-link-color usa-button__small-text text-no-underline margin-top-2 margin-bottom-1 margin-left-1">
                <svg class="usa-icon" aria-hidden="true" focusable="false" role="img" width="24" height="24">
                    <use xlink:href="/public/img/sprite.svg#group_add"></use>
                </svg>
                <span>Assign to me</span>
            </button>
        </div>
    {% endif %}
{% endblock after_help_text %}
