{% extends "admin/fieldset.html" %}
{% load static url_helpers %}
{% comment %}
This is using a custom implementation fieldset.html (see admin/fieldset.html)
{% endcomment %}
{% block fieldset_lines %}
{% for line in fieldset %}
    <div class="form-row{% if line.fields|length == 1 and line.errors %} errors{% endif %}{% if not line.has_visible_field %} hidden{% endif %}{% for field in line %}{% if field.field.name %} field-{{ field.field.name }}{% endif %}{% endfor %}">
        {% if line.fields|length == 1 %}{{ line.errors }}{% else %}<div class="flex-container form-multiline">{% endif %}
        {% for field in line %}
            <div>
                {% if not line.fields|length == 1 and not field.is_readonly %}{{ field.errors }}{% endif %}
                    <div class="flex-container{% if not line.fields|length == 1 %} fieldBox{% if field.field.name %} field-{{ field.field.name }}{% endif %}{% if not field.is_readonly and field.errors %} errors{% endif %}{% if field.field.is_hidden %} hidden{% endif %}{% elif field.is_checkbox %} checkbox-row{% endif %}">
                        {% if field.is_checkbox %}
                            {{ field.field }}{{ field.label_tag }}
                        {% else %}
                            {{ field.label_tag }}
                            {% if field.is_readonly %}
                                {% if field.field.name == "other_contacts" %}
                                    <div class="readonly">
                                        {% for contact in field.contents|split:", " %}
                                            <a href="#" class="other-contact__{{forloop.counter}}">{{ contact }}</a>{% if not forloop.last %}, {% endif %}
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    <div class="readonly">{{ field.contents }}</div>
                                {% endif %}
                            {% else %}
                                {{ field.field }}
                            {% endif %}
                        {% endif %}
                    </div>
                {% if field.field.name == "creator" %}
                    {% include "django/admin/includes/domain_request_detail_table.html" with user=original.creator field_name="creator" %}
                {% elif field.field.name == "submitter" %}
                    {% include "django/admin/includes/domain_request_detail_table.html" with user=original.submitter field_name="submitter" %}
                {% elif field.field.name == "authorizing_official" %}
                    {% include "django/admin/includes/domain_request_detail_table.html" with user=original.authorizing_official field_name="authorizing_official" %}
                {% elif field.field.name == "other_contacts" %}
                    <details class="margin-top-1 dja-detail-table">
                        <summary class="padding-1 dja-details-summary">Details</summary>
                        <div class="grid-container padding-left-0 padding-right-0 dja-details-contents">
                            <table>
                                <tbody>
                                    {% for contact in original.other_contacts.all %}
                                    {% comment %}
                                    Since we can't get the id from field, we can embed this information here.
                                    Then we can link these two fields using javascript.
                                    {% endcomment %}
                                    <tr data-contact-id="{{ contact.id }}" data-contact-url="{% url 'admin:registrar_contact_change' contact.id %}">
                                        <th scope="row">{{contact.first_name}} {{contact.last_name}}</th>
                                        <td>{{ contact.title }}</td>
                                        <td>{{ contact.email }}</td>
                                        <td>{{ contact.phone }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </details>
                {% endif %}

                {% if field.field.help_text %}
                    <div class="help"{% if field.field.id_for_label %} id="{{ field.field.id_for_label }}_helptext"{% endif %}>
                        <div>{{ field.field.help_text|safe }}</div>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        {% if not line.fields|length == 1 %}</div>{% endif %}
    </div>
{% endfor %}

{% endblock fieldset_lines %}
