{% load i18n static %}

<table class="dja-user-detail-table" {% if field_name %} id="id_detail_table__{{field_name}}" {% endif %}>
    <tbody>
        <tr>
            <th class="padding-left-0" scope="row">Title</th>
            {% if user.title or user.contact.title %}
                {% if user.contact.title %}
                <td>{{ user.contact.title }}</td>
                {% else %}
                <td>{{ user.title }}</td>
                {% endif %}
            {% else %}
            <td>Nothing found</td>
            {% endif %}
        </tr>
        <tr>
            <th class="padding-left-0" scope="row">Email</th>
            {% if user.email or user.contact.email %}
                <td>
                    <span>
                        {% if user.contact.email %}
                        {{ user.contact.email }}
                        <input type="hidden" value="{{ user.contact.email }}" id="id_email">
                        {% else %}
                        {{ user.email }}
                        <input type="hidden" value="{{ user.email }}">
                        {% endif %}
                        <button 
                        class="usa-button usa-button--unstyled padding-left-2 usa-button__icon usa-button__clipboard" 
                        type="button"
                        >
                            <svg 
                            class="usa-icon" 
                            >
                                <use aria-hidden="true" xlink:href="{%static 'img/sprite.svg'%}#content_copy"></use>
                            </svg>
                        </button>
                    </span>
                </td>

            {% else %}
            <td>Nothing found</td>
            {% endif %}
        </tr>
        <tr>
            <th class="padding-left-0" scope="row">Phone</th>
            {% if user.phone or user.contact.phone %}
                {% if user.contact.phone %}
                <td>{{ user.contact.phone }}</td>
                {% else %}
                <td>{{ user.phone }}</td>
                {% endif %}
            {% else %}
            <td>Nothing found</td>
            {% endif %}
        </tr>
    </tbody>
</table>
