{% extends "django/admin/includes/email_clipboard_fieldset.html" %}
{% load custom_filters %}
{% load static url_helpers %}
{% load i18n static %}


{% block field_readonly %}
    {{ block.super }}
    {% if field.field.name == "reject_suborganization_button" %}
        <button type="button" class="usa-button--dja usa-button usa-button__small-text" id="clear-requested-suborganization">
            Clear all requested suborganization fields
        </button>
    {% endif %}
{% endblock field_readonly %}