{% extends "django/admin/includes/detail_table_fieldset.html" %}
{% load custom_filters %}
{% load static url_helpers %}


{% block field_readonly %}
    {% if field.field.name == "roles" %}
        <div class="readonly">
            {% if display_roles %}
                {{ display_roles }}
            {% else %}
                No roles found.
            {% endif %}
        </div>
    {% elif field.field.name == "additional_permissions" %}
        <div class="readonly">
            {% if display_permissions %}
                {{ display_permissions }}
            {% else %}
                No additional permissions found.
            {% endif %}
        </div>
    {% else %}
        <div class="readonly">{{ field.contents }}</div>
    {% endif %}
{% endblock field_readonly%}