/* 
================================================================================
DHS color palette 
Taken from: https://www.dhs.gov/xlibrary/dhsweb/_site/color-palette.html
================================================================================
 */

/*--- Blue --*/
$dhs-blue-90: #000305;
$dhs-blue-80: #001726;
$dhs-blue-70: #002b47;
$dhs-blue-60: #003e67;
$dhs-blue:    #005288;
$dhs-blue-40: #3d7ca5;
$dhs-blue-30: #7aa5c1;
$dhs-blue-20: #b8cfde;
$dhs-blue-15: #d6e3ec;
$dhs-blue-10: #f5f8fa;


/*--- Light Blue ---*/
$dhs-light-blue-90: #000507;
$dhs-light-blue-80: #002231;
$dhs-light-blue-70: #003e5a;
$dhs-light-blue-60: #005b84;
$dhs-light-blue:    #0078ae;
$dhs-light-blue-40: #3d98c1;
$dhs-light-blue-30: #7ab9d5;
$dhs-light-blue-20: #b8d9e8;
$dhs-light-blue-15: #d6e9f2;
$dhs-light-blue-10: #f5fafc;


/*--- Gray ---*/
$dhs-gray-90: #080808;
$dhs-gray-80: #363637;
$dhs-gray-70: #646566;
$dhs-gray-60: #929395;
$dhs-gray:    #c0c2c4;
$dhs-gray-40: #cfd1d2;
$dhs-gray-30: #dedfe0;
$dhs-gray-20: #edeeee;
$dhs-gray-15: #f5f5f6;
$dhs-gray-10: #fcfdfd;


/*--- Dark Gray ---*/
$dhs-dark-gray-90: #040404;
$dhs-dark-gray-85: #1b1b1b;
$dhs-dark-gray-80: #19191a;
$dhs-dark-gray-70: #2f2f30;
$dhs-dark-gray-60: #444547;
$dhs-dark-gray:    #5a5b5d;
$dhs-dark-gray-40: #828284;
$dhs-dark-gray-30: #a9aaab;
$dhs-dark-gray-20: #d1d1d2;
$dhs-dark-gray-15: #e5e5e5;
$dhs-dark-gray-10: #f8f8f9;


/*--- Red ---*/
$dhs-red-90: #080102;
$dhs-red-80: #37050d;
$dhs-red-70: #660919;
$dhs-red-60: #950e24;
$dhs-red:    #c41230;
$dhs-red-40: #d24b62;
$dhs-red-30: #e08493;
$dhs-red-20: #eebdc5;
$dhs-red-15: #f6d9de;
$dhs-red-10: #fdf6f7;


/*--- Green ---*/
$dhs-green-90: #040602;
$dhs-green-80: #1a2a0e;
$dhs-green-70: #314f1a;
$dhs-green-60: #477326;
$dhs-green:    #5e9732;
$dhs-green-40: #85b063;
$dhs-green-30: #abc994;
$dhs-green-20: #d2e2c6;
$dhs-green-15: #e5eede;
$dhs-green-10: #f9fbf7;
