@use "uswds-core" as *;

fieldset {
    border: solid 1px color('base-lighter');
    padding: units(3);
}

fieldset:not(:first-child) {
    margin-top: units(2);
}

fieldset.registrar-fieldset__contact {
    // This fieldset is for SR purposes only
    border: 0;
    margin: 0;
    padding: 0;
}
