@use "uswds-core" as *;

.usa-form .usa-button {
  margin-top: units(3);
}

.usa-form .usa-button.margin-bottom-075 {
  margin-bottom: units(1.5);
}

.usa-form .usa-button.margin-top-1 {
  margin-top: units(1);
}

.usa-form--extra-large {
  max-width: none;
}

.usa-form--text-width {
  max-width: measure(5);
}

.usa-textarea {
  @include at-media('tablet') {
    height: units('mobile');
  }
}

.usa-form-group--unstyled-error {
  margin-left: 0;
  padding-left: 0;
  border-left: none;
}

legend.float-left-tablet + button.float-right-tablet {
  margin-top: .5rem;
  @include at-media('tablet') {
    margin-top: 1rem;
  }
}

// Custom style for disabled inputs
@media (prefers-color-scheme: light) {
  .usa-input:disabled, .usa-select:disabled, .usa-textarea:disabled {
    background-color: $theme-disabled-input-background-color;
    color: $theme-disabled-input-color;
  }
}

@media (prefers-color-scheme: dark) {
  .usa-input:disabled, .usa-select:disabled, .usa-textarea:disabled {
    background-color: var(--body-fg);
    color: var(--close-button-hover-bg);
  }
}