@use "uswds-core" as *;
@use "cisa_colors" as *;

.usa-form .usa-button {
  margin-top: units(3);
}

.usa-form .usa-button.margin-bottom-075 {
  margin-bottom: units(1.5);
}

.usa-form .usa-button.margin-top-1 {
  margin-top: units(1);
}

.usa-form--extra-large {
  max-width: none;
  .usa-summary-box {
    max-width: 600px;
  }
}

.usa-form--text-width {
  max-width: measure(5);
}

.usa-textarea {
  @include at-media('tablet') {
    height: units('mobile');
  }
}

.usa-form-readonly {
  // todo update
  border-top: 2px #{$dhs-dark-gray-15} solid;

  .bold-usa-label label.usa-label{
    font-weight: bold;
  }

  &.bold-usa-label label.usa-label{
    font-weight: bold;
  }

}

.usa-form-readonly:first-of-type  {
  border-top: None;
  margin-top: 0px !important;
}

.usa-form-readonly > .usa-form-group:first-of-type {
  margin-top: unset;
}

.usa-form-group--unstyled-error {
  margin-left: 0;
  padding-left: 0;
  border-left: none;
}

legend.float-left-tablet + button.float-right-tablet {
  margin-top: .5rem;
  @include at-media('tablet') {
    margin-top: 1rem;
  }
}

@media (min-width: 35em) {
  .usa-form--largest {
      max-width: 35rem;
  }
}


// Custom style for disabled inputs
@media (prefers-color-scheme: light) {
  .usa-input:disabled, .usa-select:disabled, .usa-textarea:disabled {
    background-color: #eeeeee;
    color: #666666;
  }
}

@media (prefers-color-scheme: dark) {
  .usa-input:disabled, .usa-select:disabled, .usa-textarea:disabled {
    background-color: var(--body-fg);
    color: var(--close-button-hover-bg);
  }
}