@use "uswds-core" as *;
@use "cisa_colors" as *;

.usa-logo button {
    color: #{$dhs-dark-gray-85};
    font-weight: 700;
    font-family: family('sans');
    font-size: 1.6rem;
    line-height: 1.1;
}

.usa-logo button.usa-button--unstyled.disabled-button:hover{
    color: #{$dhs-dark-gray-85};
}
