@use "uswds-core" as *;

.dotgov-table a,
.usa-link--icon {
    display: flex;
    align-items: flex-start;
    color: color('primary');

    &:visited {
        color: color('primary');   
    }
    .usa-icon {
        // align icon with x height
        vertical-align: middle;      
    }
}
