@use "cisa_colors" as *;
@use "uswds-core" as *;

.usa-modal.wider-modal {
    width: 40% !important;
    max-width: 40% !important;
}

.usa-modal {
    .usa-modal__heading.blue-header{
        color: $dhs-blue;
    }
}