/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
   sass root. Don't edit the version
   in node_modules.
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
*/

// Finer grained letterspacing adjustments
$letter-space--xs: .0125em; 

@use "uswds-core" as *;

/* Styles for making visible to screen reader / AT users only. */
.sr-only {
   @include sr-only;
 }

 * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

 h1 {
  @include typeset('sans', '2xl', 2);
  margin: 0 0 units(2);
  color: color('primary-darker');
 }

 h2 {
  font-weight: font-weight('semibold');
  line-height: line-height('heading', 3);
  margin: units(4) 0 units(1);

  &:first-of-type {
    margin-top: units(2);
  }
 }

.register-form-step h3 {
  color: color('primary-dark');
  letter-spacing: $letter-space--xs;
  margin-top: units(3);
  margin-bottom: 0;
}

.register-form-step p,
.dashboard p {
  @include typeset('sans', 'sm', 5);
  max-width: measure(5);

  //TODO: Revisit
  // &:last-of-type {
  //   margin-bottom: 0;
  // }
}

.register-form-step a {
  color: color('primary');

  &:visited {
    color: color('violet-70v'); //USWDS default
  }
}

a.breadcrumb__back {
  display:flex;
  align-items: center;
  margin-bottom: units(2.5);
  &:visited {
    color: color('primary');
  }

  @include at-media('desktop') {
    //align to top of sidebar
    margin-top: units(-0.5);
  }
}

.sidenav__step--locked {
  color: color('base-darker');
  span {
    display: flex;
    align-items: flex-start;
    padding: units(1);

    .usa-icon {
       flex-shrink: 0;
       //align lock body to x-height
       margin: units('2px') units(1) 0 0;
    }
  }
}

.stepnav {
  margin-top: units(2);
}

.ao_example p {
  margin-top: units(1);
}

.review__step__name {
  font-weight: font-weight('semibold');
}

/** ---- DASHBOARD ---- */

#wrapper.dashboard {
  background-color: color('primary-lightest');
}


section.dashboard {
  background-color: color('white');
  border: 1px solid color('base-lighter');
  border-radius: 4px;
  padding: 0 units(2) units(3);
  margin-top: units(3);

  h2 {
    margin-bottom: units(2);
  }

  p {
    margin-bottom: 0;
  }

  .usa-table {
    width: 100%;

    a {
      display: flex;
      align-items: flex-start;
      color: color('primary');

      &:visited {
        color: color('primary');
      }
      .usa-icon {
        // align icon with x height
        margin-top: units(0.5);
        margin-right: units(0.5);
      }
    }

  }

  // Table on small mobile
  .usa-table--stacked {
    td, th {
      padding: units(1) units(2) units(2px) 0;
      border: none;
    }

    tr:first-child th:first-child {
      border-top: none;
    }

    tr {
      border-bottom: none;
      border-top: 2px solid color('base-light');
      margin-top: units(2);

      &:first-child {
        margin-top: 0;
      }
    }

    td[data-label]:before, 
    th[data-label]:before {
      color: color('primary-darker');
      padding-bottom: units(2px);
    }
  }
  
  @include at-media(mobile-lg) {
    margin-top: units(5);

    h2 {
      margin-bottom: units(3);
    }

    .usa-table tr {
      border: none;
    }

    .usa-table {
      td, th {
        // border: none; //reset border
        border-bottom: 1px solid color('base-light');
      }

      thead th {
        color: color('primary-darker');
        border-bottom: 2px solid color('base-light');
      }

      tbody tr:last-of-type {
        td, th {
          border-bottom: 0;
        }
      }

      td, th {
        padding: units(2);
      }

      th:first-of-type {
        padding-left: 0;
      }

      thead tr:first-child th:first-child {
        border-top: none;
      }
    }
  }
}


main {
  //Workaround because USWDS units jump from 10 to 15
  padding-bottom: units(10) + units(2);
  padding-top: units(5);
}

footer {
  border-top: 1px solid color('primary-darker');
}

.usa-footer__secondary-section {
  background-color: color('primary-lightest');
}


abbr[title] {
  // workaround for underlining abbr element
  border-bottom: none;
  text-decoration: none;
}
