/*
----------------------------------------
USWDS with settings overrides
----------------------------------------
Uncomment the following lines and add a list of changed settings
in the form $setting: value,
----------------------------------------
*/

//
//  @use "uswds-core" with (
//    $setting: value,
//    $setting: value
//  );
//
@use "cisa_colors" as *;

@use "uswds-core" with (

  /*----------------------------
  # USWDS Compile Settings
  -----------------------------*/
  $theme-show-notifications: false,


  /*----------------------------
  # Banner Settings
  -----------------------------*/
  $theme-banner-background-color: "primary-dark",
  $theme-banner-link-color: default,

  /*
  # Footer Settings
  */
  $theme-identifier-background-color: 'primary-darker',
  $theme-identifier-identity-domain-color: 'base-lighter',
  $theme-identifier-secondary-link-color: 'base-lighter',


  /*----------------------------
  # Hero Image
  -----------------------------*/
  $theme-hero-image: "../img/registrar/dotgov_banner.png",


  /*----------------------------
  # Typography Settings
  -----------------------------
  ## Type scales
  ----------------------------*/ 
  $theme-type-scale-2xl: 12,
  $theme-type-scale-xl: 10,
  $theme-type-scale-lg: 8,
  $theme-type-scale-md: 7,
  $theme-type-scale-sm: 5,
  $theme-type-scale-xs: 3,
  
  /*---------------------------
  ## Heading sizing
  ----------------------------*/ 
  $theme-h1-font-size: "2xl",
  $theme-h2-font-size: "xl",
  $theme-h4-font-size: "md",
  $theme-h5-font-size: "sm",
  $theme-h6-font-size: "xs",
  $theme-body-font-size: "sm",

  /*---------------------------
  ## Font weights
  ----------------------------*/ 
  $theme-font-weight-semibold: 600,

  /*---------------------------
  ## Font roles
  ----------------------------*/ 
  $theme-font-role-heading: 'sans',


  /*----------------------------
  # Color Settings
  ------------------------------
  ## Primary color
  ----------------------------*/ 
  $theme-color-primary-darkest: $dhs-blue-80,
  $theme-color-primary-darker: $dhs-blue-70,
  $theme-color-primary-dark: $dhs-blue-60,
  $theme-color-primary: $dhs-blue,
  $theme-color-primary-light: $dhs-blue-30,
  $theme-color-primary-lighter: $dhs-blue-15,
  $theme-color-primary-lightest: $dhs-blue-10,

  /*---------------------------
  ## Accent color
  ----------------------------*/ 
  $theme-color-accent-cool: $dhs-light-blue-60,
  $theme-color-accent-cool-dark: $dhs-light-blue-70,
  $theme-color-accent-cool-light: $dhs-light-blue-40,
  $theme-color-accent-cool-lighter: $dhs-light-blue-30,
  $theme-color-accent-cool-lightest: $dhs-light-blue-15,

  /*---------------------------
  ## Error state
  ----------------------------*/ 
  $theme-color-error-darker: $dhs-red-70,
  $theme-color-error-dark: $dhs-red-60,
  $theme-color-error: $dhs-red,
  $theme-color-error-light: $dhs-red-30,
  $theme-color-error-lighter: $dhs-red-15,

  /*---------------------------
  ## Success state
  ----------------------------*/ 
  $theme-color-success-darker: $dhs-green-70,
  $theme-color-success-dark: $dhs-green-60,
  $theme-color-success: $dhs-green,
  $theme-color-success-light: $dhs-green-30,
  $theme-color-success-lighter: $dhs-green-15,

  /*---------------------------
  ## Emergency state
  ----------------------------*/ 
  $theme-color-emergency: #FFC3F9,

  /*---------------------------
  # Input settings 
  ----------------------------*/ 
  $theme-input-line-height: 5,

  /*---------------------------
  # Component settings 
  ----------------------------- 
  ## Sorted Table
  ----------------------------*/ 
  $theme-table-sorted-header-background-color: "accent-cool-lighter",
  $theme-table-sorted-background-color: "accent-cool-lightest",
  $theme-table-sorted-icon-color: "primary-darker",
  $theme-table-unsorted-icon-color: "primary",

  /*----------------------------
  # Tooltip Settings
  -----------------------------*/
  $theme-tooltip-background-color: "accent-cool-lightest",
  $theme-tooltip-font-color: "black"
);
