/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
   sass root. Don't edit the version
   in node_modules.
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
*/

@use "uswds-core" as *;

/* Styles for making visible to screen reader / AT users only. */
.sr-only {
   @include sr-only;
 }

 h1 {
  @include typeset('sans', '2xl', 2);
  margin: 0 0 units(1);
 }

 h2 {
  font-weight: font-weight('semibold');
  line-height: line-height('heading', 3);
  margin: units(4) 0 units(1);

  &:first-of-type {
    margin-top: units(2);
  }
 }

.no-text-after {
  margin-bottom: units(.5);
}

.reg-form-step p {
  @include typeset('sans', 'sm', 5);
  max-width: measure(5);

  &:last-of-type {
    margin-bottom: 0;
  }
}

.reg-form-step a {
  color: color('primary');

  &:visited {
    color: color('violet-70v'); //USWDS default
  }
}

a.bread__back {
  display:flex;
  align-items: center;
  margin-bottom: units(2.5);
  &:visited {
    color: color('primary');
  }

  @include at-media('desktop') {
    //align to top of sidebar
    margin-top: units(-0.5);
  }
}

.sidenav__step--locked {
  color: color('base-darker');
  span {
    display: flex;
    align-items: flex-start;
    padding: units(1);

    .usa-icon {
       flex-shrink: 0;
       //align lock body to x-height
       margin: units('2px') units(1) 0 0; 
    }
  }  
}

.stepnav {
  margin-top: units(2);
}

.review__step__name {
  font-weight: font-weight('semibold');
}
