/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
   sass root. Don't edit the version
   in node_modules.
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
*/

// Finer grained letterspacing adjustments
$letter-space--xs: .0125em;

@use "uswds-core" as *;

/* Styles for making visible to screen reader / AT users only. */
.sr-only {
   @include sr-only;
 }

 * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.usa-logo {
  margin-top: units(2);
}

.usa-logo__text {
  @include typeset('sans', 'xl', 2);
  color: color('primary-darker');
}

.usa-nav__primary {
  margin-top: units(1);
}

 h1 {
  @include typeset('sans', '2xl', 2);
  margin: 0 0 units(2);
  color: color('primary-darker');
 }

 h2 {
  font-weight: font-weight('semibold');
  line-height: line-height('heading', 3);
  margin: units(4) 0 units(1);
 }

.register-form-step > h1 {
  //align to top of sidebar on first page of the form
  margin-top: units(-1);
}

 //Tighter spacing when H2 is immediatly after H1
.register-form-step .usa-fieldset:first-of-type h2:first-of-type,
.register-form-step h1 + h2 {
  margin-top: units(1);
}

.register-form-step h3 {
  color: color('primary-dark');
  letter-spacing: $letter-space--xs;
  margin-top: units(3);
  margin-bottom: 0;

  + p {
    margin-top: units(0.5);
  }
}

.register-form-step h4 {
  margin-bottom: 0;

  + p {
    margin-top: units(0.5);
  }
}

.register-form-step p,
.register-form-step .usa-list li,
.dashboard p
{
  @include typeset('sans', 'sm', 5);
  max-width: measure(5);
}

.register-form-step a {
  color: color('primary');

  &:visited {
    color: color('violet-70v'); //USWDS default
  }
}
.register-form-step .usa-form-group:first-of-type, 
.register-form-step .usa-label:first-of-type {
  margin-top: units(1);
}

/* Make "placeholder" links visually obvious */
a[href$="todo"]::after {
  background-color: yellow;
  content: " [link TBD]";
  font-style: italic;
}

a.breadcrumb__back {
  display:flex;
  align-items: center;
  margin-bottom: units(2.5);
  &:visited {
    color: color('primary');
  }

  @include at-media('desktop') {
    //align to top of sidebar
    margin-top: units(-0.5);
  }
}

.usa-sidenav {
  .usa-sidenav__item {
    span {
      a.link_usa-checked {
        padding: 0;
      }
    }    
  }
}

.sidenav__step--locked {
  color: color('base-darker');
  span {
    display: flex;
    align-items: flex-start;
    padding: units(1);

    .usa-icon {
       flex-shrink: 0;
       //align lock body to x-height
       margin: units('2px') units(1) 0 0;
    }
  }
}


.stepnav {
  margin-top: units(2);
}

.ao_example p {
  margin-top: units(1);
}

.domain_example {
  p {
    margin-bottom: 0;
  }

  .usa-list {
    margin-top: units(0.5);
  }
}

.review__step {
  margin-top: units(3);

  &:first-of-type {
    margin-top: units(4);
  }
}

.review__step hr {
  border: none; //reset
  border-top: 1px solid color('primary-dark');
  margin-top: 0;
  margin-bottom: units(0.5);
}

.review__step__title a:visited {
  color: color('primary');
}

.review__step__name {
  color: color('primary-dark');
  font-weight: font-weight('semibold');
  margin-bottom: units(0.5);
}


/** ---- DASHBOARD ---- */

#wrapper.dashboard {
  background-color: color('primary-lightest');
  padding-top: units(5);
}

section.dashboard {
  background-color: color('white');
  border: 1px solid color('base-lighter');
  border-radius: 4px;
  padding: 0 units(2) units(3);
  margin-top: units(3);

  h2 {
    margin-bottom: units(2);
  }

  p {
    margin-bottom: 0;
  }

  @include at-media(mobile-lg) {
    margin-top: units(5);

    h2 {
      margin-bottom: units(3);
    }
  }
}


.dotgov-table {
  width: 100%;

  a {
    display: flex;
    align-items: flex-start;
    color: color('primary');

    &:visited {
      color: color('primary');
    }

    .usa-icon {
      // align icon with x height
      margin-top: units(0.5);
      margin-right: units(0.5);
    }
  }

  th[data-sortable]:not([aria-sort]) .usa-table__header__button {
    right: auto;
  }
}

.dotgov-table--stacked {
    td, th {
      padding: units(1) units(2) units(2px) 0;
      border: none;
    }

    tr:first-child th:first-child {
      border-top: none;
    }

    tr {
      border-bottom: none;
      border-top: 2px solid color('base-light');
      margin-top: units(2);

      &:first-child {
        margin-top: 0;
      }
    }

    td[data-label]:before,
    th[data-label]:before {
      color: color('primary-darker');
      padding-bottom: units(2px);
    }
}

@include at-media(mobile-lg) {

  .dotgov-table {
    tr {
      border: none;
    }

    td, th {
      border-bottom: 1px solid color('base-light');
    }

    thead th {
      color: color('primary-darker');
      border-bottom: 2px solid color('base-light');
    }

    tbody tr:last-of-type {
      td, th {
        border-bottom: 0;
      }
    }
    
    tbody th {
      word-break: break-word;
    }

    td, th,
    .usa-tabel th{
      padding: units(2) units(2) units(2) 0;
    }

    th:first-of-type {
      padding-left: 0;
    }

    thead tr:first-child th:first-child {
      border-top: none;
    }
  }
}


#wrapper {
  padding-top: units(3);
  padding-bottom: units(6) * 2 ; //Workaround because USWDS units jump from 10 to 15
}


footer {
  border-top: 1px solid color('primary-darker');
}

.usa-footer__secondary-section {
  background-color: color('primary-lightest');
}


abbr[title] {
  // workaround for underlining abbr element
  border-bottom: none;
  text-decoration: none;
}
