@use "uswds-core" as *;
@use "cisa_colors" as *;

.usa-card__container {
    background-color: #{$dhs-blue-10};
    border-color: #{$dhs-blue-30};
    border-width: 1px;
    border-radius: 0.25rem;
    cursor: pointer;
}

.usa-card__header {
    // padding: 2rem;
}

.usa-card__heading {
    color: #{$dhs-blue};
}

/* ----------------------------------
Custom tag for Enterprise pill
---------------------------------- */
.usa-tag--enterprise {
    @extend .usa-tag;
    background-color: #{$dhs-blue-10};
    border: 1px solid #{$dhs-blue-30};
    color: #{$dhs-blue}; 
    font-weight: 600; // semi-bold
    padding: 1px 0.5rem;
    font-size: font-size("body", "sm");
}   