@use "uswds-core" as *;
@use "cisa_colors" as *;
@use "usa-tag";

.usa-card__container {
    background-color: #{$dhs-blue-10};
    border-color: #{$dhs-blue-30};
    border-width: 1px;
    border-radius: 0.25rem;
    cursor: pointer;
    vertical-align: bottom;
    text-align: left;
    width: 100%;
    max-width: 588px;
}

.usa-card__heading {
    color: #{$dhs-blue};
    display: flex;
    align-items: center;
}
