@use "uswds-core" as *;

fieldset {
    border: solid 1px color('base-lighter');
    padding: units(3);
}

fieldset:not(:first-child) {
    margin-top: units(2);
}

fieldset .margin-top-4{
    margin-top: units(4) !important;
}