@use "uswds-core" as *;

dt {
    color: color('primary-dark');
    margin-top: units(2);
    font-weight: font-weight('semibold');
    // The units mixin can only get us close, so it's between 
    // hardcoding the value and using  in markup
    font-size: 16.96px;
}
dd {
    margin-left: 0;
}

.checklist-text-wrapper {
    // min-width: 0;
    line-height: 1;
}

.checklist-bold-text {
    margin-bottom: 0.25rem;
}

.usa-list--unstyled .checklist-item svg.usa-icon {
    // display: block;
    width: 1em !important;
    height: 1em !important;
    min-width: 1em !important;
    min-height: 1em !important;
}

// .checklist-item > svg.usa-icon {
//     vertical-align: initial;
//     align-self: flex-start;
//     flex: 0 0 auto;
//   }
  
// .checklist-text-wrapper {
//     min-width: 0;
// }

// .checklist-bold-text {
//     display: block;
//     line-height: 1;
// }