@use "uswds-core" as *;

// Finer grained letterspacing adjustments
$letter-space--xs: .0125em;

p,
address, 
.usa-list li { 
  @include typeset('sans', 'sm', 5); 
  max-width: measure(5);
}

h1, h2, h3, h4, h5, h6 {
  color: color('primary-darker');
}

h1 {
  font-size: 2.125rem;
  @include typeset('sans', '2xl', 2);
  margin: 0 0 units(2);
}

h2 {
  margin: units(4) 0 units(1);
}

h3, .h3 {
  font-size: 1.25rem;
  font-weight: font-weight('semibold');
}

h4, .h4 {
  font-size: 1.15rem;
  font-weight: font-weight('semibold');
}

.p--blockquote {
  padding-left: units(1);
  border-left: 2px solid color('base-lighter');
}

.summary-item__title {
  // match h3 at 18.72px and semibold
  font-size: 1.25em;
  font-weight: 600;
}
