@use "uswds-core" as *;

// Finer grained letterspacing adjustments
$letter-space--xs: .0125em;

p,
address, 
.usa-list li { 
  @include typeset('sans', 'sm', 5); 
  max-width: measure(5);
}

h1:not(.usa-alert__heading),
// .module h2 excludes headers in DJA and cards
h2:not(.usa-alert__heading, .module h2, .usa-card__heading),
h3:not(.usa-alert__heading),
h4:not(.usa-alert__heading),
h5:not(.usa-alert__heading),
h6:not(.usa-alert__heading) {
  color: color('primary-darker');
}

h1, .h1 {
  font-size: 2.125rem;
  @include typeset('sans', '2xl', 2);
  margin: 0 0 units(2);
}

h2, .h2 {
  line-height: 1.3;
  margin: units(4) 0 units(1);
}

h3, .h3 {
  font-size: 1.25rem;
  font-weight: font-weight('semibold');
}

h4, .h4 {
  font-size: 1.125rem;
  line-height: 1.25;
  font-weight: font-weight('semibold');
}

.p--blockquote {
  padding-left: units(1);
  border-left: 2px solid color('base-lighter');
}

.font-body-1 {
  font-size: size('body', 1);
}

h2, .h2 {
  + p {
    margin-top: units(.5);
  }
}