<section class="usa-site-alert usa-site-alert--info margin-y-0 {% if add_class %}{{ add_class }}{% endif %}" aria-label="Site alert">
    <div class="usa-alert">
      <div class="usa-alert__body usa-alert__body--widescreen">
        <h4 class="usa-alert__heading">
          New domain requests are paused
        </h4>
        <p class="usa-alert__text maxw-none">
            Due to a lapse in federal funding, new domain requests will not be processed. Changes can be made to registered domains.
        </p>
      </div>
    </div>
</section>
