<section class="usa-site-alert usa-site-alert--emergency margin-y-0 {% if add_class %}{{ add_class }}{% endif %}" aria-label="Site alert">
    <div class="usa-alert">
      <div class="usa-alert__body usa-alert__body--widescreen">
        <h3 class="usa-alert__heading">
            System outage
        </h3>
        <p class="usa-alert__text maxw-none">
          Oct 16, 24:00 UTC: We're investigating an outage on the .gov registrar. The .gov zone and individual domains remain online. However, you can't request a new domain or manage an existing one at this time.
        </p>
      </div>
    </div>
</section>
