<section class="usa-site-alert usa-site-alert--emergency margin-y-0 {% if add_class %}{{ add_class }}{% endif %}" aria-label="Site alert">
    <div class="usa-alert">
      <div class="usa-alert__body usa-alert__body--widescreen">
        <h3 class="usa-alert__heading">
          Internet outage affecting various services
        </h3>
        <p class="usa-alert__tex maxw-none">
          June 12, 2025 17:00 ET: We’re aware of widespread service outages reported for various 
          cloud services. We've received reports of connection issues affecting domain management 
          and domain requests. The issue appears tied to broader networking problems, and we’re 
          monitoring it closely. If you need additional support, please reach out to our support 
          team at help@get.gov.
        </p>
      </div>
    </div>
</section>
