{% if domain.expiration_date or domain.display_created_at %}
  <p>
    {% if domain.expiration_date %}
    <strong class="text-primary-dark">Date of expiration:</strong> 
    {{ domain.expiration_date|date }}
    {% if domain.is_expired %} <span class="text-error"><strong>(expired)</strong></span>{% endif %}
    <br/>
    {% endif %}
    {% if domain.display_created_at %}
    <strong class="text-primary-dark">Date created:</strong> {{ domain.display_created_at|date }}{% endif %}
  </p>
{% endif %}
