{% load field_helpers url_helpers %}

{% if is_federal %}
  {% if federal_type == 'executive' %}

    <ul class="usa-list">
      <li>fema.gov</li>
      <li>medicare.gov</li>
      <li>usda.gov</li>
    </ul>

  {% elif federal_type == 'judicial' %}

    <ul class="usa-list">
      <li>uscourts.gov</li>
      <li>ustaxcourt.gov</li>
      <li>ussc.gov</li>
    </ul>

  {% elif federal_type == 'legislative' %}
  
    <ul class="usa-list">
      <li>gao.gov</li>
      <li>gpo.gov</li>
      <li>loc.gov</li>
    </ul>
{% endif %}

{% elif generic_org_type == 'interstate' %}

  <ul class="usa-list">
    <li>EMScompact.gov</li>
    <li>wmataOIG.gov</li>
    <li>trpa.gov</li>
  </ul>

{% elif generic_org_type == 'state_or_territory' %}
  <p>State .gov domains must include the two-letter state abbreviation or clearly spell out the state name.</p> 
  <p><strong>Examples:</strong></p>
  <ul class="usa-list">
    <li>AmericanSamoa.gov</li>
    <li>Colorado.gov</li>
    <li>MN.gov</li>
    <li>Guam.gov</li>
  </ul>

{% elif generic_org_type == 'tribal' %}
  <p>Tribal domains may include the suffix -nsn, for native sovereign nation.</p>
  <p><strong>Examples:</strong></p>
  <ul class="usa-list">
    <li>tbyi.gov</li>
    <li>pitu.gov</li>
    <li>TulalipTribalCourt-nsn.gov</li>
  </ul>

{% elif generic_org_type == 'county' %}
  <p>Most county .gov domains must include the two-letter state abbreviation or the full state name. County names that aren’t shared by any other city, county, parish, town, borough, village or equivalent in the U.S. (at the time a domain is granted) don’t have to refer to their state in their domain name. Counties can include “county” in their domain to distinguish it from other places with similar names.</p> 
    
<p>We use the <a class="usa-link usa-link--external" rel="noopener noreferrer" target="_blank" href="https://www.census.gov/geographies/reference-files/time-series/geo/gazetteer-files.html">Census Bureau’s National Places Gazetteer Files</a> to determine if county names are unique.</p>
  <p><strong>Examples:</strong></p>
  <ul class="usa-list">
    <li>LACounty.gov</li>
    <li>LivingstonParishLA.gov</li>
    <li>MitchellCountyNC.gov</li>
    <li>MiamiDade.gov</li>
  </ul>

{% elif generic_org_type == 'city' %}
  <p>Most city domains must include the two-letter state abbreviation or clearly spell out the state name. Using phrases like “City of” or “Town of” is optional.</p>
  <p>Cities that meet one of the criteria below don’t have to refer to their state in their domain name.
    <ul class="usa-list">
      <li>The city name is not shared by any other U.S. city, town, village, or county. We use the <a class="usa-link usa-link--external" rel="noopener noreferrer" target="_blank" href="https://www.census.gov/geographies/reference-files/time-series/geo/gazetteer-files.html">Census Bureau’s National Places Gazetteer Files</a> to determine if names are unique.</li>
      <li>The city is so well known that it doesn’t need a state reference to communicate location. We use the list of U.S. “dateline cities” in the Associated Press Stylebook as part of our decision.</li>
      <li>It’s one of the 150 largest cities by population, <a class="usa-link usa-link--external" rel="noopener noreferrer" target="_blank" href="https://www.census.gov/data/tables/time-series/demo/popest/2020s-total-cities-and-towns.html">according to the Census Bureau.</a></li>
    </ul>
 <p><strong>Examples:</strong></p>
    <ul class="usa-list">
      <li>CityofEudoraKS.gov</li>
      <li>WallaWallaWA.gov</li>
      <li>Pocatello.gov</li>
    </ul>
  </p>

{% elif generic_org_type == 'special_district' %}
  <p>Domain names must represent your organization or institutional name, not solely the services you provide. It also needs to include your two-letter state abbreviation or clearly spell out the state name.</p>
  <p><strong>Examples:</strong></p>
  <ul class="usa-list">
    <li>GlacierViewFire.gov</li>
    <li>TechshareTX.gov</li>
    <li>UtahTrust.gov</li>
  </ul>

{% elif generic_org_type == 'school_district' %}
  <p>Domain names must represent your organization or institutional name.</p>
    <p><strong>Examples:</strong></p>
  <ul class="usa-list">
    <li>mckinneyISDTX.gov</li>
    <li>BooneCSDIA.gov</li>
  </ul>
  

{%endif %}

