{% load static %}


{% comment %} Stores the json endpoint in a url for easier access {% endcomment %}
<!-- {% url 'get_domains_json' as url %} -->


<!-- <span id="get_domains_json_url" class="display-none">{{url}}</span> -->

<!-- Org model banner (org manager can view, domain manager can edit)  -->
{% if num_expiring_domains > 0 and has_any_domains_portfolio_permission %}
<section class="usa-site-alert--slim usa-site-alert--info margin-bottom-2 {% if add_class %}{{ add_class }}{% endif %}" aria-label="Site alert">
  <div class="usa-alert">
    <div class="usa-alert__body">
      <p class="usa-alert__text maxw-none">
        {% if num_expiring_domains == 1%}  
        One domain will expire soon. Go to "Manage" to renew the domain. <a href="#" id="link-expiring-domains" class="usa-link" tabindex="0" aria-label="Show expiring domains. This will filter the Domains table to only show the expiring domain.">Show expiring domain.</a>
        {% else%}
        Multiple domains will expire soon. Go to "Manage" to renew the domains. <a href="#" id="link-expiring-domains" class="usa-link" tabindex="0" aria-label="Show expiring domains. This will filter the Domains table to only show the expiring domains.">Show expiring domains.</a>
        {% endif %}
      </p>
    </div>
  </div>
</section>
{% endif %}

<section class="section-outlined domains margin-top-0{% if portfolio %} section-outlined--border-base-light{% endif %}" id="domains">
  <div class="section-outlined__header margin-bottom-3 grid-row">
    {% if not portfolio %}
      <div class="grid-row grid-col-12">
        <h2 id="domains-header" class="display-inline-block flex-fill">Domains</h2>
        <!-- ---------- EXPORT (non-org placement) ---------- -->
        {% if user_domain_count and user_domain_count > 0 %}
          {% with export_aria="Domains report component" export_url='export_data_type_user' %}
              {% include "includes/export.html" %}
          {% endwith %}
        {% endif %}
      </div>
    {% else %}
      <!-- Embedding the portfolio value in a data attribute -->
      <span id="portfolio-js-value" data-portfolio="{{ portfolio.id }}"></span>
    {% endif %}
    <!-- ---------- SEARCH ---------- -->
    {% with label_text="Search by domain name" item_name="domains" aria_label_text="Domains search component"%}
      {% include "includes/search.html" %}
    {% endwith %}
    <!-- ---------- EXPORT (org placement) ---------- -->
    {% if user_domain_count and user_domain_count > 0 and portfolio%}
      {% with export_aria="Domains report component" export_url='export_data_type_user' %}
          {% include "includes/export.html" %}
      {% endwith %}
    {% endif %}
  </div>
  <!-- Non org model banner -->
  {% if num_expiring_domains > 0 and not portfolio %}
  <section class="usa-site-alert--slim usa-site-alert--info margin-bottom-2 {% if add_class %}{{ add_class }}{% endif %}" aria-label="Site alert">
    <div class="usa-alert">
      <div class="usa-alert__body">
        <p class="usa-alert__text maxw-none">
          {% if num_expiring_domains == 1%}  
          One domain will expire soon. Go to "Manage" to renew the domain. <a href="#" id="link-expiring-domains" class="usa-link" tabindex="0" aria-label="Show expiring domains. This will filter the Domains table to only show the expiring domain.">Show expiring domain.</a>
          {% else%}
          Multiple domains will expire soon. Go to "Manage" to renew the domains. <a href="#" id="link-expiring-domains" class="usa-link" tabindex="0" aria-label="Show expiring domains. This will filter the Domains table to only show the expiring domains.">Show expiring domains.</a>
          {% endif %}
        </p>
      </div>
    </div>
  </section>
  {% endif %}

  <div class="display-flex flex-align-center"> 
    <span class="margin-right-2 margin-top-neg-1 usa-prose text-base-darker">Filter by</span>
    <div class="usa-accordion usa-accordion--select margin-right-2">
      <div class="usa-accordion__heading">
        <button
          type="button"
          class="usa-button usa-button--small padding--8-8-9 usa-button--outline usa-button--filter usa-accordion__button"
          id="domains__usa-button--filter"
          aria-expanded="false"
          aria-controls="filter-status"
          aria-label="Status, list 5 items"
        >
          <span class="text-bold display-none" id="domains__filter-indicator"></span> Status
          <svg class="usa-icon top-2px" aria-hidden="true" focusable="false" role="img" width="24">
            <use xlink:href="/public/img/sprite.svg#expand_more"></use>
          </svg>
        </button>
      </div>
      <div id="filter-status" class="usa-accordion__content usa-prose shadow-1">
        <h2>Status</h2>
        <fieldset class="usa-fieldset margin-top-0">
          <legend class="usa-legend">Select to apply <span class="sr-only">status</span> filter</legend>
          <div class="usa-checkbox">
            <input
              class="usa-checkbox__input"
              id="filter-status-dns-needed"
              type="checkbox"
              name="filter-status"
              value="unknown"
            />
            <label class="usa-checkbox__label" for="filter-status-dns-needed"
              >DNS Needed</label
            >
          </div>
          <div class="usa-checkbox">
            <input
              class="usa-checkbox__input"
              id="filter-status-ready"
              type="checkbox"
              name="filter-status"
              value="ready"
            />
            <label class="usa-checkbox__label" for="filter-status-ready"
              >Ready</label
            >
          </div>
          <div class="usa-checkbox">
            <input
              class="usa-checkbox__input"
              id="filter-status-on-hold"
              type="checkbox"
              name="filter-status"
              value="on hold"
            />
            <label class="usa-checkbox__label" for="filter-status-on-hold"
              >On hold</label
            >
          </div>
          <div class="usa-checkbox">
            <input
              class="usa-checkbox__input"
              id="filter-status-expired"
              type="checkbox"
              name="filter-status"
              value="expired"
            />
            <label class="usa-checkbox__label" for="filter-status-expired"
              >Expired</label
            >
          </div>
          <div class="usa-checkbox">
            <input
              class="usa-checkbox__input"
              id="filter-status-deleted"
              type="checkbox"
              name="filter-status"
              value="deleted"
            />
            <label class="usa-checkbox__label" for="filter-status-deleted"
              >Deleted</label
            >
          </div>
          <div class="usa-checkbox">
            <input
              class="usa-checkbox__input"
              id="filter-status-expiring"
              type="checkbox"
              name="filter-status"
              value="expiring"
            />
            <label class="usa-checkbox__label" for="filter-status-expiring"
              >Expiring soon</label>
          </div>
        </fieldset>
      </div>
    </div>
    <button
      type="button"
      class="usa-button usa-button--small padding--8-12-9-12 usa-button--outline usa-button--filter display-none"
      id="domains__reset-filters"
    >
      Clear filters
      <svg class="usa-icon top-1px" aria-hidden="true" focusable="false" role="img" width="24">
        <use xlink:href="/public/img/sprite.svg#close"></use>
      </svg>
    </button>
  </div>
   <div
      hx-trigger="load"
      hx-get="/get-domains-table-htmx"]
      hx-vals='{"portfolio": {{portfolio.id}} }'
      ></div>
   
  <!-- <div class="display-none usa-table-container--scrollable usa-table-container--override-overflow margin-top-0" tabindex="0" id="domains__table-wrapper">
    <table class="usa-table usa-table--borderless usa-table--stacked dotgov-table dotgov-table--stacked">
      <caption class="sr-only">Your registered domains</caption>
      <thead>
        <tr>
          <th data-sortable="name" scope="col" role="columnheader">Domain name</th>
          <th data-sortable="expiration_date" scope="col" role="columnheader">Expires</th>
          <th data-sortable="state_display" scope="col" role="columnheader">Status</th>
          {% if portfolio and has_view_portfolio_permission %}
            <th data-sortable="domain_info__sub_organization" scope="col" role="columnheader">Suborganization</th>
          {% endif %}
          <th 
            scope="col" 
            role="columnheader" 
          >
            Action
          </th>
        </tr>
      </thead>
      <tbody>
        
      </tbody>
    </table>
    <div
      class="usa-sr-only usa-table__announcement-region" id="domains__usa-table__announcement-region"
      aria-live="polite"
    ></div>
  </div> -->
  <!-- <div class="display-none" id="domains__no-data">
    <p>You don't have any registered domains.</p>
    <p class="maxw-none clearfix">
      <a href="https://get.gov/help/faq/#do-not-see-my-domain" class="float-right-tablet usa-link usa-link--icon" target="_blank">
        <svg class="usa-icon" aria-hidden="true" focusable="false" role="img" width="24">
          <use xlink:href="{%static 'img/sprite.svg'%}#help_outline"></use>
        </svg>
        Why don't I see my domain when I sign in to the registrar?
      </a>
    </p>
  </div>
  <div class="display-none" id="domains__no-search-results">
    <p>No results found</p>
  </div>
</section>
<nav aria-label="Pagination" class="usa-pagination flex-justify" id="domains-pagination">
  <span class="usa-pagination__counter text-base-dark padding-left-2 margin-bottom-1">  -->
    <!-- Count will be dynamically populated by JS -->
  <!-- </span>
  <ul class="usa-pagination__list"> -->
    <!-- Pagination links will be dynamically populated by JS -->
  <!-- </ul> 
</nav>-->