{% load url_helpers %}

<h2> 
  Next steps in this process
</h2>
<p>We received your .gov domain request. Our next step is to review your request. This usually takes 10 business days. We’ll email you if we have questions and when we complete our review. <a class="usa-link" rel="noopener noreferrer" target="_blank" href="{% public_site_url 'contact' %}">Contact us with any questions</a>.</p>

{% if show_withdraw_text %}
  <h2>
    Need to make changes?
  </h2>

  <p>If you need to change your request you have to first withdraw it. Once you withdraw the request you can edit it and submit it again. Changing your request might add to the wait time.</p>
{% endif %}
