{% load static %}

{% comment %} Stores the json endpoint in a url for easier access {% endcomment %}
{% url 'get_domain_requests_json' as url %}
<span id="get_domain_requests_json_url" class="display-none">{{url}}</span>

<section class="section-outlined domain-requests {% if portfolio %}margin-top-0 section-outlined--border-base-light{% endif %}" id="domain-requests">
    <div class="section-outlined__header margin-bottom-3 grid-row">
        {% if not portfolio %}
        <div class="grid-row grid-col-12">
            <h2 id="domain-requests-header" class="display-inline-block flex-fill">Domain requests</h2>
        </div>
        {% else %}
        <!-- Embedding the portfolio value in a data attribute -->
        <span id="portfolio-js-value" data-portfolio="{{ portfolio.id }}"></span>
        {% endif %}
        <!-- ---------- SEARCH ---------- -->
        {% with label_text=portfolio|yesno:"Search by domain name or requester,Search by domain name"  item_name="domain-requests" aria_label_text="Domain requests search component"%}
            {% include "includes/search.html" %}
        {% endwith %}
    </div>

    {% if portfolio %}
    <div class="display-flex flex-align-center"> 
        <span class="margin-right-2 margin-top-neg-1 usa-prose text-base-darker">Filter by</span>
        <div class="usa-accordion usa-accordion--select margin-right-2">
            <div class="usa-accordion__heading">
                <button
                    type="button"
                    class="usa-button usa-button--small padding--8-8-9 usa-button--outline usa-button--filter usa-accordion__button"
                    id="domain-requests__usa-button--filter"
                    aria-expanded="false"
                    aria-controls="filter-status"
                    aria-label="Status, list 7 items"
                >
                    <span class="text-bold display-none" id="domain-requests__filter-indicator"></span> Status
                    <svg class="usa-icon top-2px" aria-hidden="true" focusable="false" role="img" width="24">
                        <use xlink:href="/public/img/sprite.svg#expand_more"></use>
                    </svg>
                </button>
            </div>
            <div id="filter-status" class="usa-accordion__content usa-prose shadow-1">
                <h2>Status</h2>
                <fieldset class="usa-fieldset margin-top-0">
                    <legend class="usa-legend">Select to apply <span class="sr-only">status</span> filter</legend>
                    <div class="usa-checkbox">
                        <input
                            class="usa-checkbox__input"
                            id="filter-status-started"
                            type="checkbox"
                            name="filter-status"
                            value="started"
                        />
                        <label class="usa-checkbox__label" for="filter-status-started">Started</label>
                    </div>
                    <div class="usa-checkbox">
                        <input
                            class="usa-checkbox__input"
                            id="filter-status-submitted"
                            type="checkbox"
                            name="filter-status"
                            value="submitted"
                        />
                        <label class="usa-checkbox__label" for="filter-status-submitted">Submitted</label>
                    </div>
                    <div class="usa-checkbox">
                        <input
                            class="usa-checkbox__input"
                            id="filter-status-in-review"
                            type="checkbox"
                            name="filter-status"
                            value="in review"
                        />
                        <label class="usa-checkbox__label" for="filter-status-in-review">In review</label>
                    </div>
                    <div class="usa-checkbox">
                        <input
                            class="usa-checkbox__input"
                            id="filter-status-action-needed"
                            type="checkbox"
                            name="filter-status"
                            value="action needed"
                        />
                        <label class="usa-checkbox__label" for="filter-status-action-needed">Action needed</label>
                    </div>
                    <div class="usa-checkbox">
                        <input
                            class="usa-checkbox__input"
                            id="filter-status-rejected"
                            type="checkbox"
                            name="filter-status"
                            value="rejected"
                        />
                        <label class="usa-checkbox__label" for="filter-status-rejected">Rejected</label>
                    </div>
                    <div class="usa-checkbox">
                        <input
                            class="usa-checkbox__input"
                            id="filter-status-withdrawn"
                            type="checkbox"
                            name="filter-status"
                            value="withdrawn"
                        />
                        <label class="usa-checkbox__label" for="filter-status-withdrawn">Withdrawn</label>
                    </div>
                    <div class="usa-checkbox">
                        <input
                            class="usa-checkbox__input"
                            id="filter-status-ineligible"
                            type="checkbox"
                            name="filter-status"
                            value="ineligible"
                        />
                        <label class="usa-checkbox__label" for="filter-status-ineligible">Ineligible</label>
                    </div>
                </fieldset>
            </div>
        </div>
        <button
            type="button"
            class="usa-button usa-button--small padding--8-12-9-12 usa-button--outline usa-button--filter display-none"
            id="domain-requests__reset-filters"
        >
            Clear filters
            <svg class="usa-icon top-1px" aria-hidden="true" focusable="false" role="img" width="24">
                <use xlink:href="/public/img/sprite.svg#close"></use>
            </svg>
        </button>
    </div>
    {% endif %}

    <div class="display-none usa-table-container--scrollable usa-table-container--override-overflow margin-top-0" tabindex="0" id="domain-requests__table-wrapper">
        <table class="usa-table usa-table--borderless usa-table--stacked dotgov-table dotgov-table--stacked">
            <caption class="sr-only">Your domain requests</caption>
            <thead>
                <tr>
                    <th data-sortable="requested_domain__name" scope="col" role="columnheader">Domain name</th>
                    <th data-sortable="last_submitted_date" scope="col" role="columnheader">Submitted</th>
                    {% if portfolio %}
                    <th data-sortable="requester" scope="col" role="columnheader">Requested by</th>
                    {% endif %}
                    <th data-sortable="status" scope="col" role="columnheader">Status</th>
                    <th scope="col" role="columnheader">Action</th>
                </tr>
            </thead>
            <tbody id="domain-requests-tbody">
                <!-- AJAX will populate this tbody -->
            </tbody>
        </table>
        <div class="usa-sr-only usa-table__announcement-region" aria-live="polite" id="domain-requests__usa-table__announcement-region"></div>
    </div>

    <div class="display-none" id="domain-requests__no-data">
        <p>You haven't requested any domains.</p>
    </div>

    <div class="display-none" id="domain-requests__no-search-results">
        <p>No results found</p>
    </div>
</section>

<nav aria-label="Pagination" class="usa-pagination flex-justify" id="domain-requests-pagination">
    <span class="usa-pagination__counter text-base-dark padding-left-2 margin-bottom-1">
      <!-- Count will be dynamically populated by JS -->
    </span>
    <ul class="usa-pagination__list">
      <!-- Pagination links will be dynamically populated by JS -->
    </ul>
  </nav>
