{% load static %}

{% comment %} Stores the json endpoint in a url for easier access {% endcomment %}
{% url 'get_domain_requests_json' as url %}
<span id="get_domain_requests_json_url" class="display-none">{{url}}</span>
<section class="section-outlined domain-requests{% if portfolio %} section-outlined--border-base-light{% endif %}" id="domain-requests">
    <div class="grid-row">
      {% if not has_domain_requests_portfolio_permission %}
        <div class="mobile:grid-col-12 desktop:grid-col-6">
          <h2 id="domain-requests-header" class="flex-6">Domain requests</h2>
        </div>
      {% endif %}
      <div class="mobile:grid-col-12 desktop:grid-col-6">
        <section aria-label="Domain requests search component" class="flex-6 margin-y-2">
          <form class="usa-search usa-search--small" method="POST" role="search">
            {% csrf_token %}
            <button class="usa-button usa-button--unstyled margin-right-2 domain-requests__reset-search display-none" type="button">
              <svg class="usa-icon" aria-hidden="true" focusable="false" role="img" width="24">
                <use xlink:href="{%static 'img/sprite.svg'%}#close"></use>
              </svg>
              Reset
            </button>
            <label class="usa-sr-only" for="domain-requests__search-field">Search by domain name</label>
            <input
              class="usa-input"
              id="domain-requests__search-field"
              type="search"
              name="search"
              placeholder="Search by domain name"
            />
            <button class="usa-button" type="submit" id="domain-requests__search-field-submit">
              <img
                src="{% static 'img/usa-icons-bg/search--white.svg' %}"
                class="usa-search__submit-icon"
                alt="Search"
              />
            </button>
          </form>
        </section>
      </div>
    </div>
    <div class="domain-requests__table-wrapper display-none usa-table-container--scrollable margin-top-0" tabindex="0">
      <table class="usa-table usa-table--borderless usa-table--stacked dotgov-table dotgov-table--stacked domain-requests__table">
        <caption class="sr-only">Your domain requests</caption>
        <thead>
          <tr>
            <th data-sortable="requested_domain__name" scope="col" role="columnheader">Domain name</th>
            <th data-sortable="last_submitted_date" scope="col" role="columnheader">Date submitted</th>
            <th data-sortable="status" scope="col" role="columnheader">Status</th>
            <th scope="col" role="columnheader"><span class="usa-sr-only">Action</span></th>
            <!-- AJAX will conditionally add a th for delete actions -->
          </tr>
        </thead>
        <tbody id="domain-requests-tbody">
          <!-- AJAX will populate this tbody -->
        </tbody>
      </table>
      <div
        class="usa-sr-only usa-table__announcement-region"
        aria-live="polite"
      ></div>
    </div>
    <div class="domain-requests__no-data display-none">
      <p>You haven't requested any domains.</p>
    </div>
    <div class="domain-requests__no-search-results display-none">
      <p>No results found</p>
    </div> 
  </section>
  <nav aria-label="Pagination" class="usa-pagination flex-justify" id="domain-requests-pagination">
    <span class="usa-pagination__counter text-base-dark padding-left-2 margin-bottom-1">
      <!-- Count will be dynamically populated by JS -->
    </span>
    <ul class="usa-pagination__list">
      <!-- Pagination links will be dynamically populated by JS -->
    </ul>
  </nav>
