{# This file includes hidden USWDS modal openers (aka triggers) and their respective modals.  The user clicks a button which triggers JS to click the opener vs anything htmx would re-render / swap. USWDS relocates it to the page body on init, so it's driven by data attributes + JS #}

{# Record Type modal opener #}
<a
id="dns-record-type-modal-trigger"
href="#dns-record-type-modal"
class="usa-button usa-button--outline margin-top-1 display-none"
aria-controls="domain-dns-record-type-switcher"
data-open-modal
>Trigger record type modal</a>


{# Record type modal #}
<div
    class="usa-modal"
    id="domain-dns-record-type-switcher"
>
    {% include 'includes/modal.html' with modal_heading="Are you sure you want to change your record type?" modal_description="You have unsaved changes that will be lost." modal_button_id="record-type-switch-confirm-button" modal_button_class="js-confirm-button-dns-record-switcher" modal_button_text="Yes, cancel"  cancel_button_text="Go back" %}
</div>


{# Edit form modal for switching forms #}
<a
id="dns-record-edit-form-modal-trigger"
href="#dns-edit-form-modal"
class="usa-button usa-button--outline margin-top-1 display-none"
aria-controls="edit-dns-record-switcher"
data-open-modal
>Trigger edit dns record switcher form modal</a>


{# Edit form modal #}
<div
    class="usa-modal"
    id="edit-dns-record-switcher"
>
    {% include 'includes/modal.html' with modal_heading="Are you sure you want to cancel your changes?" modal_description="You have unsaved changes that will be lost."  modal_button_id="edit-dns-record-switcher-button"  cancel_button_text="Go back" modal_button_text="Continue withuot saving"  modal_button_class="js-confirm-button-dns-record-switcher"%}
</div>



{# DELETE modal opener #}
<a
id="delete-dns-record-modal-trigger"
href="#delete-dns-record-modal"
class="usa-button usa-button--outline margin-top-1 display-none"
aria-controls="delete-dns-record-modal"
data-open-modal
>Trigger delete dns record modal</a>

{# DELETE modal #}
<div
    class="usa-modal"
    id="delete-dns-record-modal"
>
    {% include 'includes/modal.html' with modal_heading_id="delete-dns-record-heading" modal_heading="Are you sure you want to delete this DNS record?" modal_description="" modal_button_id="confirm-delete-record-button" modal_button_class="usa-button--secondary" modal_button_text="Yes, delete"  %}
</div>


{# CANCEL modal opener #}
<a
    id="open-cancel-add-dnsrecord-modal"
    href="#toggle-cancel-add-dnsrecord"
    class="display-none"
    aria-controls="toggle-cancel-add-dnsrecord"
    data-open-modal
>Open cancel confirmation modal</a>

{# Shared CANCEL modal for Add and Edit #}
<div
    class="usa-modal"
    id="toggle-cancel-add-dnsrecord"
>
    {% include 'includes/modal.html' with modal_heading="Are you sure you want to cancel your changes?" modal_description="You have unsaved changes that will be lost." modal_heading_id="cancel-add-dnsrecord-heading" modal_description_id="cancel-add-dnsrecord-description" modal_button_id="cancel-add-dnsrecord-confirm" cancel_button_text="Go back" modal_button_text="Yes, cancel"  modal_button_class="js-confirm-button-dns-record-switcher"%}
</div>
