{% load static %}
<div class="section-outlined__utility-button mobile-lg:padding-right-105 {% if portfolio %} flex-auto desktop:padding-left-3{% endif %} margin-top-0">
    <section aria-label="{{export_aria}}" class="margin-top-205">
        <button data-href="{% url export_url %}" class="usa-button usa-button--unstyled usa-button--with-icon usa-button--justify-right use-button-as-link">
            <svg class="usa-icon usa-icon--large" aria-hidden="true" focusable="false" role="img" width="24" height="24">
                <use xlink:href="{%static 'img/sprite.svg'%}#file_download"></use>
            </svg>Export as CSV
        </button>
    </section>
</div>

