{% load static %}
{% load url_helpers %}

<footer class="usa-footer">
    <div class="usa-footer__secondary-section">
      <div class="grid-container">
        <div class="grid-row grid-gap">
          <div
            class="
              usa-footer__logo
              grid-row
              mobile-lg:grid-col-6 mobile-lg:grid-gap-2
            "
          >
            <div class="mobile-lg:grid-col-auto">
              <img
                class="usa-footer__logo-img"
                src="{% static 'img/registrar/dotgov_logo.svg' %}"
                alt="dot gov registrar logo"
                width="56px"
              />
            </div>
          </div>
          <div class="usa-footer__contact-links 
                      mobile-lg:grid-col-6 flex-align-self-center"
          >
            <address class="usa-footer__address">
              <div class="usa-footer__contact-info grid-row grid-gap-md">
                {% if show_manage_your_domains %}
                <div class="grid-col-auto">
                  <a class="usa-link" rel="noopener noreferrer" href="{% url 'home' %}">Manage your domains</a>
                </div>
                <span class=""> | </span>
                {% endif %}
                <div class="grid-col-auto">
                   <a class="usa-link" rel="noopener noreferrer" target="_blank" href="{% public_site_url 'help/' %}">Help </a>
                </div>
                <span class=""> | </span>
                <div class="grid-col-auto">
                  <a class="usa-link" rel="noopener noreferrer" target="_blank" href="{% public_site_url 'contact/' %}">Contact us</a>
                </div>
              </div>
            </address>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <div class="usa-identifier">
    <section
      class="usa-identifier__section usa-identifier__section--masthead"
      aria-label="Agency identifier"
    >
      <div class="usa-identifier__container">
        <div class="usa-identifier__logos">
          <a rel="noopener noreferrer" target="_blank" href="https://www.cisa.gov" class="usa-identifier__logo"
            ><img
              class="usa-identifier__logo-img"
              src="{% static 'img/CISA_logo.png' %}"
              alt="CISA logo"
              role="img"
              width="56px"
          /></a>
        </div>
        <section
          class="usa-identifier__identity"
          aria-label="Agency description"
        >
          <p class="usa-identifier__identity-domain">get.gov</p>
          <p class="usa-identifier__identity-disclaimer">
            An official website of the <a rel="noopener noreferrer" target="_blank" href="https://www.cisa.gov" class="usa-link">Cybersecurity and Infrastructure Security Agency</a>
          </p>
        </section>
      </div>
    </section>
    <nav
      class="usa-identifier__section usa-identifier__section--required-links"
      aria-label="Important links"
    >
      <div class="usa-identifier__container">
        <ul class="usa-identifier__required-links-list">
          <li class="usa-identifier__required-links-item">
        <a rel="noopener noreferrer" target="_blank" href="{% public_site_url 'about/' %}"
              class="usa-identifier__required-link usa-link">About .gov</a>
          </li>
          <li class="usa-identifier__required-links-item">
            <a rel="noopener noreferrer" target="_blank"
              href="https://github.com/cisagov/getgov"
              class="usa-identifier__required-link usa-link usa-link--external"
              >.gov on Github</a
            >
          </li>
          <li class="usa-identifier__required-links-item">
 <a rel="noopener noreferrer" target="_blank" href="{% public_site_url 'privacy-policy/' %}" class="usa-identifier__required-link usa-link">Privacy policy</a>
          </li>
          <li class="usa-identifier__required-links-item">
            <a rel="noopener noreferrer" target="_blank" href="https://www.dhs.gov/accessibility" class="usa-identifier__required-link usa-link usa-link--external"
              >Accessibility statement</a
            >
          </li>
          <li class="usa-identifier__required-links-item">
            <a rel="noopener noreferrer" target="_blank" href="{% public_site_url 'vulnerability-disclosure-policy/' %}" class="usa-identifier__required-link usa-link"
              >Vulnerability disclosure policy</a>
          </li>
          <li class="usa-identifier__required-links-item">
            <a rel="noopener noreferrer" target="_blank" href="https://www.cisa.gov/cisa-no-fear-act-reporting" class="usa-identifier__required-link usa-link"
              >No FEAR Act data</a
            >
          </li>
          <li class="usa-identifier__required-links-item">
            <a rel="noopener noreferrer" target="_blank" href="https://www.dhs.gov/freedom-information-act-foia" class="usa-identifier__required-link usa-link usa-link--external"
              >FOIA requests</a
            >
          </li>
        </ul>
      </div>
    </nav>
    <section
      class="usa-identifier__section usa-identifier__section--usagov"
      aria-label="U.S. government information and services"
    >
      <div class="usa-identifier__container">
        <div class="usa-identifier__usagov-description">
          Looking for U.S. government information and services?
        </div>
        <a rel="noopener noreferrer" target="_blank" href="https://www.usa.gov/" class="usa-link usa-link--external">Visit USA.gov</a>
      </div>
    </section>
