{% if member %}
  <span 
    id="portfolio-js-value" 
    class="display-none" 
    data-portfolio="{{ portfolio.id }}"
    data-email=""
    data-member-id="{{ member.id }}"
    data-member-only="true"
  ></span>
{% else %}
  <span 
      id="portfolio-js-value" 
      class="display-none" 
      data-portfolio="{{ portfolio.id }}"
      data-email="{{  portfolio_invitation.email }}"
      data-member-id=""
      data-member-only="true"
    ></span>
{% endif %}

{% comment %} Stores the json endpoint in a url for easier access {% endcomment %}
{% url 'get_member_domains_json' as url %}
<span id="get_member_domains_json_url" class="display-none">{{url}}</span>
<section class="section-outlined member-domains margin-top-0 padding-bottom-0 section-outlined--border-base-light" id="member-domains">
    
    <h2>
      Domains assigned to 
      {% if member %}
        {{ member.email }}
      {% else %}
        {{ portfolio_invitation.email }}
      {% endif %}
    </h2>

    <div class="section-outlined__header margin-bottom-3 grid-row" id="edit-member-domains__search">
      <!-- ---------- SEARCH ---------- -->
      {% with label_text="Domains assigned to " %}
        {% if member %}
          {% with label_text=label_text|add:member.email item_name="member-domains" aria_label_text="Member domains search component" %}
            {% include "includes/search.html" %}
          {% endwith %}
        {% else %}
          {% with label_text=label_text|add:portfolio_invitation.email item_name="member-domains" aria_label_text="Member domains search component" %}
            {% include "includes/search.html" %}
          {% endwith %}
        {% endif %}
      {% endwith %}
    </div>

    <!-- ---------- MAIN TABLE ---------- -->
    <div class="display-none margin-top-0" id="member-domains__table-wrapper">
      <table class="usa-table usa-table--borderless usa-table--stacked dotgov-table dotgov-table--stacked margin-bottom-4">
        <caption class="sr-only">member domains</caption>
        <thead>
          <tr>
            <!-- We override default sort to be name/ascending in the JSON endpoint. We add the correct aria-sort attribute here to reflect that in the UI -->
            <th data-sortable="name" scope="col" role="columnheader" aria-sort="descending">Domains</th>
          </tr>
        </thead>
        <tbody>
          <!-- AJAX will populate this tbody -->
        </tbody>
      </table>
      <div
        class="usa-sr-only usa-table__announcement-region" id="member-domains__usa-table__announcement-region"
        aria-live="polite"
      ></div>
    </div>
    <div class="display-none margin-bottom-4" id="member-domains__no-data">
      <p>This member does not manage any domains.</p>
    </div>
    <div class="display-none margin-bottom-4" id="member-domains__no-search-results">
      <p>No results found</p>
    </div>
  </section>
  <nav aria-label="Pagination" class="usa-pagination flex-justify" id="member-domains-pagination">
    <span class="usa-pagination__counter text-base-dark padding-left-2 margin-bottom-1">
      <!-- Count will be dynamically populated by JS -->
    </span>
    <ul class="usa-pagination__list">
      <!-- Pagination links will be dynamically populated by JS -->
    </ul>
  </nav>
