{% load static %}

{% if member %}
  <span 
    id="portfolio-js-value" 
    class="display-none" 
    data-portfolio="{{ portfolio.id }}"
    data-email=""
    data-member-id="{{ member.id }}"
    data-member-only="true"
  ></span>
{% else %}
  <span 
      id="portfolio-js-value" 
      class="display-none" 
      data-portfolio="{{ portfolio.id }}"
      data-email="{{  portfolio_invitation.email }}"
      data-member-id=""
      data-member-only="true"
    ></span>
{% endif %}

{% comment %} Stores the json endpoint in a url for easier access {% endcomment %}
{% url 'get_member_domains_json' as url %}
<span id="get_member_domains_json_url" class="display-none">{{url}}</span>
<section class="section-outlined member-domains margin-top-0 section-outlined--border-base-light" id="member-domains">
    
    <h2>
      Domains assigned to 
      {% if member %}
        {{ member.email }}
      {% else %}
        {{ portfolio_invitation.email }}
      {% endif %}
    </h2>

  <div class="section-outlined__header margin-bottom-3 grid-row">
      <!-- ---------- SEARCH ---------- -->
      <div class="section-outlined__search mobile:grid-col-12 desktop:grid-col-6">
        <section aria-label="Members search component" class="margin-top-2">
          <form class="usa-search usa-search--show-label" method="POST" role="search">
            {% csrf_token %}
            <label class="usa-label display-block margin-bottom-05" for="member-domains__search-field">
              {% if has_edit_members_portfolio_permission %}
                Search all domains
              {% else %}
                Search domains assigned to
                {% if member %}
                  {{ member.email }}
                {% else %}
                  {{ portfolio_invitation.email }}
                {% endif %}
              {% endif %}
            </label>            
            <div class="usa-search--show-label__input-wrapper">
                <button class="usa-button usa-button--unstyled margin-right-3 display-none" id="member-domains__reset-search" type="button">
                    <svg class="usa-icon" aria-hidden="true" focusable="false" role="img" width="24">
                      <use xlink:href="{%static 'img/sprite.svg'%}#close"></use>
                    </svg>
                    Reset
                </button>
                <input
                class="usa-input"
                id="member-domains__search-field"
                type="search"
                name="member-domains-search"
                />
                <button class="usa-button" type="submit" id="member-domains__search-field-submit">
                    <span class="usa-search__submit-text">Search </span>
                    <img
                        src="{% static 'img/usa-icons-bg/search--white.svg' %}"
                        class="usa-search__submit-icon"
                        alt="Search"
                    />
                </button>
            </div>
          </form>
        </section>
      </div>
    </div>

    <!-- ---------- MAIN TABLE ---------- -->
    <div class="display-none margin-top-0" id="member-domains__table-wrapper">
      <table class="usa-table usa-table--borderless usa-table--stacked dotgov-table dotgov-table--stacked">
        <caption class="sr-only">member domains</caption>
        <thead>
          <tr>
            <!-- We override default sort to be name/ascending in the JSON endpoint. We add the correct aria-sort attribute here to reflect that in the UI -->
            <th data-sortable="name" scope="col" role="columnheader" aria-sort="descending">Domains</th>
          </tr>
        </thead>
        <tbody>
          <!-- AJAX will populate this tbody -->
        </tbody>
      </table>
      <div
        class="usa-sr-only usa-table__announcement-region" id="member-domains__usa-table__announcement-region"
        aria-live="polite"
      ></div>
    </div>
    <div class="display-none" id="member-domains__no-data">
      <p>This member does not manage any domains.  Click the Edit domain assignments buttons to assign domains.</p>
    </div>
    <div class="display-none" id="member-domains__no-search-results">
      <p>No results found</p>
    </div>
  </section>
  <nav aria-label="Pagination" class="usa-pagination flex-justify" id="member-domains-pagination">
    <span class="usa-pagination__counter text-base-dark padding-left-2 margin-bottom-1">
      <!-- Count will be dynamically populated by JS -->
    </span>
    <ul class="usa-pagination__list">
      <!-- Pagination links will be dynamically populated by JS -->
    </ul>
  </nav>
