{% load field_helpers %}
<div id="member-basic-permissions" class="margin-top-2">
    <h2>Member permissions</h2>
    <p>Configure the permissions for this member. Basic members cannot manage member permissions or organization metadata.</p>

    <h3 class="margin-bottom-neg-1 margin-top-4">Domains <abbr class="usa-hint usa-hint--required" title="required">*</abbr></h3>
      {% with group_classes="bg-gray-1 border-base-lighter padding-bottom-2 margin-top-0" add_legend_class="usa-sr-only" label_classes="margin-top-1" %}
        {% input_with_errors form.domain_permissions %}
      {% endwith %}

    <h3 class="margin-bottom-neg-1 margin-top-2">Domain requests <abbr class="usa-hint usa-hint--required" title="required">*</abbr></h3>
      {% with group_classes="bg-gray-1 border-base-lighter padding-bottom-2 margin-top-0" add_legend_class="usa-sr-only" label_classes="margin-top-1" %}
        {% input_with_errors form.domain_request_permissions %}
      {% endwith %}

    <h3 class="margin-bottom-neg-1  margin-top-2">Members <abbr class="usa-hint usa-hint--required" title="required">*</abbr></h3>
      {% with group_classes="bg-gray-1 border-base-lighter padding-bottom-2 margin-top-0" add_legend_class="usa-sr-only" label_classes="margin-top-1" %}
        {% input_with_errors form.member_permissions %}
      {% endwith %}
</div>
