<h4 class="margin-bottom-0">Member roles</h4>
    <p class="margin-top-0">{{ permissions.role_display }}</p>

<h4 class="margin-bottom-0 text-primary">Domains</h4>
    <p class="margin-top-0">{{ permissions.domains_display }}: {{ permissions.domains_description_display }}</p>

<h4 class="margin-bottom-0 text-primary">Domain requests</h4>
    <p class="margin-top-0">{{ permissions.domain_requests_display }}: {{ permissions.domain_requests_description_display }}</p>

<h4 class="margin-bottom-0 text-primary">Members</h4>
    <p class="margin-top-0">{{ permissions.members_display }}: {{ permissions.members_description_display }}</p>
