<div class="usa-accordion usa-accordion--show-more">
    <h4 class="usa-accordion__heading">
      <button
        type="button"
        class="usa-accordion__button"
        aria-expanded="false"
        aria-controls="admin-vs-basic-matrix"
      >
        <svg class="usa-icon font-body-xl text-primary-darker text-middle" aria-hidden="true" focusable="false" role="img">
          <use xlink:href="/public/img/sprite.svg#help_outline"></use>
        </svg>
        <span class="text-middle">
          How are organization admins and basic members different?
        </span>
        <svg class="usa-icon font-body-xl text-primary text-middle expand-less" aria-hidden="true" focusable="false" role="img">
          <use xlink:href="/public/img/sprite.svg#expand_less"></use>
        </svg>
        <svg class="usa-icon font-body-xl text-primary text-middle expand-more" aria-hidden="true" focusable="false" role="img">
          <use xlink:href="/public/img/sprite.svg#expand_more"></use>
        </svg>
      </button>
    </h4>
    <div id="admin-vs-basic-matrix" class="usa-accordion__content bg-transparent padding-top-0 padding-left-0 padding-right-0">
      <table class="usa-table dotgov-table dotgov-table--cell-padding-2 usa-table--bg-transparent usa-table--full-borderless usa-table--striped font-body-2xs line-height-sans-1 border-top-2px border-base-lighter">
        <thead>
          <tr>
            <th scope="col" role="columnheader">Member actions available</th>
            <th scope="col" role="columnheader" class="text-center">Organization admin</th>
            <th scope="col" role="columnheader" class="text-center">Basic</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" class="text-middle">
              View domains they manage
              <svg 
                class="usa-icon usa-tooltip text-primary text-middle no-click-outline-and-cursor-help"
                data-position="top"
                title="Domains can be assigned after invitation."
                focusable="true"
                aria-label="Domains can be assigned after invitation."
                role="tooltip"
              >
                <use aria-hidden="true" xlink:href="/public/img/sprite.svg#info_outline"></use>
              </svg>
            </th>
            <td class="text-center">
              <svg class="usa-icon font-body-xl text-primary-darker" aria-hidden="true" focusable="false" role="img">
                <use xlink:href="/public/img/sprite.svg#check"></use>
              </svg>
            </td>
            <td class="text-center">
              <svg class="usa-icon font-body-xl text-primary-darker" aria-hidden="true" focusable="false" role="img">
                <use xlink:href="/public/img/sprite.svg#check"></use>
              </svg>
            </td>
          </tr>
          <tr>
            <th scope="row" class="text-middle">View all domains for the organization</th>
            <td class="text-center">
              <svg class="usa-icon font-body-xl text-primary-darker" aria-hidden="true" focusable="false" role="img">
                <use xlink:href="/public/img/sprite.svg#check"></use>
              </svg>
            </td>
            <td class="text-center text-middle">
              <span class="font-body-1 text-primary-darker">Optional</span>
            </td>
          </tr>
          <tr>
            <th scope="row" class="text-middle">View all domain requests</th>
            <td class="text-center">
              <svg class="usa-icon font-body-xl text-primary-darker" aria-hidden="true" focusable="false" role="img">
                <use xlink:href="/public/img/sprite.svg#check"></use>
              </svg>
            </td>
            <td class="text-center text-middle">
              <span class="font-body-1 text-primary-darker">Optional</span>
            </td>
          </tr>
          <tr>
            <th scope="row" class="text-middle">Create domain requests</th>
            <td class="text-center">
              <svg class="usa-icon font-body-xl text-primary-darker" aria-hidden="true" focusable="false" role="img">
                <use xlink:href="/public/img/sprite.svg#check"></use>
              </svg>
            </td>
            <td class="text-center text-middle">
              <span class="font-body-1 text-primary-darker">Optional</span>
            </td>
          </tr>
          <tr>
            <th scope="row" class="text-middle">View all member permissions</th>
            <td class="text-center">
              <svg class="usa-icon font-body-xl text-primary-darker" aria-hidden="true" focusable="false" role="img">
                <use xlink:href="/public/img/sprite.svg#check"></use>
              </svg>
            </td>
            <td class="text-center text-middle">
              <span class="font-body-1 text-primary-darker">Optional</span>
            </td>
          </tr>
          <tr>
            <th scope="row" class="text-middle">Manage member permissions</th>
            <td class="text-center">
              <svg class="usa-icon font-body-xl text-primary-darker" aria-hidden="true" focusable="false" role="img">
                <use xlink:href="/public/img/sprite.svg#check"></use>
              </svg>
            </td>
            <td class="text-center">
              <svg class="usa-icon font-body-xl text-primary-darker" aria-hidden="true" focusable="false" role="img">
                <use xlink:href="/public/img/sprite.svg#cancel"></use>
              </svg>
            </td>
          </tr>
          <tr>
            <th scope="row" class="text-middle">Manage organization metadata (address)</th>
            <td class="text-center">
              <svg class="usa-icon font-body-xl text-primary-darker" aria-hidden="true" focusable="false" role="img">
                <use xlink:href="/public/img/sprite.svg#check"></use>
              </svg>
            </td>
            <td class="text-center">
              <svg class="usa-icon font-body-xl text-primary-darker" aria-hidden="true" focusable="false" role="img">
                <use xlink:href="/public/img/sprite.svg#cancel"></use>
              </svg>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
