{% load static %}

<!-- Embedding the portfolio value in a data attribute -->
<span id="portfolio-js-value" class="display-none" data-portfolio="{{ portfolio.id }}" data-has-edit-permission="{{ has_edit_members_portfolio_permission }}"></span>
{% comment %} Stores the json endpoint in a url for easier access {% endcomment %}
{% url 'get_portfolio_members_json' as url %}
<span id="get_members_json_url" class="display-none">{{url}}</span>
<section class="section-outlined members margin-top-0 section-outlined--border-base-light" id="members">
  <div class="section-outlined__header margin-bottom-3 grid-row">
    <!-- ---------- SEARCH ---------- -->
    {% with label_text="Search by member email address" item_name="members" aria_label_text="Members search component"%}
        {% include "includes/search.html" %}
    {% endwith %}
    {% with export_aria="Members report component" export_url='export_members_portfolio' %}
        {% include "includes/export.html" %}
    {% endwith %}
  </div>

    <!-- ---------- MAIN TABLE ---------- -->
    <div class="display-none margin-top-0" id="members__table-wrapper">
      <table class="usa-table usa-table--borderless usa-table--stacked dotgov-table dotgov-table--stacked">
        <caption class="sr-only">Your registered members</caption>
        <thead>
          <tr>
            <th data-sortable="member" role="columnheader" id="header-member">Member</th>
            <th data-sortable="last_active" role="columnheader" id="header-last-active">Last active</th>
            <th 
              role="columnheader"
              id="header-action"
            >
              Action
            </th>
          </tr>
        </thead>
        <tbody>
          <!-- AJAX will populate this tbody -->
        </tbody>
      </table>
      <div
        class="usa-sr-only usa-table__announcement-region" id="members__usa-table__announcement-region"
        aria-live="polite"
      ></div>
    </div>
    <div class="display-none" id="members__no-data">
      <p>You don't have any members.</p>
    </div>
    <div class="display-none" id="members__no-search-results">
      <p>No results found</p>
    </div>
  </section>
  <nav aria-label="Pagination" class="usa-pagination flex-justify" id="members-pagination">
    <span class="usa-pagination__counter text-base-dark padding-left-2 margin-bottom-1">
      <!-- Count will be dynamically populated by JS -->
    </span>
    <ul class="usa-pagination__list">
      <!-- Pagination links will be dynamically populated by JS -->
    </ul>
  </nav>
