{% load static form_helpers url_helpers %}
{% load custom_filters %}

<div class="usa-modal__content">
    <div class="usa-modal__main">
        <h2 class="usa-modal__heading">
            {{ modal_heading }}
            {%if domain_name_modal is not None %}
                <span class="string-wrap">           
                    {{ domain_name_modal }}
                </span>
            {%endif%}
            {% if heading_value is not None %}
            {# Add a breakpoint #}
            <div aria-hidden="true"></div>
            {{ heading_value }}
            {% endif %}
        </h2>
        <div class="usa-prose">
            <p>
                {{ modal_description }}
            </p>
        </div>

        <div class="usa-modal__footer">
            <ul class="usa-button-group">
                <li class="usa-button-group__item">
                    {% if cancel_button_only %}
                        <button
                            type="button"
                            class="{{ modal_button_class|button_class }}"
                            data-close-modal
                        >
                        {% if modal_button_text %}
                            {{ modal_button_text }}
                        {% else %}
                            Cancel
                        {% endif %}
                    </button>
                    {% elif modal_button_id and modal_button_text %}
                        {% comment %} Adding button id allows for onclick listeners on button by id,
                        which execute form submission on form elsewhere on a page outside modal.{% endcomment %}
                        <button
                            id="{{ modal_button_id }}"
                            type="button"
                            class="{{ modal_button_class|button_class }}"
                        >
                            {{ modal_button_text }}
                        </button>
                    {% elif modal_button_url and modal_button_text %}
                        <a
                            href="{{ modal_button_url }}"
                            type="button"
                            class="{{ modal_button_class|button_class }}"
                        >
                            {{ modal_button_text }}
                        </a>
                    {% endif %}
                </li>
                <li class="usa-button-group__item">
                    {% comment %} The cancel button the DS form actually triggers a context change in the view,
                    in addition to being a close modal hook {% endcomment %}
                    {% if cancel_button_resets_ds_form %}
                        <button
                            type="submit"
                            class="usa-button usa-button--unstyled padding-105 text-center"
                            id="btn-cancel-click-button"
                            data-close-modal
                        >
                            Cancel
                        </button>
                    {% elif not cancel_button_only %}
                        <button
                            type="button"
                            class="usa-button usa-button--unstyled padding-105 text-center"
                            data-close-modal
                        >
                            Cancel
                        </button>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
    {% comment %} The cancel button the DS form actually triggers a context change in the view,
    in addition to being a close modal hook {% endcomment %}
    {% if cancel_button_resets_ds_form %}
        <button
            type="submit"
            class="usa-button usa-modal__close"
            aria-label="Close this window"
            id="btn-cancel-click-close-button"
            data-close-modal
        >
            <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                <use xlink:href="{%static 'img/sprite.svg'%}#close"></use>
            </svg>
        </button>
    {% else %}
        <button
            type="button"
            class="usa-button usa-modal__close"
            aria-label="Close this window"
            data-close-modal
        >
            <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                <use xlink:href="{%static 'img/sprite.svg'%}#close"></use>
            </svg>
        </button>
    {% endif %}
</div>
