{% load static form_helpers url_helpers %}

<div class="usa-modal__content">
    <div class="usa-modal__main">
        <h2 class="usa-modal__heading" id="modal-1-heading">
            {{ modal_heading }}
            {% if heading_value is not None %}
            {# Add a breakpoint #}
            <div aria-hidden="true"></div>
            {{ heading_value }}
            {% endif %}
        </h2>
        <div class="usa-prose">
            <p id="modal-1-description">
                {{ modal_description }}
            </p>
        </div>

        <div class="usa-modal__footer">
            <ul class="usa-button-group">
                {% if not_form %}
                <li class="usa-button-group__item">
                        {{ modal_button }}
                </li>      
                {% else %}
                    <li class="usa-button-group__item">
                        <form method="post">
                            {% csrf_token %}
                            {{ modal_button }}
                        </form>
                    </li>
                {% endif %}
                <li class="usa-button-group__item">
                    {% comment %} The cancel button the DS form actually triggers a context change in the view,
                    in addition to being a close modal hook {% endcomment %}
                    {% if cancel_button_resets_ds_form %}
                        <form method="post">
                            {% csrf_token %}
                            <button
                                type="submit"
                                class="usa-button usa-button--unstyled padding-105 text-center"
                                name="btn-cancel-click"
                                data-close-modal
                            >
                                Cancel
                            </button>
                        </form>
                    {% elif not is_domain_request_form or review_form_is_complete %}
                        <button
                            type="button"
                            class="usa-button usa-button--unstyled padding-105 text-center"
                            data-close-modal
                        >
                            Cancel
                        </button>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
    {% comment %} The cancel button the DS form actually triggers a context change in the view,
    in addition to being a close modal hook {% endcomment %}
    {% if cancel_button_resets_ds_form %}
        <form method="post">
            {% csrf_token %}
            <button
                type="submit"
                class="usa-button usa-modal__close"
                aria-label="Close this window"
                name="btn-cancel-click"
                data-close-modal
            >
                <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                    <use xlink:href="{%static 'img/sprite.svg'%}#close"></use>
                </svg>
            </button>
        </form>
    {% else %}
        <button
            type="button"
            class="usa-button usa-modal__close"
            aria-label="Close this window"
            data-close-modal
        >
            <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                <use xlink:href="{%static 'img/sprite.svg'%}#close"></use>
            </svg>
        </button>
    {% endif %}
</div>
