{# includes/modal_trigger.html - Reusable modal trigger + modal wrapper #}

<a
  id="{{ trigger_id }}"
  href="#{{ modal_id }}"
  class="usa-button usa-button--outline margin-top-1 display-none"
  aria-controls="{{ modal_id }}"
  data-open-modal
>
  {{ trigger_text|default:"Trigger modal" }}
</a>

<div
  class="usa-modal"
  id="{{ modal_id }}"
  aria-labelledby="{{ modal_heading }}"
  aria-describedby="{{ modal_description }}"
>
  {% include "includes/modal.html" with
    modal_heading=modal_heading
    modal_description=modal_description
    modal_button_id=modal_button_id
    modal_button_text=modal_button_text
    modal_button_class=modal_button_class
    cancel_button_text=cancel_button_text
  %}
</div>