{% load static field_helpers %}
{% load static form_helpers url_helpers %}

{% block domain_content %} 

<div
  class="usa-summary-box usa-summary-box--naming"
  role="region"
  aria-labelledby="summary-box-key-information"
>
  <div class="usa-summary-box__body">
    <h3 class="usa-summary-box__heading margin-top-0" id="summary-description">
    Naming requirements for all organizations, in brief
    </h3>
    <div class="usa-summary-box__text">

    <p>Your requested domain name must meet the rquirements of your organization type, and:</p>
      <ul class="usa-list">
        <li>Be available</li>
        <li>Relate to your organization's name, location, and/or services</li>
        <li>Be unlikely to mislead or confuse the general public <i>(even if your domain is only intended for a specific audience)</i></li>
      </ul>
    Review the full <a class="usa-link usa-link--always-blue" target="_blank" href="{% public_site_url 'domains/choosing' %}">naming requirements</a>.
    </div>
  </div>
</div>

<!-- <div class="grid-row">

  <div class="grid-col-6">Likely to be approved:


  <ul class="usa-list usa-list--unstyled margin-top-2">
    <li class="checklist-item display-flex flex-align-start margin-bottom-2 some-style">
      <svg class="usa-icon text-green margin-right-1 flex-shrink-0" aria-hidden="true" focusable="false" role="img" width="24" height="24">
        <use xlink:href="{% static 'img/sprite.svg' %}#check_circle"></use>
      </svg>
      <div class="checklist-text-wrapper"> 
        <div class="checklist-bold-text"><b>CityofEudoraKS.gov</b></div>
        <div class="margin-bottom-2"><i>References city and state</i></div>
      </div>
    </li>

    <li class="checklist-item display-flex flex-align-start margin-bottom-2">
      <svg class="usa-icon text-green margin-right-1 flex-shrink-0" aria-hidden="true" focusable="false" role="img" width="24" height="24" style="margin-top: 2px;">
        <use xlink:href="{% static 'img/sprite.svg' %}#check_circle"></use>
      </svg>
      <div class="checklist-text-wrapper">
        <div class="checklist-bold-text"><b>WallaWallaWA.gov</b></div>
        <div class="margin-bottom-2"><i>Includes state</i></div>
      </div>
    </li>

    <li class="checklist-item display-flex flex-align-start margin-bottom-2">
      <svg class="usa-icon text-green margin-right-1 flex-shrink-0" aria-hidden="true" focusable="false" role="img" width="24" height="24" style="margin-top: 2px;">
        <use xlink:href="{% static 'img/sprite.svg' %}#check_circle"></use>
      </svg>
      <div class="checklist-text-wrapper">
        <div class="checklist-bold-text"><b>Seattle.gov</b></div>
        <div class="margin-bottom-2"><i>Well-known city</i></div>
      </div>
    </li>

  </ul>
</div>


  <div class="grid-col-6">Unlikely to be approved:
    <ul class="usa-list usa-list--unstyled margin-top-2">
      <li class="checklist-item display-flex flex-align-start margin-bottom-2 some-style">
        <svg class="usa-icon text-red margin-right-1 flex-shrink-0" aria-hidden="true" focusable="false" role="img" width="24" height="24">
          <use xlink:href="{% static 'img/sprite.svg' %}#cancel"></use>
        </svg>
        <div class="checklist-text-wrapper"> 
          <div class="checklist-bold-text"><b>Eudora.gov</b></div>
          <div class="margin-bottom-2"><i>Lacks state identifier</i></div>
        </div>
      </li>
  
      <li class="checklist-item display-flex flex-align-start margin-bottom-2">
        <svg class="usa-icon text-red margin-right-1 flex-shrink-0" aria-hidden="true" focusable="false" role="img" width="24" height="24" style="margin-top: 2px;">
          <use xlink:href="{% static 'img/sprite.svg' %}#cancel"></use>
        </svg>
        <div class="checklist-text-wrapper">
          <div class="checklist-bold-text"><b>WaWaWA.gov</b></div>
          <div class="margin-bottom-2"><i>Likely to confuse</i></div>
        </div>
      </li>
  
      <li class="checklist-item display-flex flex-align-start margin-bottom-2">
        <svg class="usa-icon text-red margin-right-1 flex-shrink-0" aria-hidden="true" focusable="false" role="img" width="24" height="24" style="margin-top: 2px;">
          <use xlink:href="{% static 'img/sprite.svg' %}#cancel"></use>
        </svg>
        <div class="checklist-text-wrapper">
          <div class="checklist-bold-text"><b>Sea.gov</b></div>
          <div class="margin-bottom-2"><i>Too few characters; generic</i></div>
        </div>
      </li>
  
    </ul>
  </div> -->


{% endblock %} 
