{% load static field_helpers %}
{% load static form_helpers url_helpers %}

{% block domain_content %} 

<div
  class="usa-summary-box usa-summary-box--naming"
  role="region"
  aria-labelledby="summary-box-key-information"
>
  <div class="usa-summary-box__body">
    <h3 class="usa-summary-box__heading margin-top-0" id="summary-description">
    Naming requirements for all organizations, in brief
    </h3>
    <div class="usa-summary-box__text">

    <p>Your requested domain name must meet the requirements of your organization type, and:</p>
      <ul class="usa-list">
        <li>Be available</li>
        <li>Relate to your organization's name, location, and/or services</li>
        <li>Be unlikely to mislead or confuse the general public (even if your domain is only intended for a specific audience)</li>
      </ul>
    Review the full <a class="usa-link usa-link--always-blue" target="_blank" href="{% public_site_url 'domains/choosing' %}">naming requirements</a>.
    </div>
  </div>
</div>

{% endblock %} 
