{% load custom_filters %}
{% load static url_helpers %}

{% for step in steps %}
<section class="summary-item margin-top-3">
    {% if is_editable %}
        {% namespaced_url 'domain-request' step domain_request_pk=domain_request_id as domain_request_url %}
    {% endif %}

    {% if step == Step.REQUESTING_ENTITY %}
        {% with title=form_titles|get_item:step %}
        {% if domain_request.sub_organization %}
            {% include "includes/summary_item.html" with value=domain_request.sub_organization edit_link=domain_request_url %}
            {% comment %} We don't have city or state_territory for suborganizations yet, so no data should display {% endcomment %}
        {% elif domain_request.requesting_entity_is_suborganization %}
            {% include "includes/summary_item.html" with value=domain_request.requested_suborganization edit_link=domain_request_url %}
            <p class="margin-y-0">{{domain_request.suborganization_city}}, {{domain_request.suborganization_state_territory}}</p>
        {% elif domain_request.requesting_entity_is_portfolio %}
            {% include "includes/summary_item.html" with value=domain_request.portfolio.organization_name edit_link=domain_request_url %}
            {% if domain_request.portfolio.city and domain_request.portfolio.state_territory %}
                <p class="margin-y-0">{{domain_request.portfolio.city}}, {{domain_request.portfolio.state_territory}}</p>
            {% endif %}
        {% else %}
            {% with value="<span class='text-bold text-secondary-dark'>Incomplete</span>"|safe %}
                {% include "includes/summary_item.html" with edit_link=domain_request_url %}
            {% endwith %}
        {% endif %}
        {% endwith %}
    {% endif %}

    {% if step == Step.CURRENT_SITES %}
        {% if domain_request.current_websites.all %}
            {% with title=form_titles|get_item:step value=domain_request.current_websites.all %}
                {% include "includes/summary_item.html" with title=title value=value heading_level=heading_level editable=is_editable edit_link=domain_request_url list='true' %}
            {% endwith %}
        {% else %}
            {% with title=form_titles|get_item:step value='None' %}
                {% include "includes/summary_item.html" with title=title value=value heading_level=heading_level editable=is_editable edit_link=domain_request_url %}
            {% endwith %}
        {% endif %}
    {% endif %}

    {% if step == Step.DOTGOV_DOMAIN %}
        {% with title=form_titles|get_item:step value=domain_request.requested_domain.name|default:"<span class='text-bold text-secondary-dark'>Incomplete</span>"|safe%}
            {% include "includes/summary_item.html" with title=title value=value heading_level=heading_level editable=is_editable edit_link=domain_request_url %}
        {% endwith %}

        {% if domain_request.alternative_domains.all %}
            <h4>Alternative domains</h4>
            <ul class="usa-list usa-list--unstyled margin-top-0">
            {% for site in domain_request.alternative_domains.all %}
                <li>{{ site.website }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        {% if requires_feb_questions %}
            <h4 class="margin-bottom-0">Meets Naming Requirements</h4>
            {% if domain_request.feb_naming_requirements is None %}
                <p class="margin-y-0"><span class='text-bold text-secondary-dark'>Incomplete</span></p>
            {% elif domain_request.feb_naming_requirements %}
                <p class="margin-y-0">Yes</p>
            {% else %}
                <p class="margin-y-0">No</p>
                <p class="margin-y-0">{{domain_request.feb_naming_requirements_details}}</p>
            {% endif %}
        {% endif %}
    {% endif %}

    {% if step == Step.PURPOSE %}
        {% with title=form_titles|get_item:step value=domain_request.purpose|default:"<span class='text-bold text-secondary-dark'>Incomplete</span>"|safe %}
            {% include "includes/summary_item.html" with title=title value=value heading_level=heading_level editable=is_editable edit_link=domain_request_url %}
        {% endwith %}
        {% if requires_feb_questions %}
            <h4 class="margin-bottom-0">Purpose</h4>
            {% if domain_request.feb_purpose_choice == "website" %}
                <p class="margin-y-0">Used for a new website</p>
                <p class="margin-y-0">{{domain_request.purpose}}</p>
            {% elif domain_request.feb_purpose_choice == "redirect" %}
                <p class="margin-y-0">Used as a redirect for an existing website</p>
                <p class="margin-y-0">{{domain_request.purpose}}</p>
            {% elif domain_request.feb_purpose_choice == "other" %}
                <p class="margin-y-0">Not for a website</p>
                <p class="margin-y-0">{{domain_request.purpose}}</p>
            {% else %}
                <p class="margin-y-0"><span class='text-bold text-secondary-dark'>Incomplete</span></p>
            {% endif %}
            <h4 class="margin-bottom-0">Target Time Frame</h4>
            {% if domain_request.has_timeframe is None %}
                <p class="margin-y-0"><span class='text-bold text-secondary-dark'>Incomplete</span></p>
            {% elif domain_request.has_timeframe %}
                <p class="margin-y-0">{{domain_request.time_frame_details}}</p>
            {% else %}
                <p class="margin-y-0">No</p>
            {% endif %}
            <h4 class="margin-bottom-0">EOP Stakeholder</h4>
            {% if domain_request.is_interagency_initiative is None %}
                <p class="margin-y-0"><span class='text-bold text-secondary-dark'>Incomplete</span></p>
            {% elif domain_request.is_interagency_initiative %}
                <p class="margin-y-0">{{domain_request.interagency_initiative_details}}</p>
            {% else %}
                <p class="margin-y-0">No</p>
            {% endif %}
        {% endif %}
    {% endif %}

    {% if step == Step.ADDITIONAL_DETAILS %}
        {% with title=form_titles|get_item:step value=domain_request.anything_else|default:"None" %}
            {% include "includes/summary_item.html" with title=title value=value heading_level=heading_level editable=is_editable edit_link=domain_request_url %}
        {% endwith %}
        {% if requires_feb_questions %}
            <h4 class="margin-bottom-0">EOP Stakeholder</h4>
            {% if domain_request.working_with_eop is None %}
                <p class="margin-y-0"><span class='text-bold text-secondary-dark'>Incomplete</span></p>
            {% elif domain_request.working_with_eop %}
                <p class="margin-y-0">{{domain_request.eop_contact.first_name}} {{domain_request.eop_contact.last_name}}</p>
                <p class="margin-y-0">{{domain_request.eop_contact.email}}</p>
            {% else %}
                <p class="margin-y-0">No</p>
            {% endif %}
        {% endif %}
    {% endif %}

    {% if step == Step.REQUIREMENTS %}
        {% with title=form_titles|get_item:step value=domain_request.is_policy_acknowledged|yesno:"I agree.,I do not agree.,I do not agree." %}
            {% include "includes/summary_item.html" with title=title value=value heading_level=heading_level editable=is_editable edit_link=domain_request_url %}
        {% endwith %}
    {% endif %}
</section>
{% endfor %}