{% load static field_helpers url_helpers %}

<div id="{{field.name}}__edit-button-readonly" class="margin-top-2 margin-bottom-1 input-with-edit-button {% if not field.value and field.field.required %}input-with-edit-button__error{% endif %}">
    <svg class="usa-icon" aria-hidden="true" focusable="false" role="img" width="24" height="24">
        {% if field.value or not field.field.required %}
            <use xlink:href="{%static 'img/sprite.svg'%}#check_circle"></use>
        {%elif not field.value %}
            <use xlink:href="{%static 'img/sprite.svg'%}#error"></use>
        {%endif %}
    </svg>
    <div class="display-inline padding-left-05 margin-left-3 readonly-field {% if not field.field.required %}text-base{% endif %}">
        {{ field.value }}
    </div>
</div>
