{% load custom_filters %}
{% load static url_helpers %}
<main id="main-content" class="grid-container grid-container--widescreen">
    <div class="{% if not is_widescreen_centered %}max-width--grid-container{% endif %}">
        <div class="grid-col desktop:grid-col-8 desktop:grid-offset-2 ">
            {% block breadcrumb %}
            {% if portfolio %}
                {% url 'domain-requests' as url %}
            {% else %}
                {% url 'home' as url %}
            {% endif %}
            <nav class="usa-breadcrumb padding-top-0" aria-label="Domain request breadcrumb">
            <ol class="usa-breadcrumb__list">
                <li class="usa-breadcrumb__list-item">
                {% if portfolio %}
                    <a href="{{ url }}" class="usa-breadcrumb__link"><span>Domain requests</span></a>
                {% else %}
                    <a href="{{ url }}" class="usa-breadcrumb__link"><span>Manage your domains</span></a>
                {% endif %}
                </li>
                <li class="usa-breadcrumb__list-item usa-current" aria-current="page">
                {% if not DomainRequest.requested_domain and DomainRequest.status == DomainRequest.DomainRequestStatus.STARTED %}
                    <span>New domain request</span>
                {% else %}
                    <span>{{ DomainRequest.requested_domain.name }}</span>
                {% endif %}
                </li>
            </ol>
            </nav>
            {% endblock breadcrumb %}

            {% block header %}
                {% if not DomainRequest.requested_domain and DomainRequest.status == DomainRequest.DomainRequestStatus.STARTED %}
                    <h1>New domain request</h1>
                {% else %}
                    <h1>Domain request for {{ DomainRequest.requested_domain.name }}</h1>
                {% endif %}
            {% endblock header %}

            {% block status_summary %}
            <div
                class="usa-summary-box margin-top-3 padding-y-2 margin-bottom-1" 
                role="region"
                aria-labelledby="summary-box-key-information"
            >
                <div class="usa-summary-box__body">
                    <div class="usa-summary-box__text padding-top-0" 
                    > 
                        <p class="font-sans-md margin-y-0 text-primary-darker">
                            <strong>Status:</strong>
                            {{ DomainRequest.get_status_display|default:"ERROR Please contact technical support/dev" }}
                        </p>
                    </div>
                </div>
            </div>
            {% endblock status_summary %}
            
            {% block status_metadata %}

            {% if portfolio %}
                {% if DomainRequest.requester %}
                <p>
                    <strong class="text-primary-dark">Requested by:</strong> {{DomainRequest.requester.email|default:DomainRequest.requester.get_formatted_name }}
                </p>
                {% else %}
                <p>
                    <strong class="text-primary-dark">No requester found:</strong> this is an error, please email <a href="mailto:help@get.gov" class="usa-link">help@get.gov</a>.
                </p>
                {% endif %}
            {% endif %}

            {% with statuses=DomainRequest.DomainRequestStatus last_submitted=DomainRequest.last_submitted_date|date:"F j, Y" first_submitted=DomainRequest.first_submitted_date|date:"F j, Y" last_status_update=DomainRequest.last_status_update|date:"F j, Y" %}
            {% comment %} 
            These are intentionally seperated this way. 
            There is some code repetition, but it gives us more flexibility rather than a dense reduction. 
            Leave it this way until we've solidified our requirements.
            {% endcomment %}
            
            <p>
                {% if DomainRequest.status == statuses.STARTED %}
                {% with first_started_date=DomainRequest.get_first_status_started_date|date:"F j, Y" %}
                {% comment %} 
                A newly created domain request will not have a value for last_status update.
                This is because the status never really updated. 
                However, if this somehow goes back to started we can default to displaying that new date.
                {% endcomment %}
                    <strong class="text-primary-dark">Started on:</strong> {{last_status_update|default:first_started_date}}
                {% endwith %}
                {% elif DomainRequest.status == statuses.SUBMITTED %}
                    <strong class="text-primary-dark">Submitted on:</strong> {{last_submitted|default:first_submitted }}<br>
                    <strong class="text-primary-dark">Last updated on:</strong> {{DomainRequest.updated_at|date:"F j, Y"}}
                {% elif DomainRequest.status == statuses.ACTION_NEEDED %}
                    <strong class="text-primary-dark">Submitted on:</strong> {{last_submitted|default:first_submitted }}<br>
                    <strong class="text-primary-dark">Last updated on:</strong> {{DomainRequest.updated_at|date:"F j, Y"}}
                {% elif DomainRequest.status == statuses.REJECTED %}
                    <strong class="text-primary-dark">Submitted on:</strong> {{last_submitted|default:first_submitted }}<br>
                    <strong class="text-primary-dark">Rejected on:</strong> {{last_status_update}}
                {% elif DomainRequest.status == statuses.WITHDRAWN %}
                    <strong class="text-primary-dark">Submitted on:</strong> {{last_submitted|default:first_submitted }}<br>
                    <strong class="text-primary-dark">Withdrawn on:</strong> {{last_status_update}}
                {% else %}
                {% comment %} Shown for in_review, approved, ineligible {% endcomment %}
                    <strong class="text-primary-dark">Last updated on:</strong> {{DomainRequest.updated_at|date:"F j, Y"}}
            </p>
            {% endif %}
            {% endwith %}
            {% endblock status_metadata %}

            {% block status_blurb %}
            {% if DomainRequest.is_awaiting_review %}
                {% include "includes/domain_request_awaiting_review.html" with show_withdraw_text=DomainRequest.is_withdrawable %}
            {% endif %}
            {% endblock status_blurb %}

            {% block modify_request %}
            {% if DomainRequest.is_withdrawable %}
                <p><a href="{% url 'domain-request-withdraw-confirmation' domain_request_pk=DomainRequest.id %}" class="usa-button usa-button--outline withdraw_outline">
                    Withdraw request</a>
                </p>
            {% endif %}
            {% endblock modify_request %}
        </div>

        <div class="grid-col maxw-fit-content desktop:grid-offset-2 ">
            {% block request_summary_header %}
            <h2> Summary of your domain request </h2> 
            {% endblock request_summary_header%}

            {% block request_summary %}
            {% if portfolio %}
                {% include "includes/portfolio_request_review_steps.html" with is_editable=False domain_request=DomainRequest %}
            {% else %}
                {% with org_type=DomainRequest.get_generic_org_type_display %}
                {% include "includes/summary_item.html" with title='Type of organization' value=org_type %}
                {% endwith %}

                {% if DomainRequest.tribe_name %}
                    {% include "includes/summary_item.html" with title='Tribal government' value=DomainRequest.tribe_name %}

                    {% if DomainRequest.federally_recognized_tribe %}
                        <p>Federally-recognized tribe</p>
                    {% endif %}

                    {% if DomainRequest.state_recognized_tribe %}
                        <p>State-recognized tribe</p>
                    {% endif %}

                {% endif %}

                {% if DomainRequest.get_federal_type_display %}
                    {% include "includes/summary_item.html" with title='Federal government branch' value=DomainRequest.get_federal_type_display %}
                {% endif %}

                {% if DomainRequest.is_election_board %}
                    {% with value=DomainRequest.is_election_board|yesno:"Yes,No,Incomplete" %}
                        {% include "includes/summary_item.html" with title='Election office' value=value %}
                    {% endwith %}
                {% endif %}

                {% if DomainRequest.organization_name %}
                    {% include "includes/summary_item.html" with title='Organization' value=DomainRequest  address='true' %}
                {% endif %}

                {% if DomainRequest.about_your_organization %}
                    {% include "includes/summary_item.html" with title='About your organization' value=DomainRequest.about_your_organization %}
                {% endif %}

                {% if DomainRequest.senior_official %}
                    {% include "includes/summary_item.html" with title='Senior official' value=DomainRequest.senior_official contact='true' %}
                {% endif %}

                {% if DomainRequest.current_websites.all %}
                    {% include "includes/summary_item.html" with title='Current websites' value=DomainRequest.current_websites.all list='true' %}
                {% endif %}

                {% if DomainRequest.requested_domain %}
                    {% include "includes/summary_item.html" with title='.gov domain' value=DomainRequest.requested_domain %}
                {% endif %}

                {% if DomainRequest.alternative_domains.all %}
                    {% include "includes/summary_item.html" with title='Alternative domains' value=DomainRequest.alternative_domains.all list='true' %}
                {% endif %}

                {% if DomainRequest.purpose %}
                    {% include "includes/summary_item.html" with title='Purpose of your domain' value=DomainRequest.purpose %}
                {% endif %}

                {% if DomainRequest.requester %}
                    {% include "includes/summary_item.html" with title='Your contact information' value=DomainRequest.requester contact='true' %}
                {% endif %}

                {% if DomainRequest.other_contacts.all %}
                    {% include "includes/summary_item.html" with title='Other employees from your organization' value=DomainRequest.other_contacts.all contact='true' list='true' %}
                {% else %}
                    {% include "includes/summary_item.html" with title='Other employees from your organization' value=DomainRequest.no_other_contacts_rationale %}
                {% endif %}

            {# We always show this field even if None #}
            {% if DomainRequest %}
                <h4 class="margin-bottom-0">CISA Regional Representative</h4>
                <ul class="usa-list usa-list--unstyled margin-top-0">
                    {% if DomainRequest.cisa_representative_first_name %}
                    {{ DomainRequest.get_formatted_cisa_rep_name }}
                    {% else %}
                    No
                    {% endif %}
                </ul>
                <h4 class="margin-bottom-0">Anything else</h4>
                <ul class="usa-list usa-list--unstyled margin-top-0">
                    {% if DomainRequest.anything_else %}
                    {{DomainRequest.anything_else}}
                    {% else %}
                    No
                    {% endif %}
                </ul>
            {% endif %}
    {% endif %}
    {% endblock request_summary%}
        </div>
    </div>
</main>