{% load custom_filters %}
{% load static url_helpers %}

{% for step in steps %}
<section class="summary-item margin-top-3">
    {% if is_editable %}
        {% namespaced_url 'domain-request' step domain_request_pk=domain_request_id as domain_request_url %}
    {% endif %}

    {% if step == Step.ORGANIZATION_TYPE %}
        {% if domain_request.generic_org_type is not None %}
            {% with title=form_titles|get_item:step value=domain_request.get_generic_org_type_display|default:"<span class='text-bold text-error-dark'>Incomplete</span>"|safe %}
                {% include "includes/summary_item.html" with title=title value=value heading_level=heading_level editable=is_editable edit_link=domain_request_url %}
            {% endwith %}
        {% else %}
            {% with title=form_titles|get_item:step value="<span class='text-bold text-error-dark'>Incomplete</span>"|safe %}
                {% include "includes/summary_item.html" with title=title value=value heading_level=heading_level editable=is_editable edit_link=domain_request_url %}
            {% endwith %}
        {% endif %}
    {% endif %}

    {% if step == Step.TRIBAL_GOVERNMENT %}
        {% with title=form_titles|get_item:step value=domain_request.tribe_name|default:"<span class='text-bold text-error-dark'>Incomplete</span>"|safe %}
            {% include "includes/summary_item.html" with title=title value=value heading_level=heading_level editable=is_editable edit_link=domain_request_url %}
        {% endwith %}
        {% if domain_request.federally_recognized_tribe %}<p>Federally-recognized tribe</p>{% endif %}
        {% if domain_request.state_recognized_tribe %}<p>State-recognized tribe</p>{% endif %}
    {% endif %}


    {% if step == Step.ORGANIZATION_FEDERAL %}
        {% with title=form_titles|get_item:step value=domain_request.get_federal_type_display|default:"<span class='text-bold text-error-dark'>Incomplete</span>"|safe %}
            {% include "includes/summary_item.html" with title=title value=value heading_level=heading_level editable=is_editable edit_link=domain_request_url %}
        {% endwith %}
    {% endif %}

    {% if step == Step.ORGANIZATION_ELECTION %}
        {% with title=form_titles|get_item:step value=domain_request.is_election_board|yesno:"Yes,No,Incomplete" %}
            {% include "includes/summary_item.html" with title=title value=value heading_level=heading_level editable=is_editable edit_link=domain_request_url %}
        {% endwith %}
    {% endif %}

    {% if step == Step.ORGANIZATION_CONTACT %}
        {% if domain_request.unlock_organization_contact %}
            {% with title=form_titles|get_item:step value=domain_request %}
                {% include "includes/summary_item.html" with title=title value=value heading_level=heading_level editable=is_editable edit_link=domain_request_url address='true' %}
            {% endwith %}
        {% else %}
            {% with title=form_titles|get_item:step value="<span class='text-bold text-error-dark'>Incomplete</span>"|safe %}
                {% include "includes/summary_item.html" with title=title value=value heading_level=heading_level editable=is_editable edit_link=domain_request_url %}
            {% endwith %}
        {% endif %}
    {% endif %}

    {% if step == Step.ABOUT_YOUR_ORGANIZATION %}
        {% with title=form_titles|get_item:step value=domain_request.about_your_organization|default:"<span class='text-bold text-error-dark'>Incomplete</span>"|safe %}
            {% include "includes/summary_item.html" with title=title value=value heading_level=heading_level editable=is_editable edit_link=domain_request_url %}
        {% endwith %}
    {% endif %}

    {% if step == Step.SENIOR_OFFICIAL %}
        {% if domain_request.senior_official is not None %}
            {% with title=form_titles|get_item:step value=domain_request.senior_official %}
                {% include "includes/summary_item.html" with title=title value=value heading_level=heading_level editable=is_editable edit_link=domain_request_url contact='true' %}
            {% endwith %}
        {% else %}
            {% with title=form_titles|get_item:step value="<span class='text-bold text-error-dark'>Incomplete</span>"|safe %}
                {% include "includes/summary_item.html" with title=title value=value heading_level=heading_level editable=is_editable edit_link=domain_request_url %}
            {% endwith %}
        {% endif %}
    {% endif %}

    {% if step == Step.CURRENT_SITES %}
        {% if domain_request.current_websites.all %}
            {% with title=form_titles|get_item:step value=domain_request.current_websites.all %}
                {% include "includes/summary_item.html" with title=title value=value heading_level=heading_level editable=is_editable edit_link=domain_request_url list='true' %}
            {% endwith %}
        {% else %}
            {% with title=form_titles|get_item:step value='None' %}
                {% include "includes/summary_item.html" with title=title value=value heading_level=heading_level editable=is_editable edit_link=domain_request_url %}
            {% endwith %}
        {% endif %}
    {% endif %}

    {% if step == Step.DOTGOV_DOMAIN %}
        {% with title=form_titles|get_item:step value=domain_request.requested_domain.name|default:"<span class='text-bold text-error-dark'>Incomplete</span>"|safe%}
            {% include "includes/summary_item.html" with title=title value=value heading_level=heading_level editable=is_editable edit_link=domain_request_url %}
        {% endwith %}

        {% if domain_request.alternative_domains.all %}
            <h4>Alternative domains</h4>
            <ul class="usa-list usa-list--unstyled margin-top-0">
            {% for site in domain_request.alternative_domains.all %}
                <li>{{ site.website }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endif %}

    {% if step == Step.PURPOSE %}
        {% with title=form_titles|get_item:step value=domain_request.purpose|default:"<span class='text-bold text-error-dark'>Incomplete</span>"|safe %}
            {% include "includes/summary_item.html" with title=title value=value heading_level=heading_level editable=is_editable edit_link=domain_request_url %}
        {% endwith %}
    {% endif %}

    {% if step == Step.YOUR_CONTACT %}
        {% if domain_request.requester is not None %}
        {% with title=form_titles|get_item:step value=domain_request.requester %}
            {% include "includes/summary_item.html" with title=title value=value heading_level=heading_level editable=is_editable edit_link=domain_request_url contact='true' %}
        {% endwith %}
        {% else %}
        {% with title=form_titles|get_item:step value="<span class='text-bold text-error-dark'>Incomplete</span>"|safe %}
            {% include "includes/summary_item.html" with title=title value=value heading_level=heading_level editable=is_editable edit_link=domain_request_url %}
        {% endwith %}
        {% endif %}
    {% endif %}

    {% if step == Step.OTHER_CONTACTS %}
        {% if domain_request.unlock_other_contacts %}
            {% with title=form_titles|get_item:step value=domain_request.other_contacts.all %}
            {% include "includes/summary_item.html" with title=title value=value heading_level=heading_level editable=is_editable edit_link=domain_request_url contact='true' list='true' %}
            {% endwith %}
        {% else %}
            {% with title=form_titles|get_item:step value=domain_request.no_other_contacts_rationale|default:"<span class='text-bold text-error-dark'>Incomplete</span>"|safe %}
            {% include "includes/summary_item.html" with title=title value=value heading_level=heading_level editable=is_editable edit_link=domain_request_url %}
            {% endwith %}
        {% endif %}
    {% endif %}


    {% if step == Step.ADDITIONAL_DETAILS %}
        {% with title=form_titles|get_item:step %}
            {% if domain_request.has_additional_details %}
                {% include "includes/summary_item.html" with title="Additional Details" value=" " heading_level=heading_level editable=is_editable edit_link=domain_request_url %}
                <h4 class="margin-bottom-0">CISA Regional Representative</h4>
                <ul class="usa-list usa-list--unstyled margin-top-05">
                    {% if domain_request.cisa_representative_first_name %}
                        <li>{{domain_request.cisa_representative_first_name}} {{domain_request.cisa_representative_last_name}}</li>
                    {% if domain_request.cisa_representative_email %}
                        <li>{{domain_request.cisa_representative_email}}</li>
                    {% endif %}
                    {% else %}
                    No
                    {% endif %}
                </ul>

            <h4 class="margin-bottom-0">Anything else</h4>
            <ul class="usa-list usa-list--unstyled margin-top-05">
                {% if domain_request.anything_else %}
                    {{domain_request.anything_else}}
                {% else %}
                    No
                {% endif %}
            </ul>
            {% else %}
                {% include "includes/summary_item.html" with title="Additional Details" value="<span class='text-bold text-error-dark'>Incomplete</span>"|safe heading_level=heading_level editable=is_editable edit_link=domain_request_url %}
            {% endif %}
        {% endwith %}
    {% endif %}


    {% if step == Step.REQUIREMENTS %}
        {% with title=form_titles|get_item:step value=domain_request.is_policy_acknowledged|yesno:"I agree.,I do not agree.,I do not agree." %}
            {% include "includes/summary_item.html" with title=title value=value heading_level=heading_level editable=is_editable edit_link=domain_request_url %}
        {% endwith %}
    {% endif %}
</section>
{% endfor %}
