{% load static %}

<div class="section-outlined__search tablet:grid-col">
    <section aria-label="{{aria_label_text}}">
        <form class="usa-search {% if use_search_icon %} usa-search--small {% else %} usa-search--default {% endif %}usa-search--show-label" method="POST" role="search">
            {% csrf_token %}
            <label id="{{item_name}}__search-label" class="usa-label display-block maxw-none margin-top-2 margin-bottom-1" for="{{item_name}}__search-field">
                {{ label_text }}
            </label> 
            <div class="usa-search--show-label__input-wrapper">
                <input
                class="usa-input minw-15"
                id="{{item_name}}__search-field"
                type="search"
                name="{{item_name}}-search"
                />
                <button class="usa-button" type="submit" id="{{item_name}}__search-field-submit" aria-labelledby="{{item_name}}__search-label">
                    <img
                        src="{% static 'img/usa-icons-bg/search--white.svg' %}"
                        class="usa-search__submit-icon"
                        alt="Search"
                    />
                    {% if not use_search_icon %} 
                    <span class="usa-search__submit-text">Search </span>
                    {% endif %}
                </button>
                <button class="usa-button usa-button--unstyled margin-left-3 display-none flex-1" id="{{item_name}}__reset-search" type="button">
                    <svg class="usa-icon" aria-hidden="true" focusable="false" role="img" width="24">
                        <use xlink:href="{%static 'img/sprite.svg'%}#close"></use>
                    </svg>
                    Reset
                </button>
            </div>
        </form>
    </section>
</div>
