{% load static url_helpers %}

{% if portfolio_first_section %} <section  class="summary-item margin-top-2">
{% else %} <section class="summary-item margin-top-3">
{% endif %}
  <hr class="" aria-hidden="true" />
  <div class="display-flex flex-justify">
    <div>
    {% if heading_level %}
      <{{ heading_level }}
    {% else %} 
      <h3
    {% endif %} 
      class="margin-top-0 margin-bottom-05
             padding-right-1"
      >
        {{ title }}
    {% if heading_level %}
      </{{ heading_level }}>
    {% else %} 
      </h3>
    {% endif %}
    
    {% if sub_header_text %}
        <h4 class="margin-bottom-0">{{ sub_header_text }}</h4>
    {% endif %}

    <ul class="usa-list">
        {% for admin in portfolio_admins %}
        <li>{{ admin.get_full_name|default:admin.username }}</li>
        {% empty %}
        <li>No admins assigned.</li>
        {% endfor %}
    </ul>
    {% if permissions %}
        {% include "includes/member_permissions_summary.html" with permissions=value %}
    {% elif domain_mgmt %}
        {% include "includes/member_domain_management.html" with domain_count=value %}
    {% elif address %}
        <h4 class="margin-bottom-2">Organization Name and Address</h4>
        {% include "includes/organization_address.html" with organization=value %}
    {% else %}
        {% if custom_text_for_value_none %}
          <p class="margin-top-0 text-base-dark">{{ custom_text_for_value_none }}</p>
        {% endif %}
        {% if value %}
          {{ value }}
        {% endif %}
        {% if not value %}
          None
        {% endif %}
      {% endif %}
    </div>

    {% comment %}We have conditions where an edit_link is set but editable can be true or false{% endcomment %}
    {% if edit_link %}
      {% if manage_button or editable or view_button %}
        <div class="text-right">
          <a
            href="{{ edit_link }}"
            class="usa-link usa-link--icon font-sans-sm line-height-sans-4"
          >
            <svg class="usa-icon" aria-hidden="true" focusable="false" role="img" width="24">
              <use xlink:href="{% static 'img/sprite.svg' %}#{% if manage_button %}settings{% elif editable %}edit{% else %}visibility{% endif %}"></use>
            </svg>
            {% if manage_button %}
              Manage
            {% elif editable %}
              Edit
            {% else %}
              View
            {% endif %}
            <span class="sr-only"> {{ title|default:"Page" }}</span>
          </a>
        </div>
      {% endif %}
    {% endif %}

 </div>
</section>
