{% load static url_helpers %}

{% if portfolio_first_section %} 
<section  class="summary-item margin-top-2">
{% else %} 
<section class="summary-item margin-top-3">
{% endif %}
  <hr class="" aria-hidden="true" />
  <div class="display-flex flex-justify">
    <div>
    {% if heading_level %}
      <{{ heading_level }}
    {% else %} 
      <h3
    {% endif %} 
      class="margin-top-0 margin-bottom-05
             padding-right-1"
      >
        {{ title }}
    {% if heading_level %}
      </{{ heading_level }}>
    {% else %} 
      </h3>
    {% endif %}
    
    {# To display default styling for sub-header text and organization information in organization overview #}
      {% if sub_header_text == 'Organization admins' %}  
        <h4 class="margin-bottom-1 margin-top-2">{{ sub_header_text }}</h4>  
        <ul class="usa-list margin-top-1">
          {% for admin in portfolio_admins %}
            <li>{{ admin.get_full_name|default:admin.username }}</li>
          {% empty %}
            <li>No admins assigned.</li>
          {% endfor %}
        </ul>
        <h4 class="margin-bottom-1 margin-top-2">Organization information</h4>
          {% if organization_type and federal_type %}
            <div class="usa-prose">Organization type: {{ organization_type }} - {{ federal_type }}</div>
          {% else %}
            <div class="usa-prose">Organization type: {{ organization_type }}</div>
          {% endif %}
        {% include "includes/organization_address.html" with organization=value %}
    {% endif %}
    
    {% if permissions %}
      {% include "includes/member_permissions_summary.html" with permissions=value %}
    
    {% elif domain_mgmt %}
      {% include "includes/member_domain_management.html" with domain_count=value %}
    
    {% elif address %}
      {% include "includes/organization_address.html" with organization=value %}
    
    {% elif contact %}
      {% if list %}
        {% if value|length == 1 %}
          {% include "includes/contact.html" with contact=value|first %}
        {% else %}
          {% if value %}
            <dl class="usa-list usa-list--unstyled margin-top-0">
              {% for item in value %}
              <dt>
                <h4 class="margin-bottom-05 padding-right-1">
                    Contact {{forloop.counter}}
                </h4>
              </dt>
              <dd>
                {% include "includes/contact.html" with contact=item %}
              </dd>
              {% endfor %}
            </dl>
          {% elif custom_text_for_value_none %}
            <p>
              {{ custom_text_for_value_none }}
            </p>
          {% else %}
            <p>
                None
            </p>
          {% endif %}
        {% endif %}
      {% else %}
        {% include "includes/contact.html" with contact=value %}
      {% endif %}
    
    {% elif list %}
      {% if value|length == 1 %}
        {% if users %}
          <p class="margin-top-0">{{ value.0.user.email }} </p>
        {% elif domains %}
          {{ value.0.0 }}
          {% if value.0.1 %}
            ({% spaceless %}
            {% for addr in value.0.1 %}
              {{addr}}{% if not forloop.last %}, {% endif %}
            {% endfor %}
            {% endspaceless %})
          {% endif %}
        {% else %}
          <p class="margin-top-0 margin-bottom-0">{{ value | first }} </p>
        {% endif %}
      {% else %}
        <ul class="usa-list usa-list--unstyled margin-top-0">
          {% for item in value %}
          {% if users %}
            <li>{{ item.user.email }}</li>
          {% elif domains %}
            <li>
              {{ item.0 }}
              {% if item.1 %}
                ({% spaceless %}
                {% for addr in item.1 %}
                  {{addr}}{% if not forloop.last %}, {% endif %}
                {% endfor %}
                {% endspaceless %})
              {% endif %}
            </li>
          {% else %}
            <li>{{ item }}</li>
          {% endif %}
          {% empty %}
            <li>None</li>
          {% endfor %}
        </ul>
      {% endif %}
    
    {% elif domain_permissions %}
      {% if value.permissions.all %}
        {% if value.permissions|length == 1 %}
          <p class="margin-top-0">{{ value.permissions.0.user.email }} </p>
        {% else %}
          <ul class="usa-list usa-list--unstyled margin-top-0">
          {% for item in value.permissions.all %}
            <li>{{ item.user.email }}</li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endif %}
      
      {% if value.active_invitations.all %}
        <h4 class="margin-bottom-05">Invited domain managers</h4>
        <ul class="usa-list usa-list--unstyled margin-top-0">
        {% for item in value.active_invitations.all %}
          <li>{{ item.email }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    
    <!-- this is just to prevent the portfolio from appearing on Org Overview page -->
    {% elif sub_header_text != "Organization admins" %}
      {% if custom_text_for_value_none %}
        <p class="margin-top-0 text-base-dark">{{ custom_text_for_value_none }}</p>
      {% endif %}
      {% if value %}
        {{ value }}
      {% endif %}
      {% if not value %}
        None
      {% endif %}
    {% endif %}
    </div>

    {% comment %}We have conditions where an edit_link is set but editable can be true or false{% endcomment %}
    {% if edit_link %}
      {% if manage_button or editable or view_button %}
        <div class="text-right">
          <a
            href="{{ edit_link }}"
            class="usa-link usa-link--icon font-sans-sm line-height-sans-4"
          >
            <svg class="usa-icon" aria-hidden="true" focusable="false" role="img" width="24">
              <use xlink:href="{% static 'img/sprite.svg' %}#{% if manage_button %}settings{% elif editable %}edit{% else %}visibility{% endif %}"></use>
            </svg>
            {% if manage_button %}
              Manage
            {% elif editable %}
              Edit
            {% else %}
              View
            {% endif %}
            <span class="sr-only"> {{ title|default:"Page" }}</span>
          </a>
        </div>
      {% endif %}
    {% endif %}
  </div>
</section>
