{% load static field_helpers url_helpers custom_filters %}

<div id="{{field.name}}__edit-button-readonly" class="margin-top-2 margin-bottom-1 toggleable_input {% if not field.value and field.field.required %}toggleable_input__error{% endif %}">
    <svg class="usa-icon" aria-hidden="true" focusable="false" role="img" width="24" height="24">
        {% if field.value or not field.field.required %}
            <use xlink:href="{%static 'img/sprite.svg'%}#check_circle"></use>
        {%elif not field.value %}
            <use xlink:href="{%static 'img/sprite.svg'%}#error"></use>
        {%endif %}
    </svg>
    <div class="display-inline padding-left-05 margin-left-3 toggleable_input__readonly-field {% if not field.field.required %}text-base{% endif %}">
        {% if field.name != "phone" %}
        {{ field.value }}
        {% else %}
        {{ field.value|format_phone }}
        {% endif %}
    </div>
</div>
