{{ data }}
<table>
    <thead>
        <tr>
            <th>Type</th>
            <th>For start date</th>
            <th>for end date</th>
        <tr>
    </thead>
    <tbody>
        <tr>
            <th class="padding-left-1" scope="row">Total</th>
            <td class="padding-left-1">data</td>
            <td class="padding-left-1">data</td>
        </tr>
        <tr>
            <th class="padding-left-1" scope="row">Federal</th>
            <td class="padding-left-1">data</td>
            <td class="padding-left-1">data</td>
        </tr>
        <tr>
            <th class="padding-left-1" scope="row">Interstate</th>
            <td class="padding-left-1">data</td>
            <td class="padding-left-1">data</td>
        </tr>
        <tr>
            <th class="padding-left-1" scope="row">State/Territory</th>
            <td class="padding-left-1">data</td>
            <td class="padding-left-1">data</td>
        </tr>
        <tr>
            <th class="padding-left-1" scope="row">Tribal</th>
            <td class="padding-left-1">data</td>
            <td class="padding-left-1">data</td>
        </tr>
        <tr>
            <th class="padding-left-1" scope="row">County</th>
            <td class="padding-left-1">data</td>
            <td class="padding-left-1">data</td>
        </tr>
        <tr>
            <th class="padding-left-1" scope="row">City</th>
            <td class="padding-left-1">data</td>
            <td class="padding-left-1">data</td>
        </tr>
        <tr>
            <th class="padding-left-1" scope="row">Special District</th>
            <td class="padding-left-1">data</td>
            <td class="padding-left-1">data</td>
        </tr>
        <tr>
            <th class="padding-left-1" scope="row">School District</th>
            <td class="padding-left-1">data</td>
            <td class="padding-left-1">data</td>
        </tr>
        <tr>
            <th class="padding-left-1" scope="row">Election Board</th>
            <td class="padding-left-1">data</td>
            <td class="padding-left-1">data</td>
        </tr>
    </tbody>
</table>