{% load i18n admin_urls %}
{% load i18n static %}

{% comment %} Replace li with p for more semantic HTML if we have a single child {% endcomment %}
{% block object-tools-items %}
    {% url opts|admin_urlname:'history' original.pk|admin_urlquote as history_url %}
    {% if has_absolute_url %}
        <ul>
            <li>
                <a href="{% add_preserved_filters history_url %}" class="historylink">{% translate "History" %}</a>
            </li>
            <li>
                <a href="{{ absolute_url }}" class="viewsitelink">{% translate "View on site" %}</a>
            </li>
        </ul>
    {% else %}
        <ul>
            <li>
                <a href="{% add_preserved_filters history_url %}">{% translate "History" %}</a>
            </li>
            {% if opts.model_name == 'domainrequest' %}
            <li>
                <a id="id-copy-to-clipboard-summary" class="button--clipboard" type="button" href="#">
                    <svg class="usa-icon" >
                        <use xlink:href="{%static 'img/sprite.svg'%}#content_copy"></use>
                    </svg>
                    <span>{% translate "Copy request summary" %}</span>
                </a>
            </li>
            {% endif %}
        </ul>
    {% endif %}
{% endblock %}

