{% extends "admin/change_form.html" %}

{% comment %} Replace the Django ul markup with a div. We'll edit the child markup accordingly in change_form_object_tools {% endcomment %}
{% block object-tools %}
{% if change and not is_popup %}
    <div class="object-tools">
        {% block object-tools-items %}
            {{ block.super }}
        {% endblock %}
    </div>
{% endif %}
{% endblock %}

{% block submit_buttons_top %}
    {# Do not render the submit buttons #}
{% endblock %}

{% block submit_buttons_bottom %}
    {# Do not render the submit buttons #}
{% endblock %}
