{% load i18n admin_urls static custom_filters %}

{% comment %} Replace li with p for more semantic HTML if we have a single child {% endcomment %}
{% block object-tools-items %}
    {% url opts|admin_urlname:'history' original.pk|admin_urlquote as history_url %}
    {% content_type_id original as resource_type_id %}
    {% if has_absolute_url %}
        <ul>
            <li>
                <button data-href="{% add_preserved_filters history_url %}" class="historylink use-button-as-link">{% translate "History" %}</button>
            </li>
            <li>
                <button data-href="{{ absolute_url }}" class="viewsitelink use-button-as-link">{% translate "View on site" %}</button>
            </li>
        </ul>
    {% else %}
        <ul>
            {% if opts.model_name == 'domaininvitation' %}
                {% if invitation.status == invitation.DomainInvitationStatus.INVITED %}
                    <li>
                        <form method="post">
                            {% csrf_token %}
                            <input type="hidden" name="cancel_invitation" value="true">
                            <button type="submit" class="usa-button--dja">
                                Cancel invitation
                            </button>
                        </form>
                    </li>
                {% endif %}
            {% endif %}

            <li>
                <button data-href="{% url 'admin:auditlog_logentry_changelist' %}?resource_type={{ resource_type_id }}&object_id={{ original.pk }}" class="historylink use-button-as-link">{% translate "History" %}</button>
            </li>

            {% if opts.model_name == 'domainrequest' %}
            <li>
                <button id="id-copy-to-clipboard-summary" class="usa-button--dja">
                    <svg class="usa-icon">
                        <use xlink:href="{%static 'img/sprite.svg'%}#content_copy"></use>
                    </svg>
                    <!-- the span is targeted in JS, do not remove -->
                    <span>{% translate "Copy request summary" %}</span>
                </button>
            </li>
            {% endif %}
        </ul>
    {% endif %}
{% endblock %}
