{% extends "admin/change_list.html" %}

{% block content_title %}
    <h1>{{ title }}</h1>

    {# Adds a model description #}
    {# TODO - this should be stored in context or something, not here. Make this a function. #}
    {% if opts.model_name == 'domainrequest' %}
        <p class="django-admin__model-description text-normal">
            This table contains all domain requests that have been started within the registrar and the status of those requests. 
            Updating values here will immediately update the corresponding values that users see in the registrar. 
            Once a domain request has been adjudicated, the details of that request should not be modified. 
            To update attributes (like an organization’s name) after a domain’s approval, go to <a href="#">Domains</a>. 
            Similar fields display on each Domain page, but edits made there will not affect the corresponding domain request.
        </p>
    {% elif opts.model_name == 'contact' %}
        <p class="django-admin__model-description text-normal">
            Contacts include anyone who has access to the registrar (known as “users”) and anyone listed in a domain request, 
            including other employees and authorizing officials. 
            Only contacts who have access to the registrar will have a corresponding record within the <a href="#">Users</a> table.
            <br>
            Updating someone’s contact information here will not affect that person’s Login.gov information.
        </p>
    {% elif opts.model_name == 'domaininformation' %}
    {% endif %}

    <h2>
        {{ cl.result_count }} 
        {% if cl.get_ordering_field_columns %}
            sorted
        {% endif %}
        {% if cl.result_count == 1 %}
            result
        {% else %}
            results
        {% endif %}
        {% if filters %}
            filtered by
                {% for filter_param in filters %}
                    {% if filter_param.parameter_name == 'is_election_board' %}
                        {%if filter_param.parameter_value == '0' %}
                            election office = No
                        {% else %}
                            election office = Yes
                        {% endif %}
                    {% elif filter_param.parameter_name == 'status__in' %}
                        status in [{{ filter_param.parameter_value }}]
                    {% else %}
                        {{ filter_param.parameter_name }} = {{ filter_param.parameter_value }}
                    {% endif %}
                    {% if not forloop.last %}, {% endif %}
                {% endfor %}
        {% endif %}
        {% if search_query  %}
            for {{ search_query }}
        {% endif %}
    </h2>    
{% endblock %}

{% comment %} Replace the Django ul markup with a div. We'll replace the li with a p in change_list_object_tools {% endcomment %}
{% block object-tools %}
    <div class="object-tools">
        {% block object-tools-items %}
            {{ block.super }}
        {% endblock %}
    </div>
{% endblock %}