{% extends "admin/index.html" %}

{% block content %}
<div id="content-main">
    {% include "admin/app_list.html" with app_list=app_list show_changelinks=True %}
    <div class="custom-content module">
        <h2>Welcome to the Custom Admin Homepage!</h2>

        {% comment %} 
            Inputs of type date suck for accessibility.
            We'll need to replace those guys with a django form once we figure out how to hook one onto this page.
            The challenge is in the path definition in urls. Itdoes NOT like admin/export_data/

            See the commit "Review for ticket #999"
        {% endcomment %}

        <label for="start">Start date:</label>
        <input type="date" id="start" name="trip-start" value="2018-07-22" min="2018-01-01" />
        <label for="end">End date:</label>
        <input type="date" id="end" name="trip-end" value="2023-12-19" min="2023-12-01" />

        <button id="exportLink" data-export-url="{% url 'admin_export_data' %}" type="button" class="button">Export</button>

    </div>
</div>
{% endblock %}