{% load i18n static %}

{% comment %}
Template for an input field with a clipboard
{% endcomment %}

{% if not invisible_input_field %}
<div class="admin-icon-group">
    {{ field }}
    <button 
    class="usa-button usa-button--unstyled padding-left-1 usa-button--icon button--clipboard copy-to-clipboard" 
    type="button"
    >
        <div class="no-outline-on-click">
            <svg 
            class="usa-icon"
            >
                <use aria-hidden="true" xlink:href="{%static 'img/sprite.svg'%}#content_copy"></use>
            </svg>
            Copy
        </div>
    </button>
</div>
{% else %}
<div class="admin-icon-group admin-icon-group__clipboard-link">
    <input aria-hidden="true" class="display-none" value="{{ field.email }}" />
    <button 
    class="usa-button usa-button--unstyled padding-right-1 usa-button--icon button--clipboard copy-to-clipboard text-no-underline padding-left-05" 
    type="button"
    >
        <svg 
        class="usa-icon" 
        >
            <use aria-hidden="true" xlink:href="{%static 'img/sprite.svg'%}#content_copy"></use>
        </svg>
        Copy
    </button>
</div>
{% endif %}