{% load i18n static %}

{% comment %}
Template for an input field with a clipboard
{% endcomment %}

{% if not invisible_input_field %}
<div class="admin-icon-group">
    {{ field }}
    <button 
    class="usa-button--dja usa-button usa-button__small-text usa-button--unstyled padding-left-1 usa-button--icon copy-to-clipboard" 
    type="button"
    >
        <div class="no-outline-on-click">
            <svg 
            class="usa-icon"
            >
                <use aria-hidden="true" xlink:href="{%static 'img/sprite.svg'%}#content_copy"></use>
            </svg>
            <!-- the span is targeted in JS, do not remove -->
            <span>Copy</span>
        </div>
    </button>
</div>
{% else %}
<div class="admin-icon-group">
    <input aria-hidden="true" class="display-none" value="{{ field.email }}" />
    {% if field.email is not None %}
        <button 
        class="usa-button--dja usa-button usa-button__small-text usa-button--unstyled padding-right-1 usa-button--icon copy-to-clipboard text-no-underline padding-left-05" 
        type="button"
        >
            <svg 
            class="usa-icon" 
            >
                <use aria-hidden="true" xlink:href="{%static 'img/sprite.svg'%}#content_copy"></use>
            </svg>
            <!-- the span is targeted in JS, do not remove -->
            <span>Copy</span>
        </button>
    {% endif %}
</div>
{% endif %}
