{% load i18n static %}

{% comment %}
Template for an input field with a clipboard
{% endcomment %}

<div class="admin-icon-group">
    {{ field }}
    <button 
    class="usa-button usa-button--unstyled padding-right-1 usa-button__icon usa-button__clipboard" 
    type="button"
    >
        <div class="usa-tooltip no-outline-on-click"
        data-position="right"
        title="Copy email">
        <svg 
        class="usa-icon no-pointer-events"
        >
            <use aria-hidden="true" xlink:href="{%static 'img/sprite.svg'%}#content_copy"></use>
        </svg>
        </div>
    </button>
</div>