{% extends 'admin/change_form.html' %}
{% load custom_filters %}

{% block content %}
    
        {% if related_objects %}
            <div>
                <h2>Related Objects:</h2>
                <ul>
                    {% for url, obj in related_objects %}
                        <li>
                            {{ obj|class_name }}:
                            <a href="{{ url }}">
                                {{ obj }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

    {{ block.super }}

{% endblock %}