{% extends 'admin/delete_selected_confirmation.html' %}
{% load i18n static %}

{% block content %}
{# TODO modify the "Are you sure?" to the text content below.. #}
{% comment %}
<h3>Are you sure you want to remove this domain from the registry?</h3>
{% endcomment %}
<h2>Description</h2>
<p>When a domain is removed from the registry:</p>

<ul>
    <li>The domain and its subdomains won’t resolve in DNS. Any infrastructure (like websites) will go offline.</li>
    <li>The domain will still appear in the registrar / admin.</li>
    <li>Domain managers won’t be able to edit the domain.</li>
</ul>

<p>This action cannot be undone.</p>

{{ block.super }}
{% endblock %}