{% extends 'admin/change_form.html' %}
{% load i18n static %}

{% block content %}
    {% comment %} Stores the json endpoint in a url for easier access {% endcomment %}
    {% url 'get-portfolio-json' as url %}
    <input id="portfolio_json_url" class="display-none" value="{{url}}" />
    {{ block.super }}
{% endblock content %}

{% block field_sets %}
    {% if not adminform.form.is_omb_analyst %}
        <div class="display-flex flex-row flex-justify submit-row">

            <div class="flex-align-self-start button-list-mobile">
                <input id="manageDomainSubmitButton" type="submit" value="Manage domain" name="_edit_domain">
                {# Dja has margin styles defined on inputs as is. Lets work with it, rather than fight it. #}
                <span class="mini-spacer"></span>
                <input type="submit" value="Get registry status" name="_get_status">
            </div>

            <div class="desktop:flex-align-self-end">
                {% if original.state != original.State.DELETED %}
                    <a class="text-middle" href="#toggle-extend-expiration-alert" aria-controls="toggle-extend-expiration-alert" data-open-modal>
                        Extend expiration date
                    </a>
                    <span class="margin-left-05 margin-right-05 text-middle"> | </span>
                {% endif %}
                {% if original.state == original.State.READY %}
                    <a class="text-middle" href="#toggle-place-on-hold" aria-controls="toggle-place-on-hold" data-open-modal>
                        Place hold
                    </a>
                {% elif original.state == original.State.ON_HOLD %}
                    <input type="submit" value="Remove hold" name="_remove_client_hold" class="custom-link-button">
                {% endif %}
                {% if original.state == original.State.READY or original.state == original.State.ON_HOLD %}
                    <span class="margin-left-05 margin-right-05 text-middle"> | </span>
                {% endif %}
                {% if original.state != original.State.DELETED %}
                    <a class="text-middle" href="#toggle-remove-from-registry" aria-controls="toggle-remove-from-registry" data-open-modal>
                        Remove from registry
                    </a>
                {% endif %}
            </div>
        </div>
    {% endif %}

    {% for fieldset in adminform %}
        <input type="hidden" name="version" value="{{ original.updated_at|date:'c' }}">
        {% include "django/admin/includes/domain_fieldset.html" with state_help_message=state_help_message %}
    {% endfor %}
{% endblock %}

{% block submit_buttons_bottom %}
    {% comment %}
    Modals behave very weirdly in django admin.
    They tend to "strip out" any injected form elements, leaving only the main form.
    In addition, USWDS handles modals by first destroying the element, then repopulating it toward the end of the page.
    In effect, this means that the modal is not, and cannot, be surrounded by any form element at compile time.

    The current workaround for this is to use javascript to inject a hidden input, and bind submit of that
    element to the click of the confirmation button within this modal.

    This is controlled by the class `dja-form-placeholder` on the button.

    In addition, the modal element MUST be placed low in the DOM. The script loads slower on DJA than on other portions
    of the application, so this means that it will briefly "populate", causing unintended visual effects.
    {% endcomment %}

    {# Create a modal for the _extend_expiration_date button #}
    <div
    class="usa-modal usa-modal--django-admin"
    id="toggle-extend-expiration-alert"
    aria-labelledby="Are you sure you want to extend the expiration date?"
    aria-describedby="This expiration date will be extended."
    >
        <div class="usa-modal__content">
            <div class="usa-modal__main">
                <h2 class="usa-modal__heading">
                    Are you sure you want to extend the expiration date?
                </h2>
                <div class="usa-prose">
                    <p>
                        This will extend the expiration date by one year from today.
                        {# Acts as a <br> #}
                        <div class="display-inline"></div>
                        This action cannot be undone.
                    </p>
                    <p>
                        Domain: <b>{{ original.name }}</b>
                        {# Acts as a <br> #}
                        <div class="display-inline"></div>
                        Current expiration date: <b>{{ curr_exp_date }}</b>
                        {{test}}
                    </p>
                </div>

                <div class="usa-modal__footer">
                    <ul class="usa-button-group">
                        <li class="usa-button-group__item">
                            <button
                            type="submit" 
                            class="usa-button dja-form-placeholder" 
                            name="_extend_expiration_date"
                            >
                                Yes, extend date
                            </button>
                        </li>
                        <li class="usa-button-group__item">
                            <button
                            type="button"
                            class="usa-button usa-button--unstyled padding-105 text-center"
                            data-close-modal
                            >
                                Cancel
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
            <button
            type="button"
            class="usa-button usa-modal__close"
            aria-label="Close this window"
            data-close-modal
            >
                <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                    <use xlink:href="{%static 'img/sprite.svg'%}#close"></use>
                </svg>
            </button>
        </div>
    </div>

    {# Create a modal for the _on_hold button #}
    <div
    class="usa-modal usa-modal--django-admin"
    id="toggle-place-on-hold"
    aria-labelledby="Are you sure you want to place this domain on hold?"
    aria-describedby="This domain will be put on hold"
    >
        <div class="usa-modal__content">
            <div class="usa-modal__main">
                <h2 class="usa-modal__heading">
                    Are you sure you want to place this domain on hold?
                </h2>
                <div class="usa-prose">
                    <p>
                        When a domain is on hold:
                    </p>
                    <ul>
                        <li class="font-body-sm">The domain and its subdomains won’t resolve in DNS. Any infrastructure (like websites) will go offline.</li>
                        <li class="font-body-sm">The domain will still appear in the registrar / admin.</li>
                        <li class="font-body-sm">Domain managers won’t be able to edit the domain.</li>
                    </ul>
                    <p>
                        This action can be reversed, if needed.
                    </p>
                    <p>
                        Domain: <b>{{ original.name }}</b>
                        {# Acts as a <br> #}
                        <div class="display-inline"></div>
                        New status: <b>{{ original.State.ON_HOLD|capfirst }}</b>
                    </p>
                </div>

                <div class="usa-modal__footer">
                    <ul class="usa-button-group">
                        <li class="usa-button-group__item">
                            <button
                            type="submit" 
                            class="usa-button dja-form-placeholder" 
                            name="_place_client_hold"
                            >
                                Yes, place hold
                            </button>
                        </li>
                        <li class="usa-button-group__item">
                            <button
                            type="button"
                            class="usa-button usa-button--unstyled padding-105 text-center"
                            data-close-modal
                            >
                                Cancel
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
            <button
            type="button"
            class="usa-button usa-modal__close"
            aria-label="Close this window"
            data-close-modal
            >
                <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                    <use xlink:href="{%static 'img/sprite.svg'%}#close"></use>
                </svg>
            </button>
        </div>
    </div>
    {# Create a modal for the _remove_domain button #}
    <div
    class="usa-modal usa-modal--django-admin"
    id="toggle-remove-from-registry"
    aria-labelledby="Are you sure you want to remove this domain from the registry?"
    aria-describedby="This domain will be removed."
    >
        <div class="usa-modal__content">
            <div class="usa-modal__main">
                <h2 class="usa-modal__heading">
                    Are you sure you want to remove this domain from the registry?
                </h2>
                <div class="usa-prose">
                    <p>
                        When a domain is removed from the registry:
                    </p>
                    <ul>
                        <li class="font-body-sm">The domain and its subdomains won’t resolve in DNS. Any infrastructure (like websites) will go offline.</li>
                        <li class="font-body-sm">The domain will still appear in the registrar / admin.</li>
                        <li class="font-body-sm">Domain managers won’t be able to edit the domain.</li>
                    </ul>
                    <p>
                        This action cannot be undone.
                    </p>
                    <p>
                        Domain: <b>{{ original.name }}</b>
                        {# Acts as a <br> #}
                        <div class="display-inline"></div>
                        New status: <b>{{ original.State.DELETED|capfirst }}</b>
                    </p>
                </div>

                <div class="usa-modal__footer">
                    <ul class="usa-button-group">
                        <li class="usa-button-group__item">
                            <button
                            type="submit" 
                            class="usa-button dja-form-placeholder" 
                            name="_delete_domain"
                            >
                                Yes, remove from registry
                            </button>
                        </li>
                        <li class="usa-button-group__item">
                            <button
                            type="button"
                            class="usa-button usa-button--unstyled padding-105 text-center"
                            data-close-modal
                            >
                                Cancel
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
            <button
            type="button"
            class="usa-button usa-modal__close"
            aria-label="Close this window"
            data-close-modal
            >
                <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                    <use xlink:href="{%static 'img/sprite.svg'%}#close"></use>
                </svg>
            </button>
        </div>
    </div>
{{ block.super }}
{% endblock %}
