{% extends 'admin/change_form.html' %}
{% load i18n static %}

{% block extrahead %}
{{ block.super }}
<script type="application/javascript" src="{% static 'js/get-gov-admin.js' %}" defer></script>
{% endblock %}

{% block field_sets %}
    <div class="submit-row">
        {% if original.state == original.State.READY%}
          <input type="submit" value="Place hold" name="_place_client_hold">
        {% elif original.state == original.State.ON_HOLD%}
          <input type="submit" value="Remove hold" name="_remove_client_hold">
        {% endif %}
        <input id="manageDomainSubmitButton" type="submit" value="Manage Domain" name="_edit_domain">
        <input type="submit" value="get status" name="_get_status">
        <input type="submit" value="EPP Delete Domain" name="_delete_domain">
    </div>
    {{ block.super }}
{% endblock %}
