{% extends "admin/change_list.html" %}

{% block object-tools %}

<ul class="object-tools">
    <li>
        <a href="{% url 'admin:registrar_domain_export_data_type' %}" class="button">Export all domain metadata</a>
    </li>
    <li>
        <a href="{% url 'admin:registrar_domain_export_data_full' %}" class="button">Export current-full.csv</a>
    </li>
    <li>
        <a href="{% url 'admin:registrar_domain_export_data_federal' %}" class="button">Export current-federal.csv</a>
    </li>
    {% if has_add_permission %}
    <li>
        <a href="{% url 'admin:registrar_domain_add' %}" class="addlink">
            Add domain
        </a>
    </li>
    {% endif %}
</ul>
{% endblock %}