{% extends "admin/change_list.html" %}

{% block object-tools %}

<ul class="object-tools">
    {% if has_add_permission %}
    <li>
    <a href="{% url 'admin:registrar_domain_add' %}" class="addlink">
        Add Domain
    </a>
    </li>
    {% endif %}
    <li>
        <a href="{% url 'admin:registrar_domain_export_data_type' %}" class="button">Export domains (type)</a>
    </li>
    <li>
        <a href="{% url 'admin:registrar_domain_export_data_full' %}" class="button">Export domains (full)</a>
    </li>
    <li>
        <a href="{% url 'admin:registrar_domain_export_data_federal' %}" class="button">Export domains (federal)</a>
    </li>
</ul>
{% endblock %}