{% extends "admin/change_list.html" %}

{% block object-tools %}

<ul class="object-tools">
    {% if has_add_permission %}
    <li>
    <a href="{% url 'admin:registrar_domain_add' %}" class="addlink">
        Add Domain
    </a>
    </li>
    <li>
        {% comment %} <button type="button" class="button" id="custom-button-1">Custom Button 1</button>
        <input type="submit" value="Place hold" name="_place_client_hold"> {% endcomment %}
        <a href="{% url 'admin:registrar_domain_export_static_data' %}" class="button">Export Data</a>
    </li>
    <li>
        <button type="button" class="button" id="custom-button-2">Custom Button 2</button>
    </li>
    <li>
        <button type="button" class="button" id="custom-button-3">Custom Button 3</button>
    </li>
    {% endif %}
</ul>
{% endblock %}