{% extends 'django/admin/email_clipboard_change_form.html' %}
{% load i18n static %}

{% block content %}
    {% comment %} Stores the json endpoint in a url for easier access {% endcomment %}
    {% url 'get-senior-official-from-federal-agency-json' as url %}
    <input id="senior_official_from_agency_json_url" class="display-none" value="{{url}}" />
    {% url 'get-federal-and-portfolio-types-from-federal-agency-json' as url %}
    <input id="federal_and_portfolio_types_from_agency_json_url" class="display-none" value="{{url}}" />
    {{ block.super }}
{% endblock content %}

{% block field_sets %}
    {% for fieldset in adminform %}
        {% comment %}
        This is a placeholder for now.

        Disclaimer:
        When extending the fieldset view - *make a new one* that extends from detail_table_fieldset.
        For instance, "portfolio_fieldset.html".
        detail_table_fieldset is used on multiple admin pages, so a change there can have unintended consequences.
        {% endcomment %}
        {% include "django/admin/includes/detail_table_fieldset.html" with original_object=original %}
    {% endfor %}
{% endblock %}
