{% extends 'django/admin/email_clipboard_change_form.html' %}
{% load i18n static %}

{% block after_related_objects %}
    <div class="module aligned padding-3">
        <h2>Associated requests and domains</h2>
        <div class="grid-row grid-gap mobile:padding-x-1 desktop:padding-x-4">
            <div class="mobile:grid-col-12 tablet:grid-col-6 desktop:grid-col-4">
                <h3>Domain requests</h3>
                <ul class="margin-0 padding-0">
                {% for domain_request in domain_requests %}
                    <li>
                        <a href="{% url 'admin:registrar_domainrequest_change' domain_request.pk %}">
                            {{ domain_request.requested_domain }}
                        </a>
                        ({{ domain_request.status }})
                    </li>
                {% endfor %}
                </ul>
            </div>    
            <div class="mobile:grid-col-12 tablet:grid-col-6 desktop:grid-col-4">
                <h3>Domains</h3>
                <ul class="margin-0 padding-0">
                {% for domain in domains %}
                    <li>
                        <a href="{% url 'admin:registrar_domain_change' domain.pk %}">
                            {{ domain.name }}
                        </a>
                        ({{ domain.state }})
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
