{% extends 'django/admin/base_change_form.html' %}
{% load custom_filters %}
{% load i18n static %}

{% block content_subtitle %}
    <div class="usa-alert usa-alert--info usa-alert--slim">
        <div class="usa-alert__body margin-left-1 maxw-none">
            <p class="usa-alert__text maxw-none">
                If you add someone to a portfolio here, it will not trigger an invitation email. To trigger an email, use the <a class="usa-link" href="{% url 'admin:registrar_portfolioinvitation_changelist' %}">Portfolio invitations table</a> instead.
            </p>
        </div>
    </div>
    {{ block.super }}
{% endblock %}
