{% extends 'django/admin/email_clipboard_change_form.html' %}
{% load i18n static %}


{% block field_sets %}
    <div class="display-flex flex-row flex-justify submit-row">
        <div class="desktop:flex-align-self-end">
            <a href="{% url 'transfer_user' original.pk %}" class="button">
                Transfer data from old account
            </a>
        </div>
    </div>

    {% for fieldset in adminform %}
        {% include "django/admin/includes/domain_fieldset.html" with state_help_message=state_help_message %}
    {% endfor %}
{% endblock %}

{% block after_related_objects %}
  
        <div class="module aligned padding-3">
        <h2>Domain Requests</h2>

        <div class="display-flex flex-column margin-top-3">   
        {% for item in formatted_table_data %}
        <div class="margin-bottom-3">
            
               <p class="margin-bottom-0">
                {% if item.portfolio %}
                <a href="{{ portfolio_url }}"> {{ item.portfolio.organization_name }} </a>
                {% else %}
                    No portfolio
                {% endif %}
            
            </p>
               <div class="padding-left-1">
                  {%if item.portfolio_domain_requests|length > 0%}
                     {% include "django/admin/includes/portfolio/portfolio_domain_requests_table.html" with domain_requests=item.portfolio_domain_requests link_title="Domain Requests"%}
                  {% else %}
                      <div class="readonly padding-top-1"> No domain requests </div>
                  {% endif %}
               </div>
        </div>
       {% endfor %}
        </div>
     
        </div>

          
        <div class="module aligned padding-3">
        <h2>Domains</h2>

        <div class="display-flex flex-column margin-top-3">   
        {% for item in formatted_portfolios %}
        <div class="margin-bottom-3">
               <p class="margin-bottom-0"><a href="{{ portfolio_url }}"> {{ item.portfolio.organization_name }} </a></p>
               <div class="padding-left-1">
                {%if item.portfolio_domains %}
                     {% include "django/admin/includes/portfolio/portfolio_domains_table.html" with domains=item.portfolio_domains link_title="Domains"%}
                {% else %}
                <div class="readonly padding-top-1"> No domains</div> 
                {% endif %}
               </div>
        </div>
       {% endfor %}
        </div>
     
        </div>
{% endblock %}
