{% extends 'django/admin/email_clipboard_change_form.html' %}
{% load custom_filters %}
{% load i18n static %}

{% block content_subtitle %}
    <div class="usa-alert usa-alert--info usa-alert--slim">
        <div class="usa-alert__body margin-left-1 maxw-none">
            <p class="usa-alert__text maxw-none">
                When adding someone to a portfolio here, use the email checkbox to send an invitation email. New email
                addresses that do not belong to an existing user will always receive an invitation email.
            </p>
        </div>
    </div>
    {{ block.super }}
{% endblock %}
