{% extends 'django/admin/email_clipboard_change_form.html' %}
{% load i18n static %}


{% block field_sets %}
    <div class="display-flex flex-row flex-justify submit-row">
        <div class="desktop:flex-align-self-end">
            <a href="{% url 'transfer_user' original.pk %}" class="button">
                Transfer data from old account
            </a>
        </div>
    </div>

    {% for fieldset in adminform %}
        {% include "django/admin/includes/domain_fieldset.html" with state_help_message=state_help_message %}
    {% endfor %}
{% endblock %}

{% block after_related_objects %}
  
        <div class="module aligned padding-3">
        <h2>Domain Requests</h2>

        <div class="display-flex flex-column margin-top-3">   

        <!-- If there is no data, display this message under the heading for domain request -->
        {% if formatted_table_data|length == 0%}
                 <div class="padding-left-1"> 
                      <div class="readonly padding-top-1 padding-left-05"> No domain requests </div>
                </div>
        {%endif %}


        {% for item in formatted_table_data %}
        <div class="margin-bottom-3">
            
               <p class="margin-bottom-0">
                {% if item.portfolio %}
                    {% url 'admin:registrar_portfolio_change' item.portfolio.pk as url %}
                    <a href="{{ url }}"> 
                            {{ item.portfolio.organization_name }}
                    </a>
                    {% if item.pending_invitation %} - Pending Invitation {%endif%}
                {% elif item.portfolio_domain_requests %}
                <!-- If there is no domain requests with no portfolio do not display portfolio -->
                    No portfolio
                {% endif %}
            
            </p>
               <div class="padding-left-1">
                  {%if item.portfolio_domain_requests %}
                     {% include "django/admin/includes/portfolio/portfolio_domain_requests_table.html" with domain_requests=item.portfolio_domain_requests link_title="Domain Requests"%}
                  {% elif item.portfolio %}
                      <div class="readonly padding-top-1 padding-left-05"> No domain requests </div>
                  {% endif %}
               </div>
        </div>
       {% endfor %}
        </div>
     
        </div>

          
        <div class="module aligned padding-3">
        <h2>Domains</h2>


        <div class="display-flex flex-column margin-top-3">   
        <!-- If there is no data, display this message under the heading for domains-->
        {% if formatted_table_data|length == 0%}
                 <div class="padding-left-1"> 
                      <div class="readonly padding-top-1 padding-left-05"> No domains </div>
                </div>
        {% endif %}


        {% for item in formatted_table_data %}
        <div class="margin-bottom-3">
                
               <p class="margin-bottom-0">
                  {% if item.portfolio %}
                  {% url 'admin:registrar_portfolio_change' item.portfolio.pk as url %}
                <a href="{{ url }}">
                     {{item.portfolio.organization_name}}
                </a>
                 {% if item.pending_invitation %} - Pending Invitation {%endif%}
                {% elif item.portfolio_domains %}
                <!-- If there is no domains with no portfolio do not display portfolio -->
                    No portfolio
                  {% endif %}
            </p>
        
               <div class="padding-left-1">
                {%if item.portfolio_domains %}
                     {% include "django/admin/includes/portfolio/portfolio_domains_table.html" with domains=item.portfolio_domains link_title="Domains"%}
                {% elif item.portfolio %}
                <div class="readonly padding-top-1 padding-left-05"> No domains</div> 
                {% endif %}
               </div>
        </div>
       {% endfor %}
        </div>
     
        </div>
{% endblock %}
