{% load static field_helpers url_helpers %}
    {% with add_group_class="usa-form-group--unstyled-error" %}
        {% input_with_errors form.name %}
    {% endwith %}
    <div x-bind:class="recordType !== 'MX' ? 'grid-row grid-gap flex-align-end' : ''">
        <div x-bind:class="recordType !== 'MX' ? 'grid-col-9' : ''">
            {% with add_group_class="usa-form-group--unstyled-error" %}
                {% input_with_errors form.content %}
            {% endwith %}
        </div>
        <div x-bind:class="recordType === 'MX' ? 'grid-row grid-gap flex-align-end' : 'grid-col-3'">
            <div x-cloak x-show="recordType === 'MX'" class="grid-col-9">
                {% input_with_errors form.priority %}
            </div>
            <div x-bind:class="recordType === 'MX' ? 'grid-col-3' : ''">
                {% input_with_errors form.ttl %}
            </div>
        </div>
    </div>
