{% load static field_helpers url_helpers %}

    <div class="grid-row grid-gap flex-align-end">
                <div class="grid-col-9">
                    {% with add_group_class="usa-form-group--unstyled-error" %}
                        {% input_with_errors form.name %}    
                    {% endwith %}
                </div>
                <div class="grid-col-3">
                    {% input_with_errors form.ttl %}        
                </div>
            </div>
            <div class="content-field-wrapper-txt">

                {% with add_group_class="usa-form-group--unstyled-error" %}
                    {% input_with_errors form.content %}
                {% endwith %}
            </div>

