{% extends "django/admin/includes/details_button.html" %}
{% load static url_helpers %}

{% block detail_content %}
<table class="usa-table">
    <thead>
        <tr> 
            <th data-sortable scope="col" role="columnheader">Name</th>
            <th data-sortable scope="col" role="columnheader">
                Status
            </th>
                        {% if needs_suborg %} <th data-sortable scope="col" role="columnheader">Suborganization</th>{% endif %}
        </tr>
    </thead>
    <tbody>
        {% for domain_request in domain_requests %}

        {% url 'admin:registrar_domainrequest_change' domain_request.pk as url %}
        <tr>
            <td data-sort-value="{{ domain_request }}"> <a href={{url}}>{{ domain_request }}</a></td>
            <td data-sort-value="{{ domain_request.get_status_display}}"> {{ domain_request.get_status_display|default:"None" }} </td>
            {% if needs_suborg %}  <td data-sort-value="{{ domain_request.sub_organization.name }}"> {{ domain_request.sub_organization.name |default:"None" }} </td> {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock detail_content %}
