{% extends "django/admin/includes/details_button.html" %}
{% load static url_helpers %}

{% block detail_content %}
<table class="usa-table">
    <thead>
        <tr>
            <th data-sortable scope="col" role="columnheader">Name</th>
            <th data-sortable scope="col" role="columnheader">State</th>
            {% if needs_suborg %} <th data-sortable scope="col" role="columnheader">Suborganization</th>{% endif %}
        </tr>
    </thead>
    <tbody>
        {% for domain_info in domains %}
        {% if domain_info.domain %}
            {% with domain=domain_info.domain %}
            {% url 'admin:registrar_domain_change' domain.pk as url %}
            <tr>
                <td data-sort-value="{{ domain }}"> <a href={{url}}>{{ domain }}</a></td>
                {% if domain and domain.get_state_display %}
                <td data-sort-value="{{ domain.get_state_display }}"> {{ domain.get_state_display }} </td>
                {% else %}
                <td data-sort-value="None"> None</td>
                {% endif %}
                 {% if needs_suborg %}  <td data-sort-value="{{ domain_info.sub_organization.name }}"> {{ domain_info.sub_organization.name | default:"None"}} </td> {% endif %}
            </tr>
            {% endwith %}
        {% endif %}
        {% endfor %}
    </tbody>
</table>
{% endblock detail_content%}
