{% extends "django/admin/includes/details_button.html" %}
{% load custom_filters %}
{% load static url_helpers %}

{% block detail_content %}
    <table id="portfolio-members-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Title</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Action
                     <button 
                               class="
                                            usa-button--dja 
                                            usa-button 
                                            usa-button__small-text 
                                            usa-button--unstyled 
                                            padding-right-1 
                                            padding-top-0
                                            padding-bottom-0
                                            usa-button--icon 
                                            text-no-underline" 
                                        type="button"
                                        id="copy-to-clipboard-members"
                                        >
                                            <svg 
                                            class="usa-icon" 
                                            >
                                                <use aria-hidden="true" xlink:href="{%static 'img/sprite.svg'%}#content_copy"></use>
                                            </svg>
                                            
                                            <span>Copy all</span>
                                        </button></th>
            </tr>
        </thead>
        <tbody>
            {% for member in members %}
            {% url 'admin:registrar_userportfoliopermission_change' member.pk as url %}
            <tr>
                <td>
                    {% if member.has_domain_request_permission %}
                    *
                    {% endif %}
                    <a href={{url}}>{{ member.user.get_formatted_name}}</a></td>
                <td>{{ member.user.title }}</td>
                <td>
                    {% if member.user.email %}
                    {{ member.user.email }}
                    {% else %}
                    None
                    {% endif %}
                </td>
                <td>{{ member.user.phone }}</td>
                <td class="padding-left-1 text-size-small">
                    {% if member.user.email %}
                    <input aria-hidden="true" class="display-none" value="{{ member.user.email }}" />
                    <button 
                    class="usa-button usa-button--unstyled padding-right-1 usa-button--icon button--clipboard copy-to-clipboard usa-button__small-text text-no-underline" 
                    type="button"
                    >
                        <svg 
                        class="usa-icon" 
                        >
                            <use aria-hidden="true" xlink:href="{%static 'img/sprite.svg'%}#content_copy"></use>
                        </svg>
                        <span>Copy email</span>
                    </button>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p class="margin-top-2">* Has domain requester permissions</p>
{% endblock %}
