{% extends "django/admin/includes/details_button.html" %}
{% load static url_helpers %}

{% block detail_content %}
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for domain_request in domain_requests %}
        {% url 'admin:registrar_domainrequest_change' domain_request.pk as url %}
        <tr>
            <td><a href={{url}}>{{ domain_request }}</a></td>
            {% if domain_request.get_status_display %}
                <td>{{ domain_request.get_status_display }}</td>
            {% else %}
                <td>None</td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock detail_content %}