{% extends "django/admin/includes/details_button.html" %}
{% load static url_helpers %}

{% block detail_content %}
<table id="portfolio-admins-table">
    <thead>
                                            
        <tr>
            <th>Name</th>
            <th>Title</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Action
                 <button 
                               class="
                                            usa-button--dja 
                                            usa-button 
                                            usa-button__small-text 
                                            usa-button--unstyled 
                                            padding-right-1 
                                            padding-top-0
                                            padding-bottom-0
                                            usa-button--icon 
                                            text-no-underline"
                                        type="button"
                                        id="copy-to-clipboard-admins"
                                        >
                                            <svg 
                                            class="usa-icon" 
                                            >
                                            <use aria-hidden="true" xlink:href="{%static 'img/sprite.svg'%}#content_copy"></use>
                                            </svg>
                                            
                                            <span>Copy all</span> 
                                        </button>
            </th>
        </tr>
    </thead>
    <tbody>
        {% for admin in admins %}
        {% url 'admin:registrar_userportfoliopermission_change' admin.pk as url %}
        <tr>
            {% if adminform.form.is_omb_analyst %}
                <td>{{ admin.user.get_formatted_name }}</td>
            {% else %}
                <td><a href={{url}}>{{ admin.user.get_formatted_name }}</a></td>
            {% endif %}
            <td>{{ admin.user.title }}</td>
            <td>
                {% if admin.user.email %}
                {{ admin.user.email }}
                {% else %}
                None
                {% endif %}
            </td>
            <td>{{ admin.user.phone }}</td>
            <td class="padding-left-1 text-size-small">
                {% if admin.user.email %}
                <input aria-hidden="true" class="display-none" value="{{ admin.user.email }}" />
                <button 
                class="usa-button usa-button--unstyled padding-right-1 usa-button--icon button--clipboard copy-to-clipboard usa-button__small-text text-no-underline" 
                type="button"
                >
                    <svg 
                    class="usa-icon" 
                    >
                        <use aria-hidden="true" xlink:href="{%static 'img/sprite.svg'%}#content_copy"></use>
                    </svg>
                    <span>Copy email</span>
                </button>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock detail_content %}
