{% extends "base.html" %}
{% load i18n static %}
{% load url_helpers %}

{% block title %}{% translate "Unauthorized | " %}{% endblock %}

{% block content %}
<main id="main-content" class="grid-container">
  <div class="grid-row grow-gap"> 
    <div class="tablet:grid-col-6 usa-prose margin-bottom-3">
      <h1>
        {% translate "You are not authorized to view this page" %}
      </h1>

      <h2>
        {% translate "Status 401" %}
      </h2>
       
      <p>
        You must be an authorized user and signed in to view this page. If you are an authorized user, 
        <strong><a href="{% url 'login' %}"> try signing in again</a>.</strong>
      </p>
      <p>
     If you'd like help with this error <a class="usa-link" rel="noopener noreferrer" target="_blank" href="{% public_site_url 'contact/' %}">contact us</a>.</p>


      {% if log_identifier %}
        <p>Here's a unique identifier for this error.</p>
        <p class="text-semibold">{{ log_identifier }}</p>
        <p>{% translate "Please include it if you contact us." %}</p>
      {% endif %}
    </div>
    
    <div class="tablet:grid-col-4">
      <img 
         src="{% static 'img/registrar/dotgov_401_illo.svg' %}"
         alt=""
      />
    </div>
  </div>
</main>
{% endblock %}