{% extends "base.html" %}
{% load i18n static %}
{% load url_helpers %}

{% block title %}{% translate "Forbidden | " %}{% endblock %}

{% block content %}
<main id="main-content" class="grid-container">
  <div class="grid-row grow-gap"> 
    <div class="tablet:grid-col-6 usa-prose margin-bottom-3">
      <h1>
        {% translate "You're not authorized to view this page." %}
      </h1>
      <h2>
        {% translate "403 error" %}
      </h2>


      {% if friendly_message %}
        <p>{{ friendly_message }}</p>
      {% else %}
        <p>{% translate "Forbidden." %}</p>
      {% endif %}
      <p>
        You must be an authorized user and need to be signed in to view this page. 
        <a href="{% url 'login' %}"> Try signing in again</a>.
      </p>
      <p>
        If you'd like help with this error <a class="usa-link" rel="noopener noreferrer" target="_blank" href="{% public_site_url 'contact' %}">contact us</a>.
      </p>
      
      {% if log_identifier %}
        <p>Here's a unique identifier for this error.</p>
        <p class="text-semibold">{{ log_identifier }}</p>
        <p>{% translate "Please include it if you contact us." %}</p>
      {% endif %}
    </div>
    <div class="tablet:grid-col-4">
      <img 
         src="{% static 'img/registrar/dotgov_401_illo.svg' %}"
         alt=""
      />
    </div>
  </div>
</main>
{% endblock %}
