{% extends "base.html" %}
{% load i18n static %}
{% load url_helpers %}

{% block title %}{% translate "Page not found | " %}{% endblock %}

{% block content %}
<main id="main-content" class="grid-container">
  <div class="grid-row grid-gap">
    <div class="tablet:grid-col-6 usa-prose margin-bottom-3">
      <h1>
        {% translate "We couldn’t find that page" %}
      </h1>
      <h2>
        {% translate "Status 404" %}
      </h2>

      <p> Try going to the <a href="/">homepage</a>. If you can’t find what you’re looking for, <a class="usa-link" rel="noopener noreferrer" target="_blank" href="{% public_site_url 'contact' %}">contact us</a>.
      </p>
    </div>

    <div class="tablet:grid-col-4">
      <img 
         src="{% static 'img/registrar/dotgov_404_illo.svg' %}"
         alt=""
      />
    </div>
  </div>


</main>
{% endblock %}
