<!-- Test page -->
{% extends 'application_form.html' %}
{% load widget_tweaks %}
{% load dynamic_question_tags %}

{% block form_content %}

<form id="step__{{wizard.steps.current}}" class="usa-form usa-form--large" method="post">
  {{ wizard.management_form }}
  {% csrf_token %}
  <fieldset id="federal_type__fieldset" class="usa-fieldset">
    <legend>
        <h2>Which federal branch is your organization in?</h2>
    </legend>
    {% radio_buttons_by_value wizard.form.federal_type as choices %}
    {% for choice in choices.values %}
      {% include "includes/radio_button.html" with choice=choice tile="true" %}
    {% endfor %}
  </fieldset>

  {{ block.super }}  

</form>
{% endblock %}
