{% extends 'base.html' %}

{% load custom_filters %}

{% block title %}Domain request status | {{ domainapplication.requested_domain.name }} | {% endblock %}
{% load static url_helpers %}

{% block content %}
<main id="main-content" class="grid-container">
  <div class="grid-col desktop:grid-offset-2 desktop:grid-col-8">
    <a href="{% url 'home' %}" class="breadcrumb__back">
      <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
      <use xlink:href="{% static 'img/sprite.svg' %}#arrow_back"></use>
      </svg>
  
      <p class="margin-left-05 margin-top-0 margin-bottom-0 line-height-sans-1">
      Back to manage your domains
      </p>
    </a>
    <h1>Domain request for {{ domainapplication.requested_domain.name }}</h1>
    <div
        class="usa-summary-box dotgov-status-box margin-top-3 padding-left-2" 
        role="region"
        aria-labelledby="summary-box-key-information"
    >
      <div class="usa-summary-box__body">
        <p class="usa-summary-box__heading font-sans-md margin-bottom-0" 
           id="summary-box-key-information"
        > 
          <span class="text-bold text-primary-darker">
             Status:
          </span>
          {% if domainapplication.status == 'approved' %} Approved 
          {% elif domainapplication.status == 'in review' %} In review 
          {% elif domainapplication.status == 'rejected' %} Rejected
          {% elif domainapplication.status == 'submitted' %} Submitted
          {% elif domainapplication.status == 'ineligible' %} Ineligible
          {% else %}ERROR Please contact technical support/dev
          {% endif %}
        </p>
      </div>
    </div>
    <br>
    <p> <b class="review__step__name">Last updated:</b> {{domainapplication.updated_at|date:"F j, Y"}}<br>
    <b class="review__step__name">Request #:</b> {{domainapplication.id}}</p>
    <p>{% include "includes/domain_application.html" %}</p>
    <p><a href="{% url 'application-withdraw-confirmation' pk=domainapplication.id %}" class="usa-button usa-button--outline withdraw_outline">
      Withdraw request</a>
    </p>
  </div>

  <div class="grid-col desktop:grid-offset-2 maxw-tablet">
    <h2 class="text-primary-darker"> Summary of your domain request </h2> 
    {% with heading_level='h3' %}
    {% with long_org_type=domainapplication.organization_type|get_organization_long_name %}
      {% include "includes/summary_item.html" with title='Type of organization' value=long_org_type heading_level=heading_level %}
    {% endwith %}

    {% if domainapplication.tribe_name %}
      {% include "includes/summary_item.html" with title='Tribal government' value=domainapplication.tribe_name heading_level=heading_level %}

      {% if domainapplication.federally_recognized_tribe %}
        <p>Federally-recognized tribe</p>
      {% endif %}
      
      {% if domainapplication.state_recognized_tribe %}
        <p>State-recognized tribe</p>
      {% endif %}

    {% endif %}

    {% if domainapplication.get_federal_type_display %}
      {% include "includes/summary_item.html" with title='Federal government branch' value=domainapplication.get_federal_type_display heading_level=heading_level %}
    {% endif %}

    {% if domainapplication.is_election_board %}
      {% include "includes/summary_item.html" with title='Election office' value=domainapplication.is_election_board heading_level=heading_level %}
    {% endif %}

    {% if domainapplication.organization_name %}
      {% include "includes/summary_item.html" with title='Organization name and mailing address' value=domainapplication  address='true' heading_level=heading_level %}
    {% endif %}

    {% if domainapplication.about_your_organization %}
      {% include "includes/summary_item.html" with title='About your organization' value=domainapplication.about_your_organization heading_level=heading_level %}
    {% endif %}

    {% if domainapplication.authorizing_official %}
      {% include "includes/summary_item.html" with title='Authorizing official' value=domainapplication.authorizing_official contact='true' heading_level=heading_level %}
    {% endif %}

    {% if domainapplication.current_websites.all %}
      {% include "includes/summary_item.html" with title='Current websites' value=domainapplication.current_websites.all list='true' heading_level=heading_level %}
    {% endif %}

    {% if domainapplication.requested_domain %}
      {% include "includes/summary_item.html" with title='.gov domain' value=domainapplication.requested_domain heading_level=heading_level %}
    {% endif %}

    {% if domainapplication.alternative_domains.all %}
      {% include "includes/summary_item.html" with title='Alternative domains' value=domainapplication.alternative_domains.all list='true' heading_level=heading_level %}
    {% endif %}

    {% if domainapplication.purpose %}
      {% include "includes/summary_item.html" with title='Purpose of your domain' value=domainapplication.purpose heading_level=heading_level %}
    {% endif %}

    {% if domainapplication.submitter %}
      {% include "includes/summary_item.html" with title='Your contact information' value=domainapplication.submitter contact='true' heading_level=heading_level %}
    {% endif %}

    {% include "includes/summary_item.html" with title='Other employees from your organization' value=domainapplication.other_contacts.all contact='true' list='true' heading_level=heading_level %}

    {% include "includes/summary_item.html" with title='Anything else?' value=domainapplication.anything_else|default:"No" heading_level=heading_level %}

  {% endwith %}
  </div>

</main>
{% endblock %}
