<!-- Test page -->
{% extends 'application_form.html' %}

{% block title %}Apply for a .gov domain - Requirements{% endblock %}

{% block form_content %}
<h1>Requirements</h1>

<p>In order to request and register a .gov domain: </p>

<ol>
<li> You must be a government employee</li>
<li> You need to have the approval within your organization to make this request</li>
</ol>

<form class="usa-form usa-form--large" method="post">
  {{ wizard.management_form }}
  {% csrf_token %}
  <fieldset class="usa-fieldset">
    <p>
      Required fields are marked with an asterisk (<abbr
        title="required"
        class="usa-hint usa-hint--required"
        >*</abbr
      >).
    </p>
    {% for field in wizard.form %}
      <label class="usa-label" for="id_{{ field.name }}">{{ field.label }}</label>
      {{ field }}
    {% endfor %}
    </fieldset>
    {% if wizard.steps.prev %}
      <button name="wizard_goto_step" type="submit" class="usa-button usa-button--base" value="{{ wizard.steps.prev }}">Previous</button>
    {% endif %}
    <button name="wizard_goto_step" type="submit" class="usa-button" value="{{ wizard.steps.prev }}">Next</button>
</form>
{% endblock %}
