{% extends 'application_form.html' %}
{% load field_helpers %}

{% block form_instructions %}
  <p>We’ll use this information to contact you about your domain request.</p>

  <p>If you’d like us to use a different name, email, or phone number you can make those
  changes below. Changing your contact information here won’t affect your login.gov
  account information.</p>

  <p>The contact information you provide here won’t be public and will only be used to support your domain request.</p>
{% endblock %}


{% block form_fields %}
  <fieldset class="usa-fieldset">
    <legend class="usa-sr-only">
      Your contact information
    </legend>

    {% input_with_errors forms.0.first_name %}

    {% input_with_errors forms.0.middle_name %}

    {% input_with_errors forms.0.last_name %}

    {% input_with_errors forms.0.title %}

    {% input_with_errors forms.0.email %}

    {% with add_class="usa-input--medium" %}
      {% input_with_errors forms.0.phone %}
    {% endwith %}

  </fieldset>
{% endblock %}
