<!-- Test page -->
{% extends 'application_form.html' %}
{% load widget_tweaks %}
{% load static %}
{% load field_helpers %}

{% block form_content %}

<p id="instructions">We’d like to contact other employees with administrative or technical responsibilities in your organization. For example, they could be involved in managing your organization or its technical infrastructure. This information will help us assess your eligibility and understand the purpose of the .gov domain. These contacts should be in addition to you and your authorizing official. </p>
{% include "includes/required_fields.html" %}

<form class="usa-form usa-form--large" id="step__{{wizard.steps.current}}" method="post" novalidate>
  {{ wizard.management_form }}
  {% csrf_token %}

  <fieldset class="usa-fieldset">
    <legend>
      <h2 class="margin-bottom-05"> Contact 2 </h2>
    </legend>
    {% input_with_errors wizard.form.first_name %}

    {% input_with_errors wizard.form.middle_name %}

    {% input_with_errors wizard.form.last_name %}

    {% input_with_errors wizard.form.title %}

    {% input_with_errors wizard.form.email %}

    {% input_with_errors wizard.form.phone add_class="usa-input--medium" %}
  </fieldset>

  <div>
    <button type="button" class="usa-button usa-button--unstyled">
      <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
        <use xlink:href="{%static '/img/sprite.svg'%}#add_circle"></use>
      </svg><span class="margin-left-05">Add another contact</span>
    </button>
  </div>

  {{ block.super }}

</form>

{% endblock %}
