<!-- Test page -->
{% extends 'application_form.html' %}
{% load widget_tweaks %}
{% load static %}
{% load field_helpers %}

{% block form_content %}

<h2>Who is the authorizing official for your organization?</h2>

<div id="instructions">
  <p>Your authorizing official is the person within your organization who can authorize your domain request. This is generally the highest ranking or highest elected official in your organization. Read more about <a href="{% url 'todo' %}">who can serve as an authorizing official</a>.
  </p>

  <div class="ao_example">
    {% if application.organization_type == 'federal' %}
      {% if application.federal_type == 'executive' %}
        {% include "includes/ao_example__exec.html" %}
      {% elif application.federal_type == 'judicial' %}
        {% include "includes/ao_example__judicial.html" %}
      {% elif application.federal_type == 'legislative' %}
        {% include "includes/ao_example__legislative.html" %}
      {% endif %}
    {% elif application.organization_type == 'city' %}
        {% include "includes/ao_example__city.html" %}
    {% elif application.organization_type == 'county' %}
        {% include "includes/ao_example__county.html" %}
    {% elif application.organization_type == 'interstate' %}
        {% include "includes/ao_example__interstate.html" %}
    {% elif application.organization_type == 'school_district' %}
        {% include "includes/ao_example__school-district.html" %}
    {% elif application.organization_type == 'special_district' %}
        {% include "includes/ao_example__special-district.html" %}
    {% elif application.organization_type == 'state_or_territory' %}
        {% include "includes/ao_example__state-territory.html" %}
    {% elif application.organization_type == 'tribal' %}
      {% include "includes/ao_example__tribal.html" %}
    {% endif %}
  </div>

  <p>We’ll contact your authorizing official to let them know that you made this request and to double check that they approve it.</p> 
</div>

{% include "includes/required_fields.html" %}

<form class="usa-form usa-form--large" id="step__{{steps.current}}" method="post" novalidate>
  {% csrf_token %}

  <fieldset class="usa-fieldset">
    <legend class="usa-sr-only">
      Who is the authorizing official for your organization?
    </legend>

    {% input_with_errors forms.0.first_name %}

    {% input_with_errors forms.0.middle_name %}

    {% input_with_errors forms.0.last_name %}

    {% input_with_errors forms.0.title %}

    {% input_with_errors forms.0.email %}

    {% input_with_errors forms.0.phone add_class="usa-input--medium" %}
  </fieldset>


  {{ block.super }}

</form>

{% endblock %}
