{% extends 'application_form.html' %}
{% load field_helpers %}

{% block form_instructions %}
  <p>Please read this page. Check the box at the bottom to show that you agree to the requirements for operating .gov domains.</p>
<p>The .gov domain space exists to support a broad diversity of government missions. Generally, we don’t examine how government organizations use their domains. However, misuse of a .gov domain can reflect upon the integrity of the entire .gov space. There are categories of misuse that are statutorily prohibited or abusive in nature.</p>


  <h2>What you can’t do with .gov domains</h2>

  <h3>Commercial purposes</h3>

  <p>.Gov domains must not be used for commercial purposes, such as advertising that benefits private individuals or entities.</p>

  <h3>Political campaigns</h3>

  <p>.Gov domains must not be used for political campaigns.</p>

  <h3>Illegal content</h3>

  <p>.Gov domains must not be used to distribute or promote material whose distribution violates applicable law.</p>

  <h3>Malicious cyber activity </h3>

  <p>.Gov is a trusted and safe space. .Gov domains must not distribute malware, host
  open redirects, or otherwise engage in malicious cyber activity.</p>

  <h2>What .gov domain registrants must do</h2>

  <h3>Keep your contact information updated</h3>

  <p>.Gov domain registrants must maintain accurate contact information in the .gov registrar.</p>

  <h3>Be responsive if we contact you</h3>

  <p>Registrants should respond promptly to communications about potential violations to these requirements.</p>

  <h2>Failure to comply with these requirements could result in domain suspension or termination</h2>

  <p>We may need to suspend or terminate a domain registration for violations. When we discover a violation, we’ll make reasonable efforts to contact a registrant, including:
    <ul class="usa-list"> 
      <li>Emails to domain contacts</li>
      <li>Phone calls to domain contacts</li>
      <li>Email or phone call to the authorizing official</li>
      <li>Emails or phone calls to the government organization, a parent organization,
        or affiliated entities</li>
    </ul>
  </p>

  <p>We understand the critical importance of the availability of .gov domains. Suspending or terminating a .gov domain is reserved for prolonged, unresolved, serious violations where the registrant is non-responsive. We'll make extensive efforts to contact registrants and to identify potential solutions. We'll make reasonable accommodations for remediation timelines based on the severity of the issue.</p>

{% block form_fields %}
    <fieldset class="usa-fieldset">
      <legend>
        <h2>Acknowledgement of .gov domain requirements</h2>
      </legend>

      {% input_with_errors forms.0.is_policy_acknowledged %}

    </fieldset>
{% endblock %}
