<!-- Test page -->
{% extends 'application_form.html' %}
{% load widget_tweaks %}

{% block form_content %}

<p id="instructions">Describe your organization’s mission or the reason for your domain request. Explain how you plan to use this domain. Will you use it for a website and/or email? Are you moving your website from another top-level domain (like .com or .org)? Read about <a href="#">activities that are prohibited on .gov domains.</a></p>

<form id="step__{{wizard.steps.current}}" class="usa-form usa-form--large" method="post">
  <div class="usa-form-group">
    {{ wizard.management_form }}
    {% csrf_token %}
   
    <div class="usa-character-count">
      {{ wizard.form.purpose_field|add_label_class:"usa-label usa-sr-only" }}
      {{ wizard.form.purpose_field|add_class:"usa-textarea usa-character-count__field"|attr:"aria-describedby:instructions"|attr:"maxlength=500" }}
      <span class="usa-character-count__message" id="with-hint-textarea-info with-hint-textarea-hint"> You can enter up to 500 characters </span>
    </div>
  </div>

  {{ block.super }}

</form>

{% endblock %}
