{% extends 'application_form.html' %}
{% load field_helpers %}

{% block form_instructions %}
  <p>.Gov domain names are for use on the internet. Don’t register a .gov to simply reserve a 
domain name or for mainly internal use.</p>

  <p>Describe the reason for your domain request. Explain how you plan to use this domain. 
Who is your intended audience? Will you use it for a website and/or email? Are you moving 
your website from another top-level domain (like .com or .org)? 
Read about <a href="https://federalist-877ab29f-16f6-4f12-961c-96cf064cf070.sites.pages.cloud.gov/site/cisagov/getgov-home/domains/requirements/">activities that are prohibited on .gov domains</a>.</p>

{% endblock %}

{% block form_required_fields_help_text %}
  <p class="text-semibold"><abbr class="usa-hint usa-hint--required" title="required">*</abbr> This question is required.</p>
{% endblock %}



{% block form_fields %}
    {% with attr_maxlength=1000 add_label_class="usa-sr-only" %}
      {% input_with_errors forms.0.purpose %}
    {% endwith %}
{% endblock %}
