{% extends 'application_form.html' %}
{% load static url_helpers %}
{% load custom_filters %}

{% block form_required_fields_help_text %}
{# there are no required fields on this page so don't show this #}
{% endblock %}

{% block form_page_title %}
  <span class="display-flex flex-align-start maxw-mobile-lg"> 
    <img 
        class= "margin-right-105" 
        src="{%static 'img/registrar/dotgov_review_magnify.svg' %}" 
        alt=""
        width="72"
        />
    <h1> Review and submit your domain request </h1>
  </span>
{% endblock %}

{% block form_fields %}
  {% for step in steps.all|slice:":-1" %}
  <section class="summary-item margin-top-3">

        {% if step == Step.ORGANIZATION_TYPE %}
          {% namespaced_url 'application' step as application_url %}
          {% if application.organization_type is not None %}
            {% with title=form_titles|get_item:step value=application.organization_type|get_organization_long_name|default:"Incomplete" %}
              {% include "includes/summary_item.html" with title=title value=value heading_level=heading_level editable=True edit_link=application_url %}
            {% endwith %}
          {% else %}
            {% with title=form_titles|get_item:step value="Incomplete" %}
              {% include "includes/summary_item.html" with title=title value=value heading_level=heading_level editable=True edit_link=application_url %}
            {% endwith %}
          {% endif %}
        {% endif %}

        {% if step == Step.TRIBAL_GOVERNMENT %}
          {% namespaced_url 'application' step as application_url %}
          {% with title=form_titles|get_item:step value=application.tribe_name|default:"Incomplete" %}
            {% include "includes/summary_item.html" with title=title value=value heading_level=heading_level editable=True edit_link=application_url %}
          {% endwith %}
          {% if application.federally_recognized_tribe %}<p>Federally-recognized tribe</p>{% endif %}
          {% if application.state_recognized_tribe %}<p>State-recognized tribe</p>{% endif %}
        {% endif %}


        {% if step == Step.ORGANIZATION_FEDERAL %}
          {% namespaced_url 'application' step as application_url %}
          {% with title=form_titles|get_item:step value=application.get_federal_type_display|default:"Incomplete" %}
            {% include "includes/summary_item.html" with title=title value=value heading_level=heading_level editable=True edit_link=application_url %}
          {% endwith %}
        {% endif %}

        {% if step == Step.ORGANIZATION_ELECTION %}
          {% namespaced_url 'application' step as application_url %}
          {% with title=form_titles|get_item:step value=application.is_election_board|yesno:"Yes,No,Incomplete" %}
            {% include "includes/summary_item.html" with title=title value=value heading_level=heading_level editable=True edit_link=application_url %}
          {% endwith %}
        {% endif %}

        {% if step == Step.ORGANIZATION_CONTACT %}
          {% namespaced_url 'application' step as application_url %}
          {% if application.organization_name %}
            {% with title=form_titles|get_item:step value=application %}
              {% include "includes/summary_item.html" with title=title value=value heading_level=heading_level editable=True edit_link=application_url address='true' %}
            {% endwith %}
          {% else %}
            {% with title=form_titles|get_item:step value='Incomplete' %}
              {% include "includes/summary_item.html" with title=title value=value heading_level=heading_level editable=True edit_link=application_url %}
            {% endwith %}
          {% endif %}
        {% endif %}

        {% if step == Step.ABOUT_YOUR_ORGANIZATION %}
          {% namespaced_url 'application' step as application_url %}
          {% with title=form_titles|get_item:step value=application.about_your_organization|default:"Incomplete" %}
            {% include "includes/summary_item.html" with title=title value=value heading_level=heading_level editable=True edit_link=application_url %}
          {% endwith %}
        {% endif %}

        {% if step == Step.AUTHORIZING_OFFICIAL %}
          {% namespaced_url 'application' step as application_url %}
          {% if application.authorizing_official is not None %}
            {% with title=form_titles|get_item:step value=application.authorizing_official %}
              {% include "includes/summary_item.html" with title=title value=value heading_level=heading_level editable=True edit_link=application_url contact='true' %}
            {% endwith %}
          {% else %}
            {% with title=form_titles|get_item:step value="Incomplete" %}
              {% include "includes/summary_item.html" with title=title value=value heading_level=heading_level editable=True edit_link=application_url %}
            {% endwith %}
          {% endif %}
        {% endif %}

        {% if step == Step.CURRENT_SITES %}
          {% namespaced_url 'application' step as application_url %}
          {% if application.current_websites.all %}
            {% with title=form_titles|get_item:step value=application.current_websites.all %}
              {% include "includes/summary_item.html" with title=title value=value heading_level=heading_level editable=True edit_link=application_url list='true' %}
            {% endwith %}
          {% else %}
            {% with title=form_titles|get_item:step value='None' %}
              {% include "includes/summary_item.html" with title=title value=value heading_level=heading_level editable=True edit_link=application_url %}
            {% endwith %}
          {% endif %}
        {% endif %}

        {% if step == Step.DOTGOV_DOMAIN %}
          {% namespaced_url 'application' step as application_url %}
          {% with title=form_titles|get_item:step value=application.requested_domain.name|default:"Incomplete" %}
            {% include "includes/summary_item.html" with title=title value=value heading_level=heading_level editable=True edit_link=application_url %}
          {% endwith %}

          {% if application.alternative_domains.all %}
            <h3 class="margin-bottom-0 text-semibold">Alternative domains</h3>
            <ul class="usa-list usa-list--unstyled margin-top-0">
              {% for site in application.alternative_domains.all %}
                <li>{{ site.website }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endif %}

        {% if step == Step.PURPOSE %}
          {% namespaced_url 'application' step as application_url %}
          {% with title=form_titles|get_item:step value=application.purpose|default:"Incomplete" %}
            {% include "includes/summary_item.html" with title=title value=value heading_level=heading_level editable=True edit_link=application_url %}
          {% endwith %}
        {% endif %}

        {% if step == Step.YOUR_CONTACT %}
          {% namespaced_url 'application' step as application_url %}
          {% if application.submitter is not None %}
            {% with title=form_titles|get_item:step value=application.submitter %}
              {% include "includes/summary_item.html" with title=title value=value heading_level=heading_level editable=True edit_link=application_url contact='true' %}
            {% endwith %}
          {% else %}
            {% with title=form_titles|get_item:step value="Incomplete" %}
              {% include "includes/summary_item.html" with title=title value=value heading_level=heading_level editable=True edit_link=application_url %}
            {% endwith %}
          {% endif %}
        {% endif %}

        {% if step == Step.OTHER_CONTACTS %}
          {% namespaced_url 'application' step as application_url %}
          {% if application.other_contacts.all %}
            {% with title=form_titles|get_item:step value=application.other_contacts.all %}
              {% include "includes/summary_item.html" with title=title value=value heading_level=heading_level editable=True edit_link=application_url contact='true' list='true' %}
            {% endwith %}
          {% else %}
            {% with title=form_titles|get_item:step value=application.no_other_contacts_rationale|default:"Incomplete" %}
              {% include "includes/summary_item.html" with title=title value=value heading_level=heading_level editable=True edit_link=application_url %}
            {% endwith %}
          {% endif %}
        {% endif %}


        {% if step == Step.ANYTHING_ELSE %}
          {% namespaced_url 'application' step as application_url %}
          {% with title=form_titles|get_item:step value=application.anything_else|default:"No" %}
            {% include "includes/summary_item.html" with title=title value=value heading_level=heading_level editable=True edit_link=application_url %}
          {% endwith %}
        {% endif %}


        {% if step == Step.REQUIREMENTS %}
          {% namespaced_url 'application' step as application_url %}
          {% with title=form_titles|get_item:step value=application.is_policy_acknowledged|yesno:"I agree.,I do not agree.,I do not agree." %}
            {% include "includes/summary_item.html" with title=title value=value heading_level=heading_level editable=True edit_link=application_url %}
          {% endwith %}
        {% endif %}


    
  </section>
  {% endfor %}
{% endblock %}
