<!-- Test page -->
{% extends 'application_form.html' %}

{% block form_content %}
{% load widget_tweaks dynamic_question_tags field_helpers %}

{% include "includes/required_fields.html" %}

<form id="step__{{steps.current}}" class="usa-form usa-form--large" method="post" novalidate>
  <div class="usa-form-group">
    {% csrf_token %}

    <div class="usa-character-count">
      {% with field=forms.0.more_organization_information %}
      {% if field.errors %}
        <div class="usa-form-group usa-form-group--error">
          {{ field|add_label_class:"usa-label usa-label--error" }}
          {% for error in field.errors %}
            <span class="usa-error-message" id="input-error-message" role="alert">
              {{ error }}
            </span>
          {% endfor %}
          {{ field|add_class:"usa-input--error usa-textarea usa-character-count__field"|attr:"aria-describedby:instructions"|attr:"maxlength=500"|attr:"aria-invalid:true" }}
        </div>
      {% else %}
        {{ field|add_label_class:"usa-label" }}
        {{ field|add_class:"usa-textarea usa-character-count__field"|attr:"aria-describedby:instructions"|attr:"maxlength=500" }}
      {% endif %}
      {% endwith %}
      <span class="usa-character-count__message" id="with-hint-textarea-info with-hint-textarea-hint"> You c
an enter up to 500 characters </span>
    </div>
  </div>

{# don't use the super-block's buttons? {{ block.super }} #}
<div class="stepnav">
  <button
    type="submit"
    class="usa-button"
  >Submit your domain request</button>
</div>


</form>
{% endblock %}
