{% extends 'base.html' %}
{% load static %}

{% block title %}Thanks for your domain request! | {% endblock %}

{% block content %}
<main id="main-content" class="grid-container register-form-step">
  <span class="display-flex flex-align-center" > 
    <img 
        class= "maxw-7 margin-top-neg-2 margin-right-105" 
        src="{%static 'img/registrar/dotgov_confirmation.svg' %}" 
        alt="Check mark confirming submission"
        width="56"
        />
    <h1>Thanks for your domain request!</h1>
  </span>
  <p>We'll email a copy of your request to you.</p>

  <h2>Next steps in this process</h2>

  <p> We'll review your request. This usually takes 20 business days. During
  this review we'll verify that your:</p> 
  <ul class="usa-list">
    <li>Organization is eligible for a .gov domain</li>
    <li>Authorizing official approves your request</li> 
    <li>Domain meets our naming requirements</li>
  </ul>

  <p> You can <a href="{% url 'home' %}">check the status</a>
      of your request at any time. We'll email you with any questions or when we 
      complete our review.</p>

</main>
{% endblock %}
