<!-- Test page -->
{% extends 'application_form.html' %}
{% load widget_tweaks %}
{% load static %}

{% block form_content %}

<p id="instructions"> We strongly recommend that you provide a security email. This email will allow the public to report observed or suspected security issues on your domain. <strong> Security emails are made public.</strong> We recommend using an alias, like security@&lt;domain.gov&gt;.</p>

<form class="usa-form usa-form--large" id="step__{{wizard.steps.current}}" method="post">
  {{ wizard.management_form }}
  {% csrf_token %}

    {% if wizard.form.security_email.errors %}
      <div class="usa-form-group usa-form-group--error">
        {{ wizard.form.security_email|add_label_class:"usa-label usa-label--error" }}
        {% for error in wizard.form.security_email.errors %}
          <span class="usa-error-message" id="input-error-message" role="alert">
            {{ error }}
          </span>
        {% endfor %}
        {{ wizard.form.security_email|add_class:"usa-input"|add_class:"usa-input--error"|attr:"aria-describedby:instructions" }}
      </div>
    {% else %}
      {{ wizard.form.security_email|add_label_class:"usa-label" }}
      {{ wizard.form.security_email|add_class:"usa-input"|attr:"aria-describedby:instructions" }}
    {% endif %}
    {{ block.super }}

</form>

{% endblock %}
