{% extends 'application_form.html' %}
{% load widget_tweaks field_helpers %}
{% load static %}

{% block form_content %}

<form id="step__{{steps.current}}" class="usa-form usa-form--large" method="post" novalidate>
  {% csrf_token %}
  <div>
    {{ forms.0.management_form }}
    {# TODO: aria-describedby to associate these instructions with the input! #}
    <p id="website_instructions">
      Enter your organization’s current public website, if you have one. For example, www.city.com.
    </p>
    {% for form in forms.0 %}
      {% input_with_errors form.website %}
    {% endfor %}

    <button type="submit" name="submit_button" value="save" class="usa-button usa-button--unstyled">
      <svg class="usa-icon" aria-hidden="true" focusable="false" role="img" width="24" height="24">
        <use xlink:href="{%static 'img/sprite.svg'%}#add_circle"></use>
      </svg><span class="margin-left-05">Add another site</span>
    </button>
  </div>
  <div>

  {{ block.super }}

</form>

{% endblock %}
