<!-- Test page -->
{% extends 'application_form.html' %}
{% load widget_tweaks %}
{% load dynamic_question_tags %}

{% block backnav %}
  {% with form_name="step__about-org" %}
    {{ block.super }}
  {% endwith %}
{% endblock %}

{% block form_content %}
<h1>About your organization</h1>

<form id="step__about-org" class="usa-form usa-form--large" method="post">
  {{ wizard.management_form }}
  {% csrf_token %}

  {% radio_buttons_by_value wizard.form.organization_type as choices %}

  <fieldset id="organization_type__fieldset" class="usa-fieldset">
    <legend>
      <h2> What kind of government organization do you represent?</h2>
    </legend>
    {{ wizard.form.organization_type.errors }}
    {% include "includes/radio_button.html" with choice=choices.Federal %}
    {% include "includes/radio_button.html" with choice=choices.Interstate %}
    {% include "includes/radio_button.html" with choice=choices.State_or_Territory %}
    {% include "includes/radio_button.html" with choice=choices.Tribal %}
    {% include "includes/radio_button.html" with choice=choices.County %}
    {% include "includes/radio_button.html" with choice=choices.City %}
    {% include "includes/radio_button.html" with choice=choices.Special_District %}
  </fieldset>

  <fieldset id="federal_type__fieldset" {% trigger wizard.form.federal_type choices.Federal %} class="usa-fieldset">
    <legend>
      <h2> Which federal branch does your organization belong to?</h2>
    </legend>
    <noscript>
      Only required if you selected "Federal".
    </noscript>
    {{ wizard.form.federal_type|add_class:"usa-radio" }}
  </fieldset>

  <fieldset id="is_election_board__fieldset" {% trigger wizard.form.is_election_board choices.Tribal choices.County choices.City choices.Special_District%} class="usa-fieldset">
    <legend>
      <h2> Is your organization an election office?</h2>
    </legend>
    <noscript>
      Only required if you selected "Tribal", "County", "City" or "Special District".
    </noscript>
    {{ wizard.form.is_election_board|add_class:"usa-radio" }}
  </fieldset>

  {{ block.super }}  

</form>
{% endblock %}
