<!-- Test page -->
{% extends 'application_form.html' %}
{% load widget_tweaks %}
{% load dynamic_question_tags %}

{% block form_content %}

<form id="step__{{steps.current}}" class="usa-form usa-form--large" method="post">
  {% csrf_token %}

  {% radio_buttons_by_value forms.0.organization_type as choices %}

  <fieldset id="organization_type__fieldset" class="usa-fieldset">
    <legend class="usa-legend">
      <h2> What kind of U.S.-based government organization do you represent?</h2>
    </legend>
    {{ forms.0.organization_type.errors }}
    {% for choice in choices.values %}
      {% include "includes/radio_button.html" with choice=choice tile="true" %}
    {% endfor %}
  </fieldset>

  {{ block.super }}  

</form>
{% endblock %}
