<!-- Test page -->
{% extends 'application_form.html' %}
{% load widget_tweaks %}
{% load static %}

{% block form_content %}

<p id="instructions">We strongly encourage you to have at least two points of contact for your domain. Many organizations have an administrative point of contact and a technical point of contact. We recommend that you add at least one more contact.</p>
<p>All fields are required unless they are marked optional.</p>

<form class="usa-form usa-form--large" id="step__{{wizard.steps.current}}" method="post">
  {{ wizard.management_form }}
  {% csrf_token %}

  <fieldset class="usa-fieldset">
    <legend>
      <h2 class="margin-bottom-05"> Contact 2 </h2>
    </legend>
    {{ wizard.form.first_name|add_label_class:"usa-label" }}
    {{ wizard.form.first_name|add_class:"usa-input"|attr:"aria-describedby:instructions" }}

    {{ wizard.form.middle_name|add_label_class:"usa-label" }}
    {{ wizard.form.middle_name|add_class:"usa-input"|attr:"aria-describedby:instructions" }}

    {{ wizard.form.last_name|add_label_class:"usa-label" }}
    {{ wizard.form.last_name|add_class:"usa-input"|attr:"aria-describedby:instructions" }}
    
    {{ wizard.form.title|add_label_class:"usa-label" }}
    {{ wizard.form.title|add_class:"usa-input"|attr:"aria-describedby:instructions" }}

    {{ wizard.form.email|add_label_class:"usa-label" }}
    {{ wizard.form.email|add_class:"usa-input"|attr:"aria-describedby:instructions" }}

    {{ wizard.form.phone|add_label_class:"usa-label" }}
    {{ wizard.form.phone|add_class:"usa-input usa-input--medium"|attr:"aria-describedby:instructions" }}
  </fieldset>

  <div>
    <button type="button" class="usa-button usa-button--unstyled">
      <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
        <use xlink:href="{%static '/img/sprite.svg'%}#add_circle"></use>
      </svg><span class="margin-left-05">Add another contact</span>
    </button>
  </div>

  {{ block.super }}

</form>

{% endblock %}
