<!-- Test page -->
{% extends 'application_form.html' %}
{% load widget_tweaks %}
{% load dynamic_question_tags %}

{% block form_content %}

<form id="step__{{wizard.steps.current}}" class="usa-form usa-form--large" method="post">
  {{ wizard.management_form }}
  {% csrf_token %}

  {% radio_buttons_by_value wizard.form.organization_type as choices %}

  <fieldset id="organization_type__fieldset" class="usa-fieldset">
    <legend class="usa-legend">
      <h2> What kind of government organization do you represent?</h2>
    </legend>
    {{ wizard.form.organization_type.errors }}
    {% include "includes/radio_button.html" with choice=choices.federal tile="true" %}
    {% include "includes/radio_button.html" with choice=choices.interstate tile="true" %}
    {% include "includes/radio_button.html" with choice=choices.state_or_territory tile="true" %}
    {% include "includes/radio_button.html" with choice=choices.tribal tile="true" %}
    {% include "includes/radio_button.html" with choice=choices.county tile="true" %}
    {% include "includes/radio_button.html" with choice=choices.city tile="true" %}
    {% include "includes/radio_button.html" with choice=choices.special_district tile="true" %}
  </fieldset>

  {{ block.super }}  

</form>
{% endblock %}
