{% extends 'application_form.html' %}
{% load field_helpers %}

{% block form_instructions %}
  <h2 class="margin-bottom-05">
    Is your organization an election office?  <abbr class="usa-hint usa-hint--required" title="required">*</abbr>
  </h2>

  <p>An election office is a government entity whose <i>primary</i> responsibility is overseeing elections and/or conducting voter registration.
  <br>
  <br>
  Answer “yes” only if the <i>main purpose</i> of your organization is to serve as an election office.</p>

{% endblock %}

{% block form_required_fields_help_text %}
  <p class="text-semibold"><abbr class="usa-hint usa-hint--required" title="required">*</abbr> This question is required.</p>
{% endblock %}

{% block form_fields %}
  {% with add_class="usa-radio__input--tile" add_legend_class="usa-sr-only" %}
    {% input_with_errors forms.0.is_election_board %}
  {% endwith %}
{% endblock %}
