{% extends 'base.html' %}

{% block title %}Thank you for your domain request{% endblock %}

{% block content %}
<h1>Thank you</h1>

<p>
Thank you for your domain request. We'll email a copy of your request to you,
your authorizing official, and any contacts you added.</p>

<h2>Next steps in this process</h2>

<ul>

    <li> We'll review your request. This could take up to two weeks. During
        this review we'll verify that your <ul>
    <li>Organization is eligible for a .gov domain</li>
    <li>Authorizing official approves your request</li> 
    <li>Domain meets our naming requirements</li>
        </ul>
    </li>

    <li> You can <a href="{% url 'todo' %}"><del>check the
            status</del></a> of your request at any time.
    </li>

    <li> We'll email you with any questions or when we complete our
        review.</li>
</ul>

{% endblock %}
