{% extends 'application_form.html' %}
{% load static %}
{% load field_helpers %}

{% block form_instructions %}
  <p>We’d like to contact other employees with administrative or technical
  responsibilities in your organization. For example, they could be involved in
  managing your organization or its technical infrastructure. This information will
  help us assess your eligibility and understand the purpose of the .gov domain. These
  contacts should be in addition to you and your authorizing official.</p>
{% endblock %}


{% block form_fields %}
  {% csrf_token %}
  {{ forms.0.management_form }}
  {# forms.0 is a formset and this iterates over its forms #}
  {% for form in forms.0.forms %}
    <fieldset class="usa-fieldset">
      <legend>
        <h2>Contact {{ forloop.counter }}</h2>
      </legend>

      {% if form.is_bound %}HAS INITIAL DATA{% else %}NO INITIAL DATA{% endif %}

      {% input_with_errors form.first_name %}

      {% input_with_errors form.middle_name %}

      {% input_with_errors form.last_name %}

      {% input_with_errors form.title %}

      {% input_with_errors form.email %}

      {% with add_class="usa-input--medium" %}
        {% input_with_errors form.phone %}
      {% endwith %}

    </fieldset>
  {% endfor %}

  <button type="submit" name="submit_button" value="save" class="usa-button usa-button--unstyled">
    <svg class="usa-icon" aria-hidden="true" focusable="false" role="img" width="24" height="24">
      <use xlink:href="{%static 'img/sprite.svg'%}#add_circle"></use>
    </svg><span class="margin-left-05">Add another contact</span>
  </button>
{% endblock %}