{% extends 'application_form.html' %}
{% load field_helpers %}

{% block form_instructions %}
  <p>We’d like to know more about your organization. Include the following in your response: </p>
  
    <ul class="usa-list">
      <li>The type of work your organization does </li>
      <li>How your organization is a government organization that is independent of a state government </li>
      <li>Include links to authorizing legislation, applicable bylaws or charter, or other documentation to support your claims.</li>
    </ul>
  </p>
{% endblock %}

{% block form_required_fields_help_text %}
  <p class="text-semibold"><abbr class="usa-hint usa-hint--required" title="required">*</abbr>This question is required.</p>
{% endblock %}

{% block form_fields %}
    {% with attr_maxlength=1000 add_label_class="usa-sr-only" %}
      {% input_with_errors forms.0.about_your_organization %}
    {% endwith %}
{% endblock %}