{% load static %}
<div class="margin-bottom-4 tablet:margin-bottom-0">
  <nav aria-label="Form steps,">
    <ul class="usa-sidenav">
    {% for this_step in wizard.steps.all %}
    {% if forloop.counter <= wizard.steps.step1 %}
      <li class="usa-sidenav__item">
        <a href="{% url wizard.url_name step=this_step %}" 
           {% if this_step == wizard.steps.current %}class="usa-current"{% endif%}>
          {{ form_titles|get_item:this_step }}
        </a>
      {% else %}
        <li class="usa-sidenav__item step--locked">
        {{ form_titles|get_item:this_step }}
        <svg class="usa-icon" aria-labelledby="locked-step" role="img">
          <title id="locked-step">locked until previous steps have been completed </title>
          <use xlink:href="{%static '/img/sprite.svg'%}#lock"></use>
      {% endif %}
      </li>
    {% endfor %}
    </ul>
  </nav>
</div>
