{% extends 'application_form.html' %}
{% load static field_helpers %}

{% block form_instructions %}
  <p>Enter your organization’s public website, if you have one. For example,
  www.city.com.</p>
{% endblock %}


{% block form_fields %}
  {{ forms.0.management_form }}

  {% for form in forms.0 %}
    {% input_with_errors form.website %}
  {% endfor %}

  <button type="submit" name="submit_button" value="save" class="usa-button usa-button--unstyled">
    <svg class="usa-icon" aria-hidden="true" focusable="false" role="img" width="24" height="24">
      <use xlink:href="{%static 'img/sprite.svg'%}#add_circle"></use>
    </svg><span class="margin-left-05">Add another site</span>
  </button>
{% endblock %}