{% extends 'domain_request_form.html' %}
{% load static field_helpers url_helpers %}

{% block form_required_fields_help_text %}
{# empty this block so it doesn’t show on this page #}
{% endblock %}

{% block form_fields %}
  {% include "includes/naming_requirements.html"  %}

  <fieldset class="usa-fieldset margin-top-4">
  {% include "includes/domain_example.html" with generic_org_type=generic_org_type %}
  </fieldset>

  {{ forms.0.management_form }}
  <fieldset class="usa-fieldset margin-top-2">
    <legend>
      <h2>What .gov domain do you want?</h2>
    </legend>
    <p id="domain_instructions" class="margin-top-05">
      If the domain you want is available, we'll verify it meets all our naming requirements after you submit this form.
      You may also provide alternative domains in case we can't approve your first choice.
    </p>
    <div class="domain-input-wrapper">
      {% with attr_aria_labelledby="domain_instructions domain_instructions2" attr_aria_describedby="id_dotgov_domain-requested_domain--toast" %}
        {# attr_validate / validate="domain" invokes code in getgov.min.js #}
        {% with attr_validate="domain" add_label_class="usa-sr-only" %}
          {% input_with_errors forms.0.requested_domain %}
        {% endwith %}
      {% endwith %}
      <span class="domain-gov-suffix">.gov</span>
    </div>
    <button
      type="button"
      class="usa-button usa-button--outline"
      validate-for="{{ forms.0.requested_domain.auto_id }}"
    >Check availability</button>
  </fieldset>

  <fieldset class="usa-fieldset margin-top-1 dotgov-domain-form" id="form-container">
    <legend>
      <h3 id="alternative-domains-title">Alternative domains (optional)</h3>
    </legend>
    <p id="alt_domain_instructions" class="margin-top-05 margin-bottom-05">
      Are there other domains you’d like if we can’t give you your first choice? We will confirm with you before approving an alternative domain.
    </p>
    {{ forms.1.management_form }}

    {% with attr_aria_labelledby="alt_domain_instructions" %}
      {# Will probably want to remove blank-ok and do related cleanup when we implement delete #}
      {% with attr_validate="domain" add_label_class="usa-sr-only" add_class="blank-ok alternate-domain-input" %}
        {% for form in forms.1.forms %}
        <!-- <div class="repeatable-form padding-y-1 "> -->
          <div class="repeatable-form padding-y-1 {% if not form.alternative_domain.value %}display-none{% endif %}">

          <fieldset class="usa-fieldset">
            <!-- legend has to be direct child of fieldset to be valid html, in div would break it - need for labelling/sr -->
            <legend class="usa-sr-only" id="alternative-domain-{{ forloop.counter }}"> Alternative domain {{ forloop.counter }}</legend>
            <div class="alternative-domain-header display-flex flex-justify flex-align-baseline flex-wrap margin-bottom-1">
              <h4 class="line-height-heading-2 margin-0" aria-hidden="true"> Alternative domain {{ forloop.counter }}</h4>
              
              {% if form.alternative_domain.value %}
                <span class="usa-sr-only delete-button-description" id="alternative-domain-{{ forloop.counter }}__name">Delete {{ form.alternative_domain.value }}.gov</span>
              {% else %}
                <span class="usa-sr-only" id="alternative-domain-{{ forloop.counter }}__name">Delete alternative domain</span>
              {% endif %}
              
              <button 
                aria-labelledby="alternative-domain-{{ forloop.counter }}" 
                aria-describedby="alternative-domain-{{ forloop.counter }}__name" 
                type="button" 
                class="usa-button usa-button--unstyled display-block delete-record text-secondary usa-button--with-icon margin-bottom-1">
                <svg class="usa-icon" aria-hidden="true" focusable="false" role="img" width="24" height="24">
                  <use xlink:href="{% static 'img/sprite.svg' %}#delete"></use>
                </svg>Delete
              </button>
            </div>
            {% if forms.1.can_delete %}
              {{ form.DELETE }}
            {% endif %}
            
            <div class="clear-both">
              <div class="domain-input-wrapper margin-bottom-0">
                {% with attr_aria_describedby=form.alternative_domain.auto_id|stringformat:"s"|add:"--toast" %}
                {% input_with_errors form.alternative_domain %}
                {% endwith %}
                <span class="domain-gov-suffix">.gov</span>
              </div>
              
              <div class="usa-sr-only" id="alternative-domain-{{ forloop.counter }}__check-availability">Check domain availability for alternative domain {{ forloop.counter }}</div>
              <button
                type="button"
                class="usa-button usa-button--outline"
                validate-for="{{ form.alternative_domain.auto_id }}"
                aria-labelledby="alternative-domain-{{ forloop.counter }}"
                aria-describedby="alternative-domain-{{ forloop.counter }}__check-availability"
              >Check availability</button>
            </div>
          </fieldset>
        </div>
        {% endfor %}
      {% endwith %}
    {% endwith %}
    
    <div class="usa-sr-only" id="alternative-domains__add-another-alternative">Add another alternative domain</div> 
    <button aria-labelledby="alternative-domains-title" aria-describedby="alternative-domains__add-another-alternative" type="button" value="save" class="usa-button usa-button--unstyled usa-button--with-icon" id="add-form">
      <svg class="usa-icon" aria-hidden="true" focusable="false" role="img" width="24" height="24">
        <use xlink:href="{% static 'img/sprite.svg' %}#add_circle"></use>
      </svg>
      <span class="margin-left-05">Add alternative domain</span>
    </button>
  </fieldset>

  {{ forms.2.management_form }}
  {{ forms.3.management_form }}

  {% if requires_feb_questions %}
    <fieldset class="usa-fieldset margin-top-0 dotgov-domain-form">
      <legend>
        <h2>Does this submission meet each domain naming requirement?</h2>
      </legend>
      <p id="dotgov-domain-naming-requirements" class="margin-top-05">
        OMB will review each request against the domain 
        <a class="usa-link" rel="noopener noreferrer" target="_blank" href="https://get.gov/domains/executive-branch-guidance/">
          naming requirements for executive branch agencies</a>. Agency submissions are expected to meet each requirement.
      </p>
      <p class="usa-label margin-top-0 margin-bottom-0">
        <em>Select one. <abbr class="usa-hint usa-hint--required" title="required">*</abbr></em>
      </p>
      {% with add_class="usa-radio__input--tile" add_legend_class="usa-sr-only" %}
        {% input_with_errors forms.2.feb_naming_requirements %}
      {% endwith %}

      {# Conditional Details Field – only shown when the executive naming requirements radio is "False" #}
      <div id="domain-naming-requirements-details-container" class="conditional-panel" style="display: none;">
        <p class="margin-bottom-3 margin-top-3">
          <em>Provide details on why your submission does not meet each domain naming requirement. <abbr class="usa-hint usa-hint--required" title="required">*</abbr></em>
        </p>
        {% with add_label_class="usa-sr-only" attr_required="required" maxlength="2000" %}
          {% input_with_errors forms.3.feb_naming_requirements_details %}
        {% endwith %}
      </div>
    </fieldset>
  {% endif %}

{% endblock %}
