{% extends 'base.html' %}

{% block title %}Withdraw request for {{ DomainRequest.requested_domain.name }} | {% endblock %}
{% load static url_helpers %}

{% block wrapperdiv %}
<div id="wrapper" class="wrapper--padding-top-6">
{% endblock wrapperdiv %}

{% block content %}
<div class="grid-container grid-container--widescreen">
  <div class="grid-row {% if not is_widescreen_centered %}max-width--grid-container{% endif %}">
    <div class="grid-col desktop:grid-offset-2 desktop:grid-col-8">
    

    <h1>Withdraw request for {{ DomainRequest.requested_domain.name }}?</h1>

    <p>If you withdraw your request, we won't review it. Once you withdraw your request, you can edit it and submit it again. </p>

    <p><a href="{% url 'domain-request-withdrawn' domain_request_pk=DomainRequest.id %}" class="usa-button usa-button--outline usa-button--outline-secondary">Withdraw request</a>  
      <a href="{% url 'domain-request-status' domain_request_pk=DomainRequest.id %}">Cancel</a></p>

    </div>
  </div>

</div>
{% endblock %}
