{% extends "domain_base.html" %}
{% load static field_helpers %}

{% block title %}Add a domain manager | {% endblock %}

  {% block breadcrumb %}
  <!-- Navigation breadcrumbs -->
    {% include "includes/domain_breadcrumbs.html"%}
  {% endblock breadcrumb %}

{% block domain_content %}

  <!-- Error message -->
  {% include "includes/form_errors.html" with form=form %}

  <h1>Add a domain manager</h1>
  {% if portfolio %}
    <p>
      Provide an email address for the domain manager you’d like to add. 
      They’ll need to access the registrar using a Login.gov account that’s associated with this email address. 
      Domain managers can be a member of only one .gov organization.
    </p>
  {% else %}
  <p>
      Provide an email address for the domain manager you’d like to add. 
      They’ll need to access the registrar using a Login.gov account that’s associated with this email address.
  </p>
  {% endif %}

  <form class="usa-form usa-form--large" method="post" novalidate>
    {% csrf_token %}

    {% input_with_errors form.email %}

    <button
      type="submit"
      class="usa-button"
    >Add domain manager</button>
  </form>

{% endblock %}  {# domain_content #}
