{% extends "domain_base.html" %}
{% load static field_helpers url_helpers %}

{% block title %}Senior official | {{ domain.name }} | {% endblock %}

{% block breadcrumb %}
  <!-- Navigation breadcrumbs -->
  {% include "includes/domain_breadcrumbs.html" %}
{% endblock breadcrumb %}

{% block domain_content %}
  {% if generic_org_type == "federal" or generic_org_type == "tribal" %}
    {% include "includes/senior_official.html" with can_edit=False include_read_more_text=True %}
  {% else %}
    {% include "includes/senior_official.html" with can_edit=True include_read_more_text=True %}
  {% endif %}
{% endblock %}
