{% load static url_helpers %}

<div class="margin-bottom-4 tablet:margin-bottom-0">
  <nav aria-label="Domain sections">
    <ul class="usa-sidenav">

      {% with url_name="domain" %}
        {% include "includes/domain_sidenav_item.html" with item_text="Domain overview" %}
      {% endwith %}

      {% if is_editable %}

      {% if not portfolio %}
        {% with url_name="domain-org-name-address" %}
          {% include "includes/domain_sidenav_item.html" with item_text="Organization" %}
        {% endwith %}
      {% endif %}    

      <li class="usa-sidenav__item">
        {% url 'domain-dns' domain_pk=domain.id as url %}
        <a href="{{ url }}" {% if request.path|startswith:url %}class="usa-current"{% endif %}>
          DNS
        </a>
        {% if request.path|startswith:url %}
        <ul class="usa-sidenav__sublist">
          <li class="usa-sidenav__item">
            {% url 'domain-dns-nameservers' domain_pk=domain.id as url %} 
            <a href="{{ url }}"
              {% if request.path|startswith:url %}class="usa-current"{% endif %}
            >
                Name servers
            </a>
          </li>

          <li class="usa-sidenav__item">
            {% url 'domain-dns-dnssec' domain_pk=domain.id as url %}
            <a href="{{ url }}"
              {% if request.path|startswith:url %}class="usa-current"{% endif %}
            >
                DNSSEC
            </a>
            {% if request.path|startswith:url %}
              {% if domain.dnssecdata is not None or request.path|startswith:url and request.path|endswith:'dsdata' %}
              <ul class="usa-sidenav__sublist">
                <li class="usa-sidenav__item">
                  {% url 'domain-dns-dnssec-dsdata' domain_pk=domain.id as url %}
                  <a href="{{ url }}"
                    {% if request.path == url %}class="usa-current"{% endif %}
                  >
                      DS data
                  </a>
                </li>
              </ul>
              {% endif %}
            {% endif %}
          </li>
        </ul>
        {% endif %}
      </li>

      
      {% if portfolio %}
          {% comment %} Only show this menu option if the user has the perms to do so {% endcomment %}
          {% if has_any_domains_portfolio_permission and has_view_portfolio_permission %}
            {% with url_name="domain-suborganization" %}
              {% include "includes/domain_sidenav_item.html" with item_text="Suborganization" %}
            {% endwith %}
          {% endif %}
      {% else %}
        {% with url_name="domain-senior-official" %}
          {% include "includes/domain_sidenav_item.html" with item_text="Senior official" %}
        {% endwith %}
      {% endif %}

      {% with url_name="domain-security-email" %}
        {% include "includes/domain_sidenav_item.html" with item_text="Security email" %}
      {% endwith %}

      {% with url_name="domain-users" %}
        {% include "includes/domain_sidenav_item.html" with item_text="Domain managers" %}
      {% endwith %}

     <li class="usa-sidenav__item">
      {% url 'domain-advanced-setting' domain_pk=domain.id as advanced_settings_url %}
      {% url 'domain-renewal' domain_pk=domain.id as domain_renewal_url %}
      {% url 'domain-dns-dnssec' domain_pk=domain.id as dnssec_url %}
      {% url 'domain-dns-dnssec-dsdata' domain_pk=domain.id as dsdata_url %}
      {% url 'domain-delete' domain_pk=domain.id as domain_delete_url %}

      <a href="{{ advanced_settings_url }}" {% if request.path|startswith:advanced_settings_url %}class="usa-current"{% endif %}>
        Advanced settings
      </a>

      {% if request.path|startswith:advanced_settings_url or request.path|startswith:domain_renewal_url or request.path|startswith:domain_delete_url %}
      <ul class="usa-sidenav__sublist">
        
        <!-- Renewal form -->
        {% if is_domain_manager %}
          {% if domain.is_expiring or domain.is_expired %}
          <li class="usa-sidenav__item">  
            <a href="{{ domain_renewal_url }}"
              {% if request.path|startswith:domain_renewal_url %}class="usa-current"{% endif %}
            >
            Renewal form
            </a>
          </li>
          {% endif %}
        {% endif %}

        <!-- Request deletion form -->
        <li class="usa-sidenav__item">
          <a href="{{ domain_delete_url }}"
            {% if request.path|startswith:domain_delete_url %}class="usa-current"{% endif %}
          >
            Request deletion
          </a>
        </li>
    
      </ul>
      {% endif %}
    </li>  

      {% endif %}
    </ul>
  </nav>
</div>