{% extends "domain_base.html" %}
{% load static field_helpers url_helpers %}

{% block title %}DNS | {{ domain.name }} | {% endblock %}

{% block breadcrumb %}
    <!-- Navigation breadcrumbs -->
  <nav class="usa-breadcrumb padding-top-0" aria-label="Domain breadcrumb">
    <ol class="usa-breadcrumb__list">
      <li class="usa-breadcrumb__list-item">
        <a href="{% url 'home' %}" class="usa-breadcrumb__link"><span>Domains</span></a>
      </li>
      <li class="usa-breadcrumb__list-item">
        <a href="{% url 'domain' domain_pk=domain.id %}" class="usa-breadcrumb__link"><span>{{ domain.name }}</span></a>
      </li>
      <li class="usa-breadcrumb__list-item">
        <a href="{% url 'domain-dns' domain_pk=domain.id %}" class="usa-breadcrumb__link"><span>DNS</span></a>
      </li>
      <li class="usa-breadcrumb__list-item usa-current" aria-current="page">
        <span>Records</span>
      </li>
    </ol>
  </nav>
{% endblock breadcrumb %}

{% block domain_content %}

    {% include "includes/form_errors.html" with form=form %}

    <div x-data="{ show_form: false, recordType: '' }">
        <div class="display-flex flex-align-center">
            <div class="grid-col">
                <h1>Records</h1>
            </div>
            
            <div class="grid-col-auto">
                <button
                class="usa-button"
                type="button"
                x-on:click="show_form = true"
                >
                    Add record
                </button>
            </div>
        </div>
    
        <div class="grid-row">
            <div class="grid-col-12">
                <p class="measure-none">
                    Review, add and edit DNS records. Edits will go into effect once saved.
                </p>
                <p class="measure-none">
                    Click "Add record" and enter the values that you need to enter so everything and everyone can get the work done here.
                </p>
                <p class="text-italic measure-none">
                    Required fields are marked with an asterisk(<abbr class="usa-hint usa-hint--required" title="required">*</abbr>).
                </p>

                <div x-cloak x-show="show_form">
                    <form 
                        class="usa-form usa-form--large padding-3 border-1px border-base-light width-full maxw-none margin-top"
                        method="post"
                        novalidate id="form-container"
                        x-cloak
                        x-show="show_form"
                    >
                        {% csrf_token %}
                        <h2 class="margin-top-0">Add record</h2>

                        <div class="grid-col-3">
                            {% input_with_errors form.type_field %}        
                        </div>

                        <div x-cloak x-show="recordType">
                            {% input_with_errors form.name %}    
                            <div class="grid-row grid-gap flex-align-end">
                                <div class="grid-col-9">
                                    {% input_with_errors form.content %}
                                </div>
                                <div class="grid-col-3">
                                    {% input_with_errors form.ttl %}        
                                </div>
                            </div>
                        
                            {% input_with_errors form.comment %}

                            <button
                                    type="submit"
                                    class="usa-button"
                                >
                                    Save
                            </button>
                            <button
                                type="button"
                                class="usa-button usa-button--outline"
                                x-on:click="show_form = false"
                            >
                                Cancel
                            </button>
                        </div>
                    </form>
                </div>
             </div>
        </div>
    </div>
    {% if dns_record %}
    <p>DNS RECORD: {{ dns_record }} </p>
    {% endif %}
{% endblock %}  {# domain_content #}