{% extends "domain_base.html" %}
{% load static field_helpers url_helpers %}

{% block title %}DNS | {{ domain.name }} | {% endblock %}

{% block domain_content %}

  <h1>DNS</h1>

  <p>The Domain Name System (DNS) is the internet service that translates your domain name into an IP address. Before your .gov domain can be used, you'll need to connect it to a DNS hosting service and provide us with your name server information.</p>

  <p>You can enter your name servers, as well as other DNS-related information, in the following sections:</p>

  {% url 'domain-dns-nameservers' pk=domain.id as url %}
<ul class="usa-list">
<li><a href="{{ url }}">Name servers</a></li>

  {% url 'domain-dns-dnssec' pk=domain.id as url %}
  <li><a href="{{ url }}">DNSSEC</a></li>
</ul>

{% endblock %}  {# domain_content #}
