{% extends "domain_base.html" %}
{% load static field_helpers %}

{% block title %}Add a domain manager | {% endblock %}

{% block domain_content %}

  {% include "includes/form_errors.html" with form=form %}

  {% block breadcrumb %}
    {% if portfolio %}
    <!-- Navigation breadcrumbs -->
    <nav class="usa-breadcrumb padding-top-0" aria-label="Domain breadcrumb">
      <ol class="usa-breadcrumb__list">
        <li class="usa-breadcrumb__list-item">
          <a href="{% url 'domains' %}" class="usa-breadcrumb__link"><span>Domains</span></a>
        </li>
        <li class="usa-breadcrumb__list-item">
          <a href="{% url 'domain' pk=domain.id %}" class="usa-breadcrumb__link"><span>{{ domain.name }}</span></a>
        </li>
        <li class="usa-breadcrumb__list-item">
          <a href="{% url 'domain-users' pk=domain.id %}" class="usa-breadcrumb__link"><span>Domain managers</span></a>
        </li>
        <li class="usa-breadcrumb__list-item usa-current" aria-current="page">
          <span>Add a domain manager</span>
        </li>
      </ol>
    </nav>
    {% else %}
    {% url 'domain-users' pk=domain.id as url %}
    <nav class="usa-breadcrumb padding-top-0" aria-label="Domain manager breadcrumb">
      <ol class="usa-breadcrumb__list">
        <li class="usa-breadcrumb__list-item">
          <a href="{{ url }}" class="usa-breadcrumb__link"><span>Domain managers</span></a>
        </li>
        <li class="usa-breadcrumb__list-item usa-current" aria-current="page">
          <span>Add a domain manager</span>
        </li>
      </ol>
    </nav>
    {% endif %}
  {% endblock breadcrumb %}

  <h1>Add a domain manager</h1>
  {% if portfolio %}
    <p>
      Provide an email address for the domain manager you’d like to add. 
      They’ll need to access the registrar using a Login.gov account that’s associated with this email address. 
      Domain managers can be a member of only one .gov organization.
    </p>
  {% else %}
  <p>
      Provide an email address for the domain manager you’d like to add. 
      They’ll need to access the registrar using a Login.gov account that’s associated with this email address.
  </p>
  {% endif %}

  <form class="usa-form usa-form--large" method="post" novalidate>
    {% csrf_token %}

    {% input_with_errors form.email %}

    <button
      type="submit"
      class="usa-button"
    >Add domain manager</button>
  </form>

{% endblock %}  {# domain_content #}
