{% load static url_helpers %}

<div class="margin-bottom-4 tablet:margin-bottom-0">
  <nav aria-label="Domain sections">
    <ul class="usa-sidenav">
      <li class="usa-sidenav__item">
        {% url 'domain' pk=domain.id as url %} 
        <a href="{{ url }}" 
          {% if request.path == url %}class="usa-current"{% endif %}
        >
          Domain overview
        </a>
      </li>

      {% if domain.is_editable %}
      <li class="usa-sidenav__item">
        {% url 'domain-dns' pk=domain.id as url %}
        <a href="{{ url }}" {% if request.path|startswith:url %}class="usa-current"{% endif %}>
          DNS
        </a>
        {% if request.path|startswith:url %}
        <ul class="usa-sidenav__sublist">
          <li class="usa-sidenav__item">
            {% url 'domain-dns-nameservers' pk=domain.id as url %} 
            <a href="{{ url }}"
              {% if request.path == url %}class="usa-current"{% endif %}
            >
                Name servers
            </a>
          </li>

          <li class="usa-sidenav__item">
            {% url 'domain-dns-dnssec' pk=domain.id as url %}
            <a href="{{ url }}"
              {% if request.path|startswith:url %}class="usa-current"{% endif %}
            >
                DNSSEC
            </a>
            {% if request.path|startswith:url %}
              {% if domain.dnssecdata is not None or request.path|startswith:url and request.path|endswith:'dsdata' %}
              <ul class="usa-sidenav__sublist">
                <li class="usa-sidenav__item">
                  {% url 'domain-dns-dnssec-dsdata' pk=domain.id as url %}
                  <a href="{{ url }}"
                    {% if request.path == url %}class="usa-current"{% endif %}
                  >
                      DS data
                  </a>
                </li>
              </ul>
              {% endif %}
            {% endif %}
          </li>
        </ul>
        {% endif %}
      </li>

      <li class="usa-sidenav__item">
        {% url 'domain-org-name-address' pk=domain.id as url %}
        <a href="{{ url }}"
          {% if request.path == url %}class="usa-current"{% endif %}
        >
            Organization name and mailing address
        </a>
      </li>      

      <li class="usa-sidenav__item">
        {% url 'domain-authorizing-official' pk=domain.id as url %}
        <a href="{{ url }}"
          {% if request.path == url %}class="usa-current"{% endif %}
        >
            Authorizing official
        </a>
      </li>

      {% if not has_profile_feature_flag %}
      {% comment %}Conditionally display profile link in main nav{% endcomment %}
      <li class="usa-sidenav__item">
        {% url 'domain-your-contact-information' pk=domain.id as url %}
        <a href="{{ url }}"
          {% if request.path == url %}class="usa-current"{% endif %}
        >
            Your contact information
        </a>
      </li>
      {% endif %}

      <li class="usa-sidenav__item">
        {% url 'domain-security-email' pk=domain.id as url %}
        <a href="{{ url }}"
          {% if request.path == url %}class="usa-current"{% endif %}
        >
            Security email
        </a>
      </li>

      <li class="usa-sidenav__item">
        {% url 'domain-users' pk=domain.id as url %}
        <a href="{{ url }}"
          {% if request.path|startswith:url %}class="usa-current"{% endif %}
        >
            Domain managers
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>
</div>
