<div id="dns-nameservers-container">
    {% if nameservers %}
    <table class="usa-table usa-table--borderless usa-table--stacked dotgov-table dotgov-table--stacked">
          <thead>
                <tr>
                    <th scope="col" role="columnheader">Name servers</th>
                </tr>
            </thead>
            <tbody>
              {% for nameserver in nameservers%}
                <tr>
                    <td data-label="name servers">
                        {{ nameserver }}
                    </td>
                </tr>
              {% endfor %}

            </tbody>
         
    </table>
    {% endif %}

</div>

