{% extends 'domain_request_form.html' %}
{% load static field_helpers %}

{% block form_instructions %}
  <p><i>These questions are required (*).</i></p>
{% endblock %}

{% block form_required_fields_help_text %}
{# commented out so it does not appear at this point on this page #}
{% endblock %}

<!-- TODO-NL: (refactor) Breakup into two separate components-->
{% block form_fields %}
    <fieldset class="usa-fieldset margin-top-2">
      <legend>
        <h2>Are you working with anyone from CISA regions on your domain request?</h2>
        <p>.gov is managed by the Cybersecurity and Infrastructure Security Agency. CISA has 10 regions that some organizations choose to work with. Regional representatives use titles like protective security advisors, cyber security advisors, or election security advisors.</p>
      </legend>

      <!-- Toggle -->
      {% with add_class="usa-radio__input--tile" add_legend_class="usa-sr-only" %}
        {% input_with_errors forms.0.has_cisa_representative %}
      {% endwith %}
      {# forms.0 is a small yes/no form that toggles the visibility of "cisa representative" formset #} 
      <!-- TODO-NL: Hookup forms.0 to yes/no form for cisa representative (backend def)-->
    </fieldset>

    <div id="cisa-representative" class="cisa-representative-form">
        {% input_with_errors forms.1.cisa_representative_email %}
        {# forms.1 is a form for inputting the e-mail of a cisa representative #}
        <!-- TODO-NL: Hookup forms.1 to cisa representative form (backend def) -->
    </div>


    <fieldset class="usa-fieldset margin-top-2">
        <legend>
            <h2>Is there anything else you’d like us to know about your domain request?</h2> 
        </legend>
  
        <!-- Toggle -->
        {% with add_class="usa-radio__input--tile" add_legend_class="usa-sr-only" %}
          {% input_with_errors forms.2.has_anything_else_text %}
        {% endwith %}
        {# forms.2 is a small yes/no form that toggles the visibility of "cisa representative" formset #} 
        <!-- TODO-NL: Hookup forms.2 to yes/no form for anything else form (backend def)-->
    </fieldset>
  
    <div id="anything-else">
        {% with attr_maxlength=2000 add_label_class="usa-sr-only" %}
            {% input_with_errors forms.3.anything_else %}
        {% endwith %}
        {# forms.3 is a form for inputting the e-mail of a cisa representative #}
        <!-- TODO-NL: Hookup forms.3 to anything else form (backend def) -->
    </div>
{% endblock %}
