{% extends "domain_base.html" %}
{% load static field_helpers url_helpers %}

{% block title %}Subdomain records | {{ domain.name }} | {% endblock %}

{% block domain_content %}

  <h1>Subdomain records</h1>

  <p>Subdomains allow you to host multiple services under the same domain and create subsets of your website. For example, blogs are often set up as a subdomain (blog.example.gov).</p>

  <p>Subdomains cannot be requested through the .gov registrar. Those must be set up ... NEED ADDITIONAL COPY HERE</p>

  <p>If you use subdomains, enter those records (also known as glue records) below.</p>

{% endblock %}  {# domain_content #}
