{% extends "domain_base.html" %}
{% load static field_helpers url_helpers %}

{% block title %}Records | {{ domain.name }} | {% endblock %}

{% block domain_content %}
    {% include "includes/form_errors.html" with form=form %}

    <h1>Add DNS records</h1>

    <p>
    This is a prototype that demonstrates adding an 'A' record to a zone.
    Do note that this just adds records, but does not update or delete existing ones.
    </p>

    <div x-data="{ show_form: false }">
        <button
        class="usa-button"
        type="button"
        x-on:click="show_form = true"
        >
            Add record
        </button>
        <form 
            class="usa-form usa-form--large"
            method="post"
            novalidate id="form-container"
            x-cloak
            x-show="show_form"
        >
            {% csrf_token %}
            {% input_with_errors form.name %}
            {% input_with_errors form.content %}
            {% input_with_errors form.ttl %}
            <button
                    type="submit"
                    class="usa-button"
                >
                    Submit record
            </button>
            <button
                type="button"
                class="usa-button usa-button--outline"
                x-on:click="show_form = false"
            >
                Cancel
            </button>
        </form>
        
    </div>

    {% if dns_records %}
        <table class="usa-table usa-table--borderless usa-table--stacked dotgov-table dotgov-table--stacked" id="dnsrecords-table">
            <caption class="sr-only">Your DNS records</caption>
            <thead>
                <tr>
                <th scope="col" role="columnheader">Type</th>
                <th scope="col" role="columnheader">Name</th>
                <th scope="col" role="columnheader">Content</th>
                <th scope="col" role="columnheader">TTL</th>
                <th scope="col" role="columnheader" class="width-0 padding-right-0">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for dns_record in dns_records %}
                    {% include "domain_dns_record_row.html" with counter=forloop.counter dns_record=dns_record %}
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}  {# domain_content #}