{% extends "domain_base.html" %}
{% load static field_helpers url_helpers %}

{% block title %}DNS | {{ domain.name }} | {% endblock %}

{% block domain_content %}
  {% block breadcrumb %}
  {% if portfolio %}
  <!-- Navigation breadcrumbs -->
  <nav class="usa-breadcrumb padding-top-0" aria-label="Domain breadcrumb">
    <ol class="usa-breadcrumb__list">
      <li class="usa-breadcrumb__list-item">
        <a href="{% url 'domains' %}" class="usa-breadcrumb__link"><span>Domains</span></a>
      </li>
      <li class="usa-breadcrumb__list-item">
        <a href="{% url 'domain' pk=domain.id %}" class="usa-breadcrumb__link"><span>{{ domain.name }}</span></a>
      </li>
      <li class="usa-breadcrumb__list-item usa-current" aria-current="page">
        <span>DNS</span>
      </li>
    </ol>
  </nav>
  {% endif %}
  {% endblock breadcrumb %}

  <h1>DNS</h1>

  <p>The Domain Name System (DNS) is the internet service that translates your domain name into an IP address. Before your .gov domain can be used, you'll need to connect it to a DNS hosting service and provide us with your name server information.</p>

  <p>You can enter your name servers, as well as other DNS-related information, in the following sections:</p>
  

  {% url 'domain-dns-nameservers' pk=domain.id as url %}
<ul class="usa-list">
<li><a href="{{ url }}">Name servers</a></li>

  {% url 'domain-dns-dnssec' pk=domain.id as url %}
  <li><a href="{{ url }}">DNSSEC</a></li>
  {% if dns_prototype_flag and is_valid_domain_for_prototype %}
    <li><a href="{% url 'prototype-domain-dns' pk=domain.id %}">Prototype DNS record creator</a></li>
  {% endif %}
</ul>

{% endblock %}  {# domain_content #}
