{% extends "domain_base.html" %}
{% load static field_helpers url_helpers %}

{% block title %}DNSSEC | {{ domain.name }} | {% endblock %}


  {% block breadcrumb %}
  <!-- Navigation breadcrumbs -->
    {% include "includes/domain_breadcrumbs.html" %}
  {% endblock breadcrumb %}
  
  {% block domain_content %}

  <h1 id="domain-dnssec">DNSSEC</h1>

  <p>DNSSEC, or DNS Security Extensions, is an additional security layer to protect your website. Enabling DNSSEC ensures that when someone visits your domain, they can be certain that it’s connecting to the correct server, preventing potential hijacking or tampering with your domain's records.</p>

  <form class="usa-form usa-form--text-width" method="post">
    {% csrf_token %}
    {% if has_dnssec_records %}
    <div
        class="usa-summary-box " 
        role="region"
        aria-labelledby="Important notes on disabling DNSSEC"
    >
      <div class="usa-summary-box__body">
        <h2 class="usa-summary-box__heading"
        >To fully disable DNSSEC</h2>

        <div class="usa-summary-box__text">
          <ul class="usa-list">
            <li>Click “Disable DNSSEC”  below.</li>
            <li>Wait until the Time to Live (TTL) expires on your DNSSEC records managed by your DNS hosting provider. This is often less than 24 hours, but confirm with your provider.</li>
            <li>After the TTL expiration, disable DNSSEC at your DNS hosting provider. </li>
          </ul>
          <p><strong>Warning:</strong> If you disable DNSSEC at your DNS hosting provider before TTL expiration, this may cause your domain to appear offline.</p>
        </div>
        
      </div>
    </div>
    <h2>DNSSEC is enabled on your domain</h2>
    <a
      href="#toggle-dnssec-alert"
      class="usa-button usa-button--outline margin-top-1"
      aria-controls="toggle-dnssec-alert"
      data-open-modal
      >Disable DNSSEC</a
    >
    {% else %}
    <div id="enable-dnssec">
      <div class="usa-alert usa-alert--info">
        <div class="usa-alert__body">
          <p class="margin-y-0">It is strongly recommended that you only enable DNSSEC if you know how to set it up properly at your hosting service. If you make a mistake, it could cause your domain name to stop working.</p>
        </div>
      </div>
      <a href="{% url 'domain-dns-dnssec-dsdata' domain_pk=domain.id %}" class="usa-button">Enable DNSSEC</a>
    </div>
    {% endif %}
  </form>

  <div
    class="usa-modal"
    id="toggle-dnssec-alert"
    aria-labelledby="Are you sure you want to continue?"
    aria-describedby="Your DNSSEC records will be deleted from the registry."
  >
      {% include 'includes/modal.html' with modal_heading="Are you sure you want to disable DNSSEC?" modal_button_id="disable-dnssec-button" modal_button_text="Confirm" modal_button_class="usa-button--secondary" %}
  </div>
  <form method="post" id="disable-dnssec-form">
    {% csrf_token %}
    <input type="hidden" name="disable_dnssec" value="1">
  </form>

{% endblock %}  {# domain_content #}
