{% extends "domain_base.html" %}
{% load static field_helpers %}

{% block title %}Add a domain manager | {% endblock %}

{% block domain_content %}
  <h1>Add a domain manager</h1>

  <p>You can add another user to help manage your domain. They will need to sign
  in to the .gov registrar with their Login.gov account.
  </p>

  <form class="usa-form usa-form--large" method="post" novalidate>
    {% csrf_token %}

    {% input_with_errors form.email %}

    <button
      type="submit"
      class="usa-button"
    >Add domain manager</button>
  </form>

{% endblock %}  {# domain_content #}
