{% extends "domain_base.html" %}
{% load static url_helpers %}
{% load custom_filters %}

  {% block breadcrumb %}

  <!-- Navigation breadcrumbs -->
  <nav class="usa-breadcrumb padding-top-0" aria-label="Domain breadcrumb">
    <ol class="usa-breadcrumb__list">
      <li class="usa-breadcrumb__list-item">
        <a href="{% url 'home' %}" class="usa-breadcrumb__link"><span>Domains</span></a>
      </li>
      <li class="usa-breadcrumb__list-item">
        <a href="{% url 'domain' domain_pk=domain.id %}" class="usa-breadcrumb__link"><span>{{domain.name}}</span></a>
      </li>
      <li class="usa-breadcrumb__list-item">
        <a href="{% url 'domain-advanced-setting' domain_pk=domain.id %}" class="usa-breadcrumb__link"><span>Advanced Settings</span></a>
      </li>
      <li class="usa-breadcrumb__list-item usa-current" aria-current="page">
        <span>Renewal form</span>
      </li>

    </ol>
  </nav>
  {% endblock breadcrumb %}

  {% block domain_content %}
   <!-- Banner for if_policy_acknowledged -->
  {% if form.is_policy_acknowledged.errors %}
    <div class="usa-alert usa-alert--error usa-alert--slim margin-bottom-2" role="alert">
      <div class="usa-alert__body">
        {% for error in form.is_policy_acknowledged.errors %}
          <p class="usa-alert__text">{{ error }}</p>
        {% endfor %}
      </div>
    </div>
  {% endif %}

  {{ block.super }}
  <div class="margin-top-4 tablet:grid-col-10">
    <h2 class="domain-name-wrap">Confirm the following information for accuracy</h2>
    <p>Review the details below. We <a href="https://get.gov/domains/requirements/#what-.gov-domain-registrants-must-do" class="usa-link" target="_blank">
      require</a> that you maintain accurate information for the domain.
      The details you provide will only be used to support the administration of .gov and won't be made public.
    </p>
    <p>If you would like to retire your domain instead, please <a href="https://get.gov/contact/" class="usa-link" target="_blank">
      contact us</a>. </p>
    <p><em>Required fields are marked with an asterisk (<abbr class="usa-hint usa-hint--required" title="required">*</abbr>).</em>
    </p>


    {% url 'user-profile' as url %}
    {% include "includes/summary_item.html" with title='Your contact information' value=request.user edit_link=url editable=is_editable  contact='true' %}
  
    {% if analyst_action != 'edit' or analyst_action_location != domain.pk %}
      {% if is_portfolio_user and not is_domain_manager %}
      <div class="usa-alert usa-alert--info usa-alert--slim">
        <div class="usa-alert__body">
          <p class="usa-alert__text ">
            You don't have access to manage {{domain.name}}. If you need to make updates, contact one of the listed domain managers.
          </p>
        </div>
      </div>
      {% endif %}
    {% endif %}

    {% url 'domain-security-email' domain_pk=domain.id as url %}
    {% if security_email is not None and security_email not in hidden_security_emails%}
      {% include "includes/summary_item.html" with title='Security email' value=security_email custom_text_for_value_none='We strongly recommend that you provide a security email. This email will allow the public to report observed or suspected security issues on your domain.' edit_link=url editable=is_editable %}
    {% else %}
      {% include "includes/summary_item.html" with title='Security email' value='None provided' custom_text_for_value_none='We strongly recommend that you provide a security email. This email will allow the public to report observed or suspected security issues on your domain.' edit_link=url editable=is_editable %}
    {% endif %}

    {% url 'domain-users' domain_pk=domain.id as url %}
    {% if portfolio %}
      {% include "includes/summary_item.html" with title='Domain managers' domain_permissions=True value=domain edit_link=url editable=is_editable %}
    {% else %}
      {% include "includes/summary_item.html" with title='Domain managers' list=True users=True value=domain.permissions.all edit_link=url editable=is_editable %}
    {% endif %}

    <div class="border-top-1px border-primary-dark padding-top-1 margin-top-3 margin-bottom-2">

      <fieldset class="usa-fieldset">
        <legend>
        <h3 class="summary-item__title 
          font-sans-md 
          text-primary-dark 
          text-semibold 
          margin-top-0 
          margin-bottom-05 
          padding-right-1">
        Acknowledgement of .gov domain requirements </h3>          
        </legend>
    
        <form method="post" action="{% url 'domain-renewal' domain_pk=domain.id %}"> 
          {% csrf_token %}
          <div class="usa-checkbox">

            {% if form.is_policy_acknowledged.errors %}
            {% for error in form.is_policy_acknowledged.errors %}
            <div class="usa-error-message display-flex" role="alert">
              <svg class="usa-icon usa-icon--large" focusable="true" role="img" aria-label="Error: Check the box if you read and agree to the requirements for operating a .gov domain.">
                <use xlink:href="{%static 'img/sprite.svg'%}#error"></use>
              </svg>
              <span class="margin-left-05">{{ error }}</span>
            </div>
            {% endfor %}
            </div>
        {% endif %}

          <input type="hidden" name="is_policy_acknowledged" value="False">

          <input 
            class="usa-checkbox__input" 
            id="renewal-checkbox" 
            type="checkbox" 
            name="is_policy_acknowledged"
            value="True"
            {% if form.is_policy_acknowledged.value %}checked{% endif %}
            >
            <label class="usa-checkbox__label" for="renewal-checkbox">
              I read and agree to the 
              <a href="https://get.gov/domains/requirements/" class="usa-link" target="_blank">
              requirements for operating a .gov domain</a>.<abbr class="usa-hint usa-hint--required" title="required">*</abbr>
            </label>
          </div>

          <button
            type="submit"
            name="submit_button"
            value="next"
            class="usa-button margin-top-3"
          > Submit and renew
          </button>
        </form>
      </fieldset>
    </div>  <!-- End of the acknowledgement section div -->
  </div>
{% endblock %}  {# domain_content #}