{% extends "domain_base.html" %}
{% load static url_helpers %}

{% block title %}Domain managers | {{ domain.name }} | {% endblock %}

{% block breadcrumb %}
  <!-- Navigation breadcrumbs -->
    {% include "includes/domain_breadcrumbs.html" %}
{% endblock breadcrumb %}

{% block domain_content %}

  <h1>Domain managers</h1>

  <p>
    Domain managers can update information related to this domain, including security email and DNS name servers.
  </p>

  <ul class="usa-list">
    <li>There is no limit on the number of domain managers you can add.</li>
    <li>All domain managers must keep their contact information updated and be responsive if contacted by the .gov team.</li>
    <li>All domain managers will be notified when updates are made to this domain and when managers are added or removed.</li>
    <li>Domains must have at least one manager. You can’t remove yourself if you’re the only one assigned to this domain.</li>
  </ul>

  {% if domain_manager_roles and domain_manager_roles|length == 1 %}
    <div class="usa-alert usa-alert--info usa-alert--slim">
      <div class="usa-alert__body">
        This domain has only one manager. Consider adding another manager to ensure the domain has continuous oversight and support.
      </div>
    </div>
  {% endif %}

  {% if domain_manager_roles %}
  <section class="section-outlined" id="domain-managers">
  <table class="usa-table usa-table--borderless usa-table--stacked dotgov-table--stacked dotgov-table">
    <h2> Domain managers </h2>
    <caption class="sr-only">Domain managers</caption>
    <thead>
      <tr>
        <th data-sortable scope="col" role="columnheader">Email</th>
        {% if not portfolio %}<th class="grid-col-2" data-sortable scope="col" role="columnheader">Role</th>{% endif %}
        <th class="grid-col-1" scope="col" role="columnheader"><span class="sr-only">Action</span></th>
      </tr>
    </thead>
    <tbody>
      {% for item in domain_manager_roles %}
      <tr>
        <th scope="row" role="rowheader" data-sort-value="{{ item.permission.user.email }}" data-label="Email">
          {{ item.permission.user.email }}
          {% if item.has_admin_flag %}<span class="usa-tag margin-left-1 primary-dark text-semibold">Admin</span>{% endif %}
        </th>
        {% if not portfolio %}<td data-label="Role">{{ item.permission.role|title }}</td>{% endif %}
        <td>
          <a
            id="button-toggle-user-alert-{{ forloop.counter }}"
            href="#toggle-user-alert-{{ forloop.counter }}"
            class="usa-button--unstyled text-no-underline"
            aria-controls="toggle-user-alert-{{ forloop.counter }}"
            data-open-modal
            aria-disabled="false"
            aria-label="Remove {{ item.permission.user.email }}""
          >
            Remove
          </a>
          {# Display a custom message if the user is trying to delete themselves #}
          {% if item.permission.user.email == current_user_email %}
            <div
            class="usa-modal"
            id="toggle-user-alert-{{ forloop.counter }}"
            aria-labelledby="Are you sure you want to continue?"
            aria-describedby="You will be removed from this domain"
            data-force-action
            >
              {% with domain_name=domain.name|force_escape counter_str=forloop.counter|stringformat:"s" %}
                {% include 'includes/modal.html' with modal_heading="Are you sure you want to remove yourself as a domain manager?" modal_description="You will no longer be able to manage the domain <strong>"|add:domain_name|add:"</strong>."|safe modal_button_id="user-delete-button-"|add:counter_str|safe modal_button_text="Yes, remove myself" modal_button_class="usa-button--secondary" %}
              {% endwith %}
            </div>
            <form method="POST" id="user-delete-form-{{ forloop.counter }}" action="{% url "domain-user-delete" domain_pk=domain.id user_pk=item.permission.user.id %}" >
              {% csrf_token %}
            </form>
          {% else %}
            <div
              class="usa-modal"
              id="toggle-user-alert-{{ forloop.counter }}"
              aria-labelledby="Are you sure you want to continue?"
              aria-describedby="{{ item.permission.user.email }} will be removed"
              data-force-action
            >
              {% with email=item.permission.user.email|default:item.permission.user|force_escape domain_name=domain.name|force_escape counter_str=forloop.counter|stringformat:"s" %}
                {% include 'includes/modal.html' with modal_heading="Are you sure you want to remove " heading_value=email|add:"?" modal_description="<strong>"|add:email|add:"</strong> will no longer be able to manage the domain <strong>"|add:domain_name|add:"</strong>."|safe modal_button_id="user-delete-button-"|add:counter_str|safe modal_button_text="Yes, remove domain manager" modal_button_class="usa-button--secondary" %}
              {% endwith %}
            </div>
            <form method="POST" id="user-delete-form-{{ forloop.counter }}" action="{% url "domain-user-delete" domain_pk=domain.id user_pk=item.permission.user.id %}">
              {% csrf_token %}
            </form>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div
      class="usa-sr-only usa-table__announcement-region"
      aria-live="polite"
      ></div>
  {% endif %}

  <a class="usa-button usa-button--unstyled usa-button--with-icon" href="{% url 'domain-users-add' domain_pk=domain.id %}">
    <svg class="usa-icon" aria-hidden="true" focusable="false" role="img" width="24" height="24">
      <use xlink:href="{%static 'img/sprite.svg'%}#add_circle"></use>
    </svg><span class="margin-left-05">Add a domain manager</span>
  </a>
  </section>

  {% if invitations %}
  <section class="section-outlined">
  <h2>Invitations</h2>
  <table class="usa-table usa-table--borderless usa-table--stacked dotgov-table--stacked dotgov-table">
      <caption class="sr-only">Domain invitations</caption>
      <thead>
        <tr>
          <th data-sortable scope="col" role="columnheader">Email</th>
          <th data-sortable scope="col" role="columnheader">Date created</th>
          {% if not portfolio %}<th class="grid-col-2" data-sortable scope="col" role="columnheader">Status</th>{% endif %}
          <th class="grid-col-1" scope="col" role="columnheader"><span class="sr-only">Action</span></th>
        </tr>
      </thead>
      <tbody>
        {% for invitation in invitations %}
        <tr>
          <th scope="row" role="rowheader" data-sort-value="{{ invitation.domain_invitation.user.email }}" data-label="Email">
            {{ invitation.domain_invitation.email }}
            {% if invitation.has_admin_flag %}<span class="usa-tag margin-left-1 bg-primary-dark text-semibold">Admin</span>{% endif %}
          </th>
          <td data-sort-value="{{ invitation.domain_invitation.created_at|date:"U" }}" data-label="Date created">{{ invitation.domain_invitation.created_at|date }} </td>
          {% if not portfolio %}<td data-label="Status">{{ invitation.domain_invitation.status|title }}</td>{% endif %}
          <td>
            {% if invitation.domain_invitation.status == invitation.domain_invitation.DomainInvitationStatus.INVITED %}
            <form method="POST" action="{% url "invitation-cancel" domain_invitation_pk=invitation.domain_invitation.id %}">
              {% csrf_token %}<input type="submit" class="usa-button--unstyled text-no-underline cursor-pointer" value="Cancel">
            </form>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    </section>
  {% endif %}

{% endblock %}  {# domain_content #}
