<tr x-show="showFormId == {{ counter }}">
    <td colspan="5">
        <form method="post" class="usa-form usa-form--extra-large">
            {% csrf_token %}
            {% for field in form %}
              {% if field.name != "type_field" %}
                 {{ field.label_tag }}
                 {{ field }}
               {%endif%}
            {% endfor %}
       
             <button
        type="reset"
        class="usa-button usa-button--outline"
        x-on:click="showFormId = null"
    >
        Cancel
    </button>
    <button
            class="usa-button"
        >
            Save
    </button>
        </form>
    </td>
</tr>

