{% load static field_helpers url_helpers %}
{% load custom_filters %}

{% csrf_token %}
<h3 class="margin-top-0 margin-bottom-0">Add record</h3>

<div
    class="grid-row grid-gap"
>
    <div class="grid-col-3">
        {% input_with_errors form.type %}
    </div>
</div>

<!-- RecordType number goes by this indices in this list ['-Select-', 'A', 'AAAA', 'MX','CNAME', 'PTR', 'TXT'] -->

<div x-cloak x-show="recordType" x-cloak>

    <template x-if="recordType !== 6 && recordType !== 4 ">
        <!-- Only show this for forms that are not txt or mx -->
        <div>
              {% include "dns_record_forms/base_record_form.html" with form=form %}
        </div>
    </template>
    <template x-if="recordType === 4 ">
        <div>
              {% include "dns_record_forms/mx_record_form.html" with form=form %}
        </div>
    </template>
    <template x-if="recordType === 6 ">
        <div>
              {% include "dns_record_forms/txt_record_form.html" with form=form %}
        </div>
    </template>

    <div class="margin-bottom-2">
        {% with add_group_class="usa-form-group--unstyled-error" %}
            {% input_with_errors form.comment %} 
            <div class="usa-character-count__status usa-hint comment-character-count">
            <!-- Hardcorded character limits for the comment field should be removed if/when the dns record model is updated -->
           
            {{ 100|remaining_characters_text:form.comment.value }}
            </div>
    
        {% endwith %}
    </div>

    <button
        type="button"
        id="dnsrecord-add-cancel-button"
        class="usa-button usa-button--outline js-dnsrecord-add-cancel margin-right-105"
    >
        Cancel
    </button>
    <button type="submit" class="usa-button margin-top-5">
            Save
    </button>
</div>
