{% extends "domain_base.html" %}
{% load static field_helpers%}

{% block title %}Suborganization{% if suborganization_name %} | suborganization_name{% endif %} | {% endblock %}

    {% block breadcrumb %}
    <!-- Navigation breadcrumbs -->
        {% include "includes/domain_breadcrumbs.html" %}
    {% endblock breadcrumb %}

    {% block domain_content %}

    <!-- Error message -->
    {% include "includes/form_errors.html" with form=form %}

    <h1>Suborganization</h1>

    <p>
        The name of your suborganization will be publicly listed as the domain registrant. 
    </p>
    <p>
        When this field is blank, the domain registrant will be listed as the overarching organization: {{ portfolio }}.
    </p>
    <p>
        If you don’t see your suborganization in the menu or need to edit one of the options, 
        please contact <a href="mailto:help@get.gov" class="usa-link">help@get.gov</a>.
    </p>

    {% if has_any_domains_portfolio_permission and has_edit_portfolio_permission %}
        <form class="usa-form usa-form--large" method="post" novalidate id="form-container">
            {% csrf_token %}
            {% input_with_errors form.sub_organization %}
            <button type="submit" class="usa-button">Save</button>
        </form>
    {% else %}
        {% with description="The suborganization for this domain can only be updated by a organization administrator."%}
            {% include "includes/input_read_only.html" with field=form.sub_organization value=suborganization_name label_description=description%}
        {% endwith %}
    {% endif %}
{% endblock %}
