    <!-- TODO: Remove conditional after we have a CTA for the analyst to set up dns hosting -->
    {% if nameservers %}
    <table class="usa-table usa-table--borderless usa-table--stacked dotgov-table dotgov-table--stacked">
        <caption class="sr-only">Your nameservers</caption>
          <thead>
                <tr>
                    <th scope="col" role="columnheader">Name servers</th>
                </tr>
            </thead>
            <tbody>
              {% for nameserver in nameservers%}
                <tr>
                    <td data-label="nameservers">
                        {{ nameserver }}
                    </td>
                </tr>
              {% endfor %}

            </tbody>
         
    </table>
    {% endif %}



