{% extends "domain_base.html" %}
{% load static field_helpers%}

{% block title %}Suborganization{% endblock %}

{% block domain_content %}
    {# this is right after the messages block in the parent template #}
    {% include "includes/form_errors.html" with form=form %}

    <h1>Organization name and mailing address </h1>

    <p>
        The name of your suborganization will be publicly listed as the domain registrant. 
        This list of suborganizations has been populated the .gov program. 
        If you believe there is an error please contact <a href="mailto:help@get.gov" class="usa-link">help@get.gov</a>.
    </p>

    {% include "includes/required_fields.html" %}
    <form class="usa-form usa-form--large" method="post" novalidate id="form-container">
        {% csrf_token %}
        {% input_with_errors form.sub_organization %}
        <button type="submit" class="usa-button">Save</button>
    </form>

{% endblock %}
