{% extends "domain_base.html" %}
{% load static field_helpers url_helpers %}

{% block title %}Senior official | {{ domain.name }} | {% endblock %}

{% block breadcrumb %}
  <!-- Navigation breadcrumbs -->
  <nav class="usa-breadcrumb padding-top-0" aria-label="Domain breadcrumb">
    <ol class="usa-breadcrumb__list">
      <li class="usa-breadcrumb__list-item">
        <a href="{% url 'home' %}" class="usa-breadcrumb__link"><span>Domains</span></a>
      </li>
      <li class="usa-breadcrumb__list-item">
        <a href="{% url 'domain' domain_pk=domain.id %}" class="usa-breadcrumb__link"><span>{{ domain.name }}</span></a>
      </li>
      <li class="usa-breadcrumb__list-item usa-current" aria-current="page">
        <span>Senior official</span>
      </li>
    </ol>
  </nav>
  {% endblock breadcrumb %}

{% block domain_content %}
  {% if generic_org_type == "federal" or generic_org_type == "tribal" %}
    {% include "includes/senior_official.html" with can_edit=False include_read_more_text=True %}
  {% else %}
    {% include "includes/senior_official.html" with can_edit=True include_read_more_text=True %}
  {% endif %}
{% endblock %}
