{% extends 'base.html' %}
{% load static form_helpers url_helpers %}

{% block title %}{{form_titles|get_item:steps.current}} | Request a .gov | {% endblock %}
{% block content %}
<div class="grid-container grid-container--widescreen">
  <div class="grid-row grid-gap {% if not is_widescreen_centered %}max-width--grid-container{% endif %}">
    <div class="tablet:grid-col-3 grid-col--sidenav">
      {% include 'domain_request_sidebar.html' %}
    </div>
    <div class="tablet:grid-col register-form-step" id="main-content">
        <input type="hidden" class="display-none" id="wizard-domain-request-id" value="{{domain_request_id}}"/>
         {% if portfolio %}
            {% url 'domain-requests' as url%}
          {% else %}
            {% url 'home' as url %}
          {% endif %}
          <nav class="usa-breadcrumb padding-top-0" aria-label="Domain request breadcrumb">
            <ol class="usa-breadcrumb__list">
              <li class="usa-breadcrumb__list-item">
               <a href="{{ url }}" class="usa-breadcrumb__link">
                  <span>
                    {% if portfolio%}Domain requests{%else%}Home{% endif%}
                  </span>
                </a>
              </li>
              <li class="usa-breadcrumb__list-item usa-current" aria-current="page">
                {% if requested_domain__name %}
                <span>{% if not portfolio %} Domain request: {% endif %} {{ requested_domain__name }}</span>
                {% else %}
                <span>New domain request</span>
                {% endif %}
              </li>
            </ol>
          </nav>

{% block form_messages %}
          {% include "includes/form_messages.html" %}
{% endblock %}

{% if pending_requests_message %}
<div class="usa-alert usa-alert--info margin-bottom-3">
  <div class="usa-alert__body">
    {{ pending_requests_message }}
  </div>
</div>
{% endif %}

{% block form_errors %}
        {% comment %}
           to make sense of this loop, consider that 
           a context variable of `forms` contains all
           the forms for this page; each of these
           may be itself a formset and contain additional
           forms, hence `forms.forms`
        {% endcomment %}
        {% for outer in forms %}
          {% if outer|isformset %}
            {% for inner in outer.forms %}
              {% include "includes/form_errors.html" with form=inner %}
            {% endfor %}
          {% else %}
            {% include "includes/form_errors.html" with form=outer %}
          {% endif %}
        {% endfor %}
{% endblock %}

{% block form_page_title %}
        <h1> {{form_titles|get_item:steps.current}} </h1>
{% endblock %}

{% block form_instructions %}
{% endblock %}

<!-- The "No other employees from your organization?" page is a one-field form and should not have the required fields sentence -->
{% if steps.current != "no_other_contacts" %}
  {% block form_required_fields_help_text %}
    {% include "includes/required_fields.html" %}
  {% endblock %}
{% endif %}

        <form id="step__{{steps.current}}" class="usa-form usa-form--large" method="post" novalidate>
          {% csrf_token %}

{% block form_fields %}{% endblock %}

{% block form_buttons %}
          <div class="stepnav">
            {% if steps.prev %}
            <button
              type="submit"
              name="submit_button"
              value="back"
              class="usa-button  usa-button--outline"
            >Back</button>
            {% endif %}
            {% if steps.next %}
            <button
              type="submit"
              name="submit_button"
              value="next"
              class="usa-button"
            >Save and continue</button>
            {% elif pending_requests_exist %}
            <button
              type="submit"
              name="submit_button"
              value="save_and_return"
              class="usa-button usa-button--outline"
            >Save and return to manage your domains</button>
            {% else %}
            <a
              href="#toggle-submit-domain-request"
              class="usa-button usa-button dotgov-button--green"
              aria-controls="toggle-submit-domain-request"
              data-open-modal
              >Submit your domain request</a
            >
            {% endif %}
          </div>
{% endblock %}

        </form>

        <div
          class="usa-modal"
          id="toggle-submit-domain-request"
          aria-labelledby="Are you sure you want to submit a domain request?"
          aria-describedby="Are you sure you want to submit a domain request?"
          data-force-action
        >
          {% if review_form_is_complete %}
            {% include 'includes/modal.html' with modal_heading="You are about to submit a domain request for " domain_name_modal=requested_domain__name modal_description="Once you submit this request, you won’t be able to edit it until we review it. You’ll only be able to withdraw your request." modal_button_id="domain-request-form-submit-button" modal_button_text="Submit request" %}
          {% else %}
            {% include 'includes/modal.html' with modal_heading="Your request form is incomplete" modal_description='This request cannot be submitted yet. Return to the request and visit the steps that are marked as "incomplete."' modal_button_text="Return to request" cancel_button_only=True %}
          {% endif %}
        </div>

        <form method="post" id="submit-domain-request-form">
          {% csrf_token %}
        </form>

{% block after_form_content %}{% endblock %}
    </div> 
  </div>
</div>
{% endblock %}
