{% extends "base.html" %}
{% load static %}

{% block title %}{{ domain.name }} | {% endblock %}

{% block content %}
<div class="grid-container">

  <div class="grid-row grid-gap">
    <div class="tablet:grid-col-3">
      <p class="font-body-md margin-top-0 margin-bottom-2
                text-primary-darker text-semibold"
      >
        <span class="usa-sr-only"> Domain name:</span> {{ domain.name }}
      </p>

      {% if domain.domain_info %}
        {% include 'domain_sidebar.html' %}
      {% endif %}
    </div>

    <div class="tablet:grid-col-9">
      <main id="main-content" class="grid-container">
      {% if not domain.domain_info %}
        <div class="usa-alert usa-alert--error margin-bottom-2">
          <div class="usa-alert__body">
            <h4 class="usa-alert__heading larger-font-sizing">Domain missing domain information</h4>
            <p class="usa-alert__text ">
              You are attempting to manage a domain, {{ domain.name }}, which does not have a domain information object. Please correct this in the admin by editing the domain, and adding domain information, as appropriate.
            </p>
          </div>
        </div>
      {% else %}
        {% if is_analyst_or_superuser and analyst_action == 'edit' and analyst_action_location == domain.pk %}
        <div class="usa-alert usa-alert--warning margin-bottom-2">
          <div class="usa-alert__body">
            <h4 class="usa-alert__heading larger-font-sizing">Attention!</h4>
            <p class="usa-alert__text ">
              You are making changes to a registrant’s domain. When finished making changes, close this tab and inform the registrant of your updates.
            </p>
          </div>
        </div>
        {% endif %}
        {# messages block is under the back breadcrumb link #}
        {% if messages %}
        {% for message in messages %}
        <div class="usa-alert usa-alert--{{ message.tags }} usa-alert--slim margin-bottom-3">
            <div class="usa-alert__body">
            {{ message }}
            </div>
        </div>
        {% endfor %}
        {% endif %}

        {% block domain_content %}

        <h1 class="break-word">Domain Overview</h1>

        {% endblock %}  {# domain_content #}
      {% endif %}
      </main>
    </div>
  </div>
</div>
{% endblock %}  {# content #}
