{% extends 'domain_request_form.html' %}
{% load static url_helpers %}
{% load custom_filters %}

{% block form_required_fields_help_text %}
{# there are no required fields on this page so don't show this #}
{% endblock %}

{% block form_page_title %}
  <span class="display-flex flex-align-start maxw-mobile-lg"> 
    <img 
        class= "margin-right-105" 
        src="{%static 'img/registrar/dotgov_review_magnify.svg' %}" 
        alt=""
        width="72"
        />
    <h1> Review and submit your domain request </h1>
  </span>
{% endblock %}

{% block form_fields %}
  {% include "includes/domain_request_review_steps.html" with is_editable=True %}
  {% comment %} 
  TODO - uncomment
  {% if not portfolio %}
    {% include "includes/domain_request_review_steps.html" with is_editable=True %}
  {% else %}
    {% include "includes/portfolio_domain_request_review_steps.html" with is_editable=True %}
  {% endif %} {% endcomment %}
{% endblock %}
