{% extends "dashboard_base.html" %}

{% block title %}Domain {{ domain.name }}{% endblock %}

{% block content %}
<div class="grid-container">
  <div class="grid-row grid-gap">
    <div class="grid-col-3">
      {% include 'domain_sidebar.html' %}
    </div>

    <div class="grid-col-9">
      <main id="main-content" class="grid-container">

	  <h1>Domain {{ domain.name }}</h1>

	  {% block domain_content %}
	  {% endblock %}  {# domain_content #}

	  </main>
    </div>
  </div>
</div>
{% endblock %}  {# content #}
