{% extends "domain_base.html" %}
{% load static field_helpers url_helpers %}

{% block title %}DNS | {{ domain.name }} | {% endblock %}

{% block domain_content %}

    {% include "includes/form_errors.html" with form=form %}

    <h1>Add DNS records</h1>

    <div x-data="{ show_form: false }">
        <button
        class="usa-button"
        type="button"
        x-on:click="show_form = true"
        >
            Add record
        </button>
        <form 
            class="usa-form usa-form--large"
            method="post"
            novalidate id="form-container"
            x-cloak
            x-show="show_form"
        >
            {% csrf_token %}

            <fieldset class="usa-fieldset">
                <h2>Add record</h2>
                {% input_with_errors form.name %}    
                <div class="grid-row grid-gap">
                    <div class="grid-col-8">
                        {% input_with_errors form.content %}
                    </div>
                    <div class="grid-col-4">
                        {% input_with_errors form.ttl %}        
                    </div>
                </div>
            
                {% input_with_errors form.comment %}
            </fieldset>

            <button
                    type="submit"
                    class="usa-button"
                >
                    Submit record
            </button>
            <button
                type="button"
                class="usa-button usa-button--outline"
                x-on:click="show_form = false"
            >
                Cancel
            </button>
        </form>
        
    </div>
    
    {% if dns_record %}
    <p>DNS RECORD: {{ dns_record }} </p>
    {% endif %}
{% endblock %}  {# domain_content #}