{% extends 'domain_request_form.html' %}
{% load field_helpers url_helpers static %}

{% block form_instructions %}
  <p>If your domain request is approved, the name of your organization and your city/state will be listed in <a href="{% public_site_url 'about/data/' %}" target="_blank">.gov’s public data.</a></p>  

  <h2>What is the name and mailing address of the organization you represent?</h2>

  <p>Your organization might be part of a larger entity. If so, enter the name of your part of the larger entity. </p>

{% endblock %}


{% block form_fields %}
  <fieldset class="usa-fieldset">
    <legend class="usa-sr-only">
      What is the name and mailing address of your organization?
    </legend>

    {% if is_federal %}
      {% with attr_required=True %}
        {% input_with_errors forms.0.federal_agency %}
      {% endwith %}
      <p class="font-body-xs text-base-darker margin-top-1">
        Don’t see your agency listed? Its domains may be managed through <a href="{% public_site_url 'posts/2025-09-10-announcing-enterprise-mode/' %}" class="usa-link" target="_blank">enterprise mode</a>, which limits who can submit domain requests. <a href="{% public_site_url 'contact' %}" class="usa-link" target="_blank">Contact us</a> for assistance.
      </p>
    {% endif %}

    {% input_with_errors forms.0.organization_name %}

    {% input_with_errors forms.0.address_line1 %}

    {% input_with_errors forms.0.address_line2 %}

    {% input_with_errors forms.0.city %}

    {% input_with_errors forms.0.state_territory %}

    {% with add_class="usa-input--small" sublabel_text="Enter a 5-digit or 9-digit zip code, like 12345 or 12345-6789." %}
      {% input_with_errors forms.0.zipcode %}
    {% endwith %}

    <div id="urbanization-field" class="display-none">
      {% input_with_errors forms.0.urbanization %}
    </div>

  </fieldset>
{% endblock %}
