{% extends "domain_base.html" %}
{% load static field_helpers url_helpers %}

{% block title %}DS Data | {{ domain.name }} | {% endblock %}

{% block domain_content %}
  {% for form in formset %}
    {% include "includes/form_errors.html" with form=form %}
  {% endfor %}

  <h1>DS Data</h1>

  {% if domain.dnssecdata is not None and domain.dnssecdata.keyData is not None %}
  <div class="usa-alert usa-alert--warning usa-alert--slim margin-bottom-3">
    <div class="usa-alert__body">
      <h4 class="usa-alert__heading">Warning, you cannot add DS Data</h4>
      <p class="usa-alert__text">
        You cannot add DS Data because you have already added Key Data. Delete your Key Data records in order to add DS Data.
      </p>
    </div>
  </div>
  {% elif not dnssec_ds_confirmed %}
    <p>In order to enable DNSSEC and add DS records, you must first configure it with your DNS hosting service. Your configuration will determine whether you need to add DS Data or Key Data. Contact your DNS hosting provider if you are unsure which record type to add.</p>
    <form class="usa-form usa-form--large" method="post" novalidate id="form-container">
      {% csrf_token %}
      <button
        type="submit"
        class="usa-button"
        name="confirm-ds"
        >Add DS Data record</button>
    </form>
  {% else %}

  <p>Enter the values given by your DNS provider for DS Data.</p>
  {% include "includes/required_fields.html" %}

  <form class="usa-form usa-form--extra-large" method="post" novalidate id="form-container">
    {% csrf_token %}
    {{ formset.management_form }}

    {% for form in formset %}
    <fieldset class="ds-record">

      <legend class="sr-only">DS Data record {{forloop.counter}}</legend>

      <h2 class="margin-top-0">DS Data record {{forloop.counter}}</h2>

      <div class="grid-row grid-gap-2 flex-end">
        <div class="tablet:grid-col-4">
          {% with attr_required=True add_group_class="usa-form-group--unstyled-error" %}
            {% input_with_errors form.key_tag %}
          {% endwith %}
        </div>
        <div class="tablet:grid-col-4">
          {% with attr_required=True add_group_class="usa-form-group--unstyled-error" %}
            {% input_with_errors form.algorithm %}
          {% endwith %}
        </div>
        <div class="tablet:grid-col-4">
          {% with attr_required=True add_group_class="usa-form-group--unstyled-error" %}
            {% input_with_errors form.digest_type %}
          {% endwith %}
        </div>
      </div>

      <div class="grid-row">
        <div class="grid-col">
          {% with attr_required=True add_group_class="usa-form-group--unstyled-error" %}
            {% input_with_errors form.digest %}
          {% endwith %}
        </div>
      </div>

      <div class="grid-row margin-top-1">
        <div class="grid-col">
          <button type="button" class="usa-button usa-button--unstyled display-block float-right-tablet delete-record">
            <svg class="usa-icon" aria-hidden="true" focusable="false" role="img" width="24" height="24">
              <use xlink:href="{%static 'img/sprite.svg'%}#delete"></use>
            </svg><span class="margin-left-05">Delete</span>
          </button>
        </div>
      </div>

    </fieldset>
    {% endfor %}

    <button type="button" class="usa-button usa-button--unstyled display-block" id="add-ds-form">
      <svg class="usa-icon" aria-hidden="true" focusable="false" role="img" width="24" height="24">
        <use xlink:href="{%static 'img/sprite.svg'%}#add_circle"></use>
      </svg><span class="margin-left-05">Add new record</span>
    </button>

    <button
          type="submit"
          class="usa-button"
      >Save
    </button>
  </form>

  <form aria-label="form to undo changes to the DS records">
    <button
          type="submit"
          class="usa-button usa-button--outline btn-cancel"
          name="btn-cancel-click"
          aria-label="Reset the data in the DS records to the registry state (undo changes)"
      >Cancel
    </button>
  </form>
  {% endif %}
{% endblock %}  {# domain_content #}
