{% extends "domain_base.html" %}
{% load static field_helpers %}

{% block title %}Your contact information | {{ domain.name }} | {% endblock %}

{% block domain_content %}
  {% include "includes/form_errors.html" with form=form %}

  <h1>Your contact information</h1>

<p>If you’d like us to use a different name, email, or phone number you can make those changes below. <strong>Updating your contact information here will update the contact information for all domains in your account.</strong> Changing your information here won’t affect your Login.gov account information. The contact information you provide here won’t be made public and will only be used for the .gov program.
</p>

  {% include "includes/required_fields.html" %}

  <form class="usa-form usa-form--large" method="post" novalidate id="form-container">
    {% csrf_token %}

    {% input_with_errors form.first_name %}

    {% input_with_errors form.middle_name %}

    {% input_with_errors form.last_name %}

    {% input_with_errors form.title %}

    {% input_with_errors form.email %}
    
    {% input_with_errors form.phone %}

    <button
      type="submit"
      class="usa-button"
    >Save</button>
  </form>

{% endblock %}  {# domain_content #}
