{% extends 'base.html' %}
{% load static form_helpers url_helpers %}

{% block title %} Start a request | {% endblock %}

{% block content %}
<main id="main-content" class="grid-container grid-container--widescreen">
    <div class="grid-row {% if not is_widescreen_centered %}max-width--grid-container{% endif %}">
      <div class="grid-col desktop:grid-offset-2 desktop:grid-col-8">
          <nav class="usa-breadcrumb padding-top-0" aria-label="Domain request breadcrumb">
            <ol class="usa-breadcrumb__list">
              <li class="usa-breadcrumb__list-item">
                <a href="{% url 'home' %}"  class="usa-breadcrumb__link">
                  <span>
                    {% if portfolio%}Domain requests{%else%}Home{% endif%}
                  </span>
                </a>
              </li>
              <li class="usa-breadcrumb__list-item usa-current" aria-current="page">
                {% if requested_domain__name %}
                <span>{% if not portfolio %} Domain request: {% endif %} {{ requested_domain__name }}</span>
                {% else %}
                <span>New domain request</span>
                {% endif %}
              </li>
            </ol>
          </nav>

      <form class="usa-form usa-form--extra-large" method="post" novalidate>
          {% csrf_token %}

          <h1>You’re about to start your .gov domain request.</h1>
          <p>You don’t have to complete the process in one session. You can save what you enter and come back to it when you’re ready.</p>
          {% if portfolio %}
          <p>We’ll use the information you provide to verify your domain request meets our guidelines.</p>
          {% else %}
          <p>We’ll use the information you provide to verify your organization’s eligibility for a .gov domain. We’ll also verify that the domain you request meets our guidelines.</p>
          {% endif %}
          <h2>Time to complete the form</h2>
          <p>If you have all the information you need,
            completing your domain request might take around 15 minutes.</p>
          <h2>How we’ll reach you</h2>
          <p>While reviewing your domain request, we may need to reach out with questions. We’ll also email you when we complete our review. If the contact information below is not correct, visit <a href="{% url 'user-profile' %}?redirect=domain-request:start" class="usa-link">your profile</a> to make updates.</p>
          {% include "includes/profile_information.html" with user=user%}
          

  {% block form_buttons %}
          <div class="stepnav">
              <button
                type="submit"
                name="submit_button"
                value="intro_acknowledge"
                class="usa-button"
              >Continue to request</button>
          </div>
  {% endblock %}

          </form>

    <div class="caption margin-top-5"><a href="{% public_site_url 'privacy-policy#pra' %}" target="_blank" rel="noopener noreferrer" class="usa-link">Paperwork Reduction Act statement</a> (OMB control number: 1670-0049; expiration date: 10/31/2026)</div>
    </div>
</main>
{% endblock %}
