{% extends "domain_base.html" %}
{% load static %}

{% block title %}User management{% endblock %}

{% block domain_content %}
  <h1>User management</h1>

  {% if domain.permissions %}
  <section class="dashboard">
  <table class="usa-table usa-table--borderless usa-table--stacked dotgov-table--stacked dotgov-table">
    <h2 class> Active users </h2>
    <caption class="sr-only">Domain users</caption>
    <thead>
      <tr>
        <th data-sortable scope="col" role="columnheader">Email</th>
        <th data-sortable scope="col" role="columnheader">Role</th>
      </tr>
    </thead>
    <tbody>
      {% for permission in domain.permissions.all %}
      <tr>
        <th scope="row" role="rowheader" data-sort-value="{{ user.email }}" data-label="Email">
          {{ permission.user.email }}
        </th>
        <td data-label="Role">{{ permission.role|title }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div
      class="usa-sr-only usa-table__announcement-region"
      aria-live="polite"
      ></div>
  {% endif %}

  <a class="usa-button usa-button--unstyled" href="{% url 'domain-users-add' pk=domain.id %}">
    <svg class="usa-icon" aria-hidden="true" focusable="false" role="img" width="24" height="24">
      <use xlink:href="{%static 'img/sprite.svg'%}#add_circle"></use>
    </svg><span class="margin-left-05">Add another user</span>
  </a>
  </section>

  {% if domain.invitations.exists %}
  <section class="dashboard">
  <h2>Invitations</h2>
  <table class="usa-table usa-table--borderless usa-table--stacked dotgov-table--stacked dotgov-table">
      <caption class="sr-only">Domain invitations</caption>
      <thead>
        <tr>
          <th data-sortable scope="col" role="columnheader">Email</th>
          <th data-sortable scope="col" role="columnheader">Date created</th>
          <th data-sortable scope="col" role="columnheader">Status</th>
          <th scope="col" role="columnheader"><span class="sr-only">Action</span></th>
        </tr>
      </thead>
      <tbody>
        {% for invitation in domain.invitations.all %}
        <tr>
          <th scope="row" role="rowheader" data-sort-value="{{ user.email }}" data-label="Email">
            {{ invitation.email }}
          </th>
          <td data-sort-value="{{ invitation.created_at|date:"U" }}" data-label="Date created">{{ invitation.created_at|date }} </td>
          <td data-label="Status">{{ invitation.status|title }}</td>
          <td><form method="POST" action="{% url "invitation-delete" pk=invitation.id %}">
            {% csrf_token %}<input type="submit" class="usa-button--unstyled" value="Cancel">
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    </section>
  {% endif %}

{% endblock %}  {# domain_content #}
