{% extends 'domain_request_form.html' %}
{% load field_helpers %}

{% block form_instructions %}
  <p>You aren't authorized to continue with this domain request. Federal agencies limit who can submit requests on their behalf. Coordinate with your organization's CIO office to determine what you should do next.</p>
  <p>If you have questions or need further assistance, <a href="https://get.gov/contact/">contact us</a>.</p>
{% endblock %}

{% block form_required_fields_help_text %}
{# commented out so it does not appear on this page #}
{% endblock %}

{% block form_fields %}
  {# No form fields on this page #}
{% endblock %}

{% block form_buttons %}
  <div class="stepnav">
    {% if steps.prev %}
      <button
        type="submit"
        name="submit_button"
        value="back"
        class="usa-button usa-button--outline"
      >Back</button>
    {% endif %}
    <a href="{% url 'home' %}" class="usa-button">Exit request form</a>
  </div>
{% endblock %}