{% extends "domain_base.html" %}
{% load static url_helpers %}
{% load custom_filters %}


  {% block breadcrumb %}
  <!-- Navigation breadcrumbs -->
    {% include "includes/domain_breadcrumbs.html" %}
  {% endblock breadcrumb %}

{% block domain_content %}
  {{ block.super }}
  <div class="margin-top-2 tablet:grid-col-10">
    <h2 class="string-wrap margin-top-2">{{ domain.name }}</h2>
    <div
        class="usa-summary-box padding-y-2 margin-bottom-1"
        role="region"
        aria-labelledby="summary-box-key-information"
    >
      <div class="usa-summary-box__body">
        <div class="usa-summary-box__text padding-top-0"
        > 
          <p class="font-sans-md margin-top-0 margin-bottom-05 text-primary-darker">
            <strong>Status:</strong>
            {# UNKNOWN domains would not have an expiration date and thus would show 'Expired' #}
            {% if domain_deletion_flag and domain.days_on_hold >= 0 %}
              On Hold
            {% elif domain.is_expired and domain.state != domain.State.UNKNOWN %}
              Expired
            {% elif domain.is_expiring %}
              Expiring soon
            {% elif domain.state == domain.State.UNKNOWN or domain.state == domain.State.DNS_NEEDED %}
              DNS needed
            {% else %}
              {{ domain.state|title }}
            {% endif %}
          </p>

          {% if domain.get_state_help_text %}
            <p class="margin-y-0 text-primary-darker">
              {% if domain_deletion_flag and domain.days_on_hold >= 0 %}
                This domain is administratively paused, so it can’t be edited and won’t resolve in DNS. Contact help@get.gov for details.
              {% elif domain.is_expired and is_domain_manager %}
                This domain has expired, but it is still online. 
                {% url 'domain-renewal' domain_pk=domain.id as url %}
                <a href="{{ url }}" class="usa-link">Renew to maintain access.</a>
              {% elif domain.is_expiring and is_domain_manager %}
                This domain will expire soon. 
                {% url 'domain-renewal' domain_pk=domain.id as url %}
                <a href="{{ url }}" class="usa-link">Renew to maintain access.</a>
              {% elif domain.is_expiring and is_portfolio_user %}
                This domain will expire soon. Contact one of the listed domain managers to renew the domain.
              {% elif domain.is_expired and is_portfolio_user %}
                This domain has expired, but it is still online. Contact one of the listed domain managers to renew the domain.
              {% else %}
                {{ domain.get_state_help_text }}
              {% endif %}
            </p>
          {% endif %}
          </div>
      </div>
    </div>    

    {% include "includes/domain_dates.html" %}

    {% if analyst_action != 'edit' or analyst_action_location != domain.pk %}
      {% if is_portfolio_user and not is_domain_manager %}
      <div class="usa-alert usa-alert--info usa-alert--slim">
        <div class="usa-alert__body">
          {% if not is_portfolio_admin %}
          <p class="usa-alert__text ">
            You don't have access to manage {{domain.name}}. If you need to make updates, contact one of the listed domain managers.
          </p>
          {% else %}
          {% url 'member' member_pk=user_portfolio_permission.id as edit_member_url %}
          <p class="usa-alert__text ">
            You don't have access to manage {{domain.name}}. If you need to become a domain manager, edit the domain assignments in your <a href="{{edit_member_url}}">member profile</a>.
          </p>
          {% endif %}
        </div>
      </div>
      {% endif %}
    {% endif %}


    {% url 'domain-dns-nameservers' domain_pk=domain.id as url %}
    {% if domain.nameservers|length > 0 %}
      {% include "includes/summary_item.html" with title='DNS name servers' domains='true' value=domain.nameservers list='true' edit_link=url editable=is_editable %}
    {% else %}
      {% if is_editable %}
      <h3 class="margin-top-3"> DNS name servers </h3>
      <p> No DNS name servers have been added yet. Before your domain can be used we’ll need information about your domain name servers.</p>
      <a class="usa-button margin-bottom-1" href="{{url}}"> Add DNS name servers </a>
      {% else %}
        {% include "includes/summary_item.html" with title='DNS name servers' domains='true' value='' edit_link=url editable=is_editable %}
      {% endif %}
    {% endif %}
    
    {% url 'domain-dns-dnssec' domain_pk=domain.id as url %}
    {% if domain.dnssecdata is not None %}
      {% include "includes/summary_item.html" with title='DNSSEC' value='Enabled' edit_link=url editable=is_editable %}
    {% else %}
      {% include "includes/summary_item.html" with title='DNSSEC' value='Not enabled' edit_link=url editable=is_editable %}
    {% endif %}
    
    {% if portfolio %}
      {% if has_any_domains_portfolio_permission and has_edit_portfolio_permission %}
        {% url 'domain-suborganization' domain_pk=domain.id as url %}
        {% include "includes/summary_item.html" with title='Suborganization' value=domain.domain_info.sub_organization edit_link=url editable=is_editable|and:has_edit_portfolio_permission %}
    {% elif has_any_domains_portfolio_permission and has_view_portfolio_permission %}
        {% url 'domain-suborganization' domain_pk=domain.id as url %}
        {% include "includes/summary_item.html" with title='Suborganization' value=domain.domain_info.sub_organization edit_link=url editable=is_editable|and:has_view_portfolio_permission view_button=True %}
        {% endif %}
    {% else %}
      {% url 'domain-org-name-address' domain_pk=domain.id as url %}
      {% include "includes/summary_item.html" with title='Organization' value=domain.domain_info address='true' edit_link=url editable=is_editable %}
      {% url 'domain-senior-official' domain_pk=domain.id as url %}
      {% include "includes/summary_item.html" with title='Senior official' value=domain.domain_info.senior_official contact='true' edit_link=url editable=is_editable %}
    {% endif %}

    {% url 'domain-security-email' domain_pk=domain.id as url %}
    {% if domain.state != domain.State.DELETED %}
      {% if security_email is not None and security_email not in hidden_security_emails%}
        {% include "includes/summary_item.html" with title='Security email' value=security_email edit_link=url editable=is_editable %}
      {% else %}
        {% include "includes/summary_item.html" with title='Security email' value='None provided' edit_link=url editable=is_editable %}
      {% endif %}
    {% endif %}
    {% url 'domain-users' domain_pk=domain.id as url %}
    {% if portfolio %}
      {% include "includes/summary_item.html" with title='Domain managers' domain_permissions=True value=domain edit_link=url editable=is_editable %}
    {% else %}
      {% include "includes/summary_item.html" with title='Domain managers' list=True users=True value=domain.permissions.all edit_link=url editable=is_editable %}
    {% endif %}

  </div>
{% endblock %}  {# domain_content #}