{% extends 'domain_request_form.html' %}
{% load field_helpers %}
{% load url_helpers %}

{% block form_instructions %}
  <p>Please read this page. Check the box at the bottom to show that you agree to the requirements for operating a .gov domain.</p>
  <p>The .gov domain space exists to support a broad diversity of government missions. Generally, we don’t review or audit how government organizations use their registered domains. However, misuse of a .gov domain can reflect upon the integrity of the entire .gov space. There are categories of misuse that are statutorily prohibited or abusive in nature.</p>


  <h2>What you can’t do with a .gov domain</h2>

  <h3>Commercial purposes</h3>

  <p>A .gov domain must not be used for <a class="usa-link" rel="noopener noreferrer" target="_blank" href="{% public_site_url 'help/faq#commercial-purposes' %}">commercial purposes</a>, such as advertising that benefits private individuals or entities.</p>

  <h3>Political campaigns</h3>

  <p>A .gov domain must not be used for political campaign purposes, such as the website for a candidate seeking elected office.</p>

  <h3>Illegal content</h3>

  <p>A .gov domain must not be used to distribute or promote material whose distribution violates applicable law.</p>

  <h3>Malicious cyber activity </h3>

  <p>A .gov domain must not distribute malware, host open redirects, or engage in malicious cyber activity.</p>

  <h2>What .gov domain registrants must do</h2>

  <h3>Keep your contact information updated</h3>

  <p>.Gov domain registrants must maintain accurate contact information in the .gov registrar. You will be asked to verify it as part of the renewal process.</p>

  <h3>Be responsive if we contact you</h3>

  <p>.Gov domain registrants must respond promptly to communications about potential violations to these requirements.</p>

  <h2>Failure to comply could result in domain suspension or termination</h2>

  <p>We may need to suspend or terminate a domain registration for violations of these requirements. When we discover a violation, we’ll make reasonable efforts to contact a registrant, including emails or phone calls to:
    <ul class="usa-list"> 
      <li>Domain contacts</li>
      <li>The senior official</li>
      <li>The government organization, a parent organization, or affiliated entities</li>
    </ul>
  </p>

  <p>We understand the critical importance of availability for a .gov domain. Suspending or terminating a .gov domain is reserved for prolonged, unresolved, serious violations where the registrant is non-responsive. We'll make extensive efforts to contact registrants and to identify potential solutions. We'll make reasonable accommodations for remediation timelines based on the severity of the issue.</p>

  <h2>Domain renewal</h2>
  
  <p>.Gov domains are registered for a one-year period. To renew the domain, you’ll be asked to verify your contact information and some details about the domain.</p>
  
  <p>Domains that expire which do not have DNS name servers will be deleted immediately. Otherwise, we’ll make an extensive effort to contact your organization before placing the domain on hold or deleting it.</p>
  {% endblock %}

  {% block form_required_fields_help_text %}
  {# commented out so it does not appear on this page #}
  {% endblock %}
  
  {% block form_fields %}
    {% if requires_feb_questions %}
      <h2>Required and prohibited activities</h2>
      <h3>Prohibitions on non-governmental use</h3>

      <p>Agencies may not use a .gov domain name:
        <ul class="usa-list"> 
          <li>On behalf of a non-federal executive branch entity</li>
          <li>For a non-governmental purpose</li>
        </ul>
      </p>

      <h2>Acknowledgement of .gov domain requirements</h2>
      {% input_with_errors forms.0.is_policy_acknowledged %}
    {% else %}
      <fieldset class="usa-fieldset">
        <legend>
          <h2>Acknowledgement of .gov domain requirements</h2>
        </legend>

        {% input_with_errors forms.0.is_policy_acknowledged %}
      </fieldset>
    {% endif %}
{% endblock %}
