{% extends "base.html" %}
{% load static %}
{% load static url_helpers %}


{% block title %}{{ domain.name }} | {% endblock %}

{% block content %}
<div class="grid-container grid-container--widescreen">

  <div class="grid-row grid-gap {% if not is_widescreen_centered %}max-width--grid-container{% endif %}">
    <div class="tablet:grid-col-3 grid-col--sidenav">
      <p class="font-body-md margin-top-0 margin-bottom-2
                text-primary-darker text-semibold string-wrap"
      >
        <span class="usa-sr-only"> Domain name:</span> {{ domain.name }}
      </p>

      {% if domain.domain_info %}
        {% include 'domain_sidebar.html' %}
      {% endif %}
    </div>

      <main id="main-content" class="grid-container tablet:grid-col">

        <!-- Navigation breadcrumbs -->
        {% block breadcrumb %}
        {% endblock breadcrumb %}

        <!-- Alert messages -->
      {% if not domain.domain_info %}
        <div class="usa-alert usa-alert--error margin-bottom-2">
          <div class="usa-alert__body">
            <h4 class="usa-alert__heading">Domain missing domain information</h4>
            <p class="usa-alert__text ">
              You are attempting to manage a domain, {{ domain.name }}, which does not have a domain information object. Please correct this in the admin by editing the domain, and adding domain information, as appropriate.
            </p>
          </div>
        </div>
      {% else %}
        {% if is_analyst_or_superuser and analyst_action == 'edit' and analyst_action_location == domain.pk %}
        <div class="usa-alert usa-alert--warning margin-bottom-2">
          <div class="usa-alert__body">
            <h4 class="usa-alert__heading">Attention!</h4>
            <p class="usa-alert__text ">
              You are making changes to a registrant’s domain. When finished making changes, close this tab and inform the registrant of your updates.
            </p>
          </div>
        </div>
        {% endif %}
        {# messages block is under the back breadcrumb link #}
        {% if messages %}
        {% for message in messages %}
        <div class="usa-alert usa-alert--{{ message.tags }} usa-alert--slim margin-bottom-2" role="alert">
            <div class="usa-alert__body">
            {{ message }}
            </div>
        </div>
        {% endfor %}
        {% endif %}

        {% block domain_content %}
        {% if request.path|endswith:"renewal"%}
        <h1>Renew {{domain.name}} </h1>
        {% elif request.path|endswith:"delete"%}
        <h1>Request to delete {{domain.name}} </h1>
        {% elif request.path|endswith:"delete"%}
        <h1>Delete {{domain.name}} </h1>
        {%else%}
        <h1 class="break-word">Domain overview</h1> 
        {% endif%}

        {% endblock %}  {# domain_content #}
      {% endif %}
      </main>
  </div>
</div>
{% endblock %}  {# content #}