{% extends 'domain_request_form.html' %}
{% load field_helpers url_helpers %}

{% block form_instructions %}
  <p>.Gov domains are intended for public use. Domains will not be given to organizations that only want to reserve a domain name (defensive registration) or that only intend to use the domain internally (as for an intranet).</p> 
<p>Read about <a class="usa-link" rel="noopener noreferrer" target="_blank" href="{% public_site_url 'domains/requirements/' %}">activities that are prohibited on .gov domains.</a></p>
<h2>What is the purpose of your requested domain?</h2>
<p>Describe how you’ll use your .gov domain. Will it be used for a website, email, or something else?</p>
{% endblock %}

{% block form_required_fields_help_text %}
{# commented out so it does not appear on this page #}
{% endblock %}

{% block form_fields %}
    {% with attr_maxlength=2000 add_label_class="usa-sr-only" %}
      {% input_with_errors forms.0.purpose %}
    {% endwith %}
{% endblock %}
