{% load static url_helpers %}

<div class="margin-bottom-4 tablet:margin-bottom-0">
  <nav aria-label="Domain sections">
    <ul class="usa-sidenav">

      {% with url_name="domain" %}
        {% include "includes/domain_sidenav_item.html" with item_text="Domain overview" %}
      {% endwith %}

      {% if is_editable %}

      {% if not portfolio %}
        {% with url_name="domain-org-name-address" %}
          {% include "includes/domain_sidenav_item.html" with item_text="Organization" %}
        {% endwith %}
      {% endif %}    

      <li class="usa-sidenav__item">
        {% url 'domain-dns' domain_pk=domain.id as url %}
        <a href="{{ url }}" {% if request.path|startswith:url %}class="usa-current"{% endif %}">
          DNS
        </a>
        {% if request.path|startswith:url %}
        <ul class="usa-sidenav__sublist">
          <li class="usa-sidenav__item">
            {% url 'domain-dns-nameservers' domain_pk=domain.id as url %} 
            <a href="{{ url }}"
              {% if request.path == url %}class="usa-current"{% endif %}
            >
                Name servers
            </a>
          </li>

          <li class="usa-sidenav__item">
            {% url 'domain-dns-dnssec' domain_pk=domain.id as url %}
            <a href="{{ url }}"
              {% if request.path|startswith:url %}class="usa-current"{% endif %}
            >
                DNSSEC
            </a>
            {% if request.path|startswith:url %}
              {% if domain.dnssecdata is not None or request.path|startswith:url and request.path|endswith:'dsdata' %}
              <ul class="usa-sidenav__sublist">
                <li class="usa-sidenav__item">
                  {% url 'domain-dns-dnssec-dsdata' domain_pk=domain.id as url %}
                  <a href="{{ url }}"
                    {% if request.path == url %}class="usa-current"{% endif %}
                  >
                      DS data
                  </a>
                </li>
              </ul>
              {% endif %}
            {% endif %}
          </li>
        </ul>
        {% endif %}
      </li>

      
      {% if portfolio %}
          {% comment %} Only show this menu option if the user has the perms to do so {% endcomment %}
          {% if has_any_domains_portfolio_permission and has_view_portfolio_permission %}
            {% with url_name="domain-suborganization" %}
              {% include "includes/domain_sidenav_item.html" with item_text="Suborganization" %}
            {% endwith %}
          {% endif %}
      {% else %}
        {% with url_name="domain-senior-official" %}
          {% include "includes/domain_sidenav_item.html" with item_text="Senior official" %}
        {% endwith %}
      {% endif %}

      {% with url_name="domain-security-email" %}
        {% include "includes/domain_sidenav_item.html" with item_text="Security email" %}
      {% endwith %}

      {% with url_name="domain-users" %}
        {% include "includes/domain_sidenav_item.html" with item_text="Domain managers" %}
      {% endwith %}

      {% if domain_deletion %}
        {% if is_domain_manager %}
          {% include "includes/domain_advanced_settings_nav.html" %}
        {% endif %}
      {% endif %}
    
      {% if is_domain_manager and domain.is_expiring and not domain_deletion or is_domain_manager and domain.is_expired and not domain_deletion %}
        {% with url_name="domain-renewal" %}
          {% include "includes/domain_sidenav_item.html" with item_text="Renewal form" %}
        {% endwith %}
      {% endif %}
      
      {% endif %}
    </ul>
  </nav>
</div>