
<form method="post" id="exportDataForm" action="{% url 'admin_export_data' %}">
    {% csrf_token %}

    <p>The context test 1: {{ test }}</p>

    {% for field in form %}
        <div class="form-field">
            {{ field.label_tag }}
            {{ field }}
            {% if field.errors %}
                <div class="error">{{ field.errors|join:", " }}</div>
            {% endif %}
        </div>
    {% endfor %}

    <p>The context test 2: {{ test }}</p>


    <button type="submit">Exportss</button>
</form>