{% extends "base.html" %}
{% load static form_helpers url_helpers field_helpers %}
{% block title %} Finish setting up your profile {% endblock %}

{% block content %}
<div class="grid-container">
    <div class="grid-row grid-gap">
        <div class="tablet:grid-col">
            <main id="main-content" class="grid-container">
                {% include "includes/form_errors.html" with form=form %}
                {% comment %}
                Repurposed from domain_request_form.html
                {% endcomment %}
                {% for outer in forms %}
                    {% if outer|isformset %}
                        {% for inner in outer.forms %}
                            {% include "includes/form_errors.html" with form=inner %}
                        {% endfor %}
                    {% else %}
                        {% include "includes/form_errors.html" with form=outer %}
                    {% endif %}
                {% endfor %}

                <h1>Finish setting up your profile</h1>

                <p>
                    We <a href="{% public_site_url 'domains/requirements/#what-.gov-domain-registrants-must-do' %}">require</a> 
                    that you maintain accurate contact information.
                    The details you provide will only be used to support the administration of .gov and won’t be made public. 
                </p>

                <h2>What contact information should we use to reach you?</h2>
                <p>
                    Review the details below and update any required information. 
                    Note that editing this information won’t affect your Login.gov account information.
                </p>
                {# We use a var called 'remove_margin_top' rather than 'add_margin_top' because most fields use this #}
                {% include "includes/required_fields.html" with remove_margin_top=True %}
                <form id="step__{{steps.current}}" class="usa-form usa-form--largest" method="post" novalidate>
                    {% csrf_token %}
                    <fieldset class="usa-fieldset">
                        <legend class="usa-sr-only">
                            Your contact information
                        </legend>
                        
                        {# TODO: if an error is thrown here or edit clicked, show first last and middle fields #}
                        {# Also todo: consolidate all of the scattered classes into this usa form one #}
                        {% with show_edit_button=True show_readonly=True group_classes="usa-form-readonly padding-top-2" %}
                            {% input_with_errors form.full_name %}
                        {% endwith %}

                        {% with show_edit_button=True show_readonly=True group_classes="usa-form-readonly padding-top-2 display-none" %}
                            {% input_with_errors form.first_name %}
                        {% endwith %}

                        {% with show_edit_button=True show_readonly=True group_classes="usa-form-readonly padding-top-2 display-none" %}
                            {% input_with_errors form.middle_name %}
                        {% endwith %}

                        {% with show_edit_button=True show_readonly=True group_classes="usa-form-readonly padding-top-2 display-none"%}
                            {% input_with_errors form.last_name %}
                        {% endwith %}
                        
                        {# This field doesn't have the readonly button but it has common design elements from it #}
                        {% with show_readonly=True add_class="display-none" group_classes="usa-form-readonly padding-top-2 bold-usa-label" sublabel_text=email_sublabel_text %}
                            {% input_with_errors form.email %}
                        {% endwith %}

                        {% with show_edit_button=True show_readonly=True group_classes="usa-form-readonly padding-top-2" %}
                            {% input_with_errors form.title %}
                        {% endwith %}

                        {% with show_edit_button=True show_readonly=True group_classes="usa-form-readonly padding-top-2" %}
                            {% with add_class="usa-input--medium" %}
                                {% input_with_errors form.phone %}
                            {% endwith %}
                        {% endwith %}

                    </fieldset>
                    <div>

                        {% if confirm_changes %}
                            <button type="submit" name="contact_setup_submit_button" class="usa-button">
                                Save and continue
                            </button>
                        {% else %}
                            <button type="submit" name="contact_setup_save_button" class="usa-button usa-button--outline">
                                Save
                            </button>
                        {% endif %}
                    </div>
                {% block form_fields %}{% endblock %}
            </main>
        </div>
    </div>
</div>

{% endblock content %}

