<html lang="en">
<head>
    <title> Build info - Get.gov</title>
</head>

<body>
    <h1>Build Info</h1>
    {% if git_branch %}
        <p> Running on branch: <strong> {{ git_branch }} </strong></p>
    {% endif %}
    
    {% if git_commit_hash %}
        <p> Commit hash: <strong> {{ git_commit_hash }}</strong></p>
    {% endif %}

    {% if git_tag %}
       <p>  Git tag: <strong>{{ git_tag }}</strong></p>
    {% endif %}

    {% if is_tag %}
        <p> Tag: <strong> {{ is_tag }}</strong></p>
    {% endif %}

    {% if git_ref %}
        <p> Ref: <strong> {{ git_ref }} </strong></p>
    {% endif %}
</body>
