{% extends 'dashboard_base.html' %}

{% load static %}

{% block title %} Home | {% endblock %}

{% block content %}
<main id="main-content" class="grid-container">
{% if user.is_authenticated %}
{# the entire logged in page goes here #}

<div class="tablet:grid-col-11 desktop:grid-col-10 tablet:grid-offset-1">
  {% block messages %}
    {% include "includes/form_messages.html" %}
  {% endblock %}
  <h1>Manage your domains</h2>


  <p class="margin-top-4">
    <a href="{% url 'domain-request:' %}" class="usa-button"
    >
      Start a new domain request
    </a>
  </p>

  <!-- CSRF token -->
  {% csrf_token %}

  <section class="section--outlined domains">
    <div class="grid-row">
      <div class="mobile:grid-col-12 desktop:grid-col-6">
        <h2 id="domains-header flex-6">Domains</h2>
      </div>
      <div class="mobile:grid-col-12 desktop:grid-col-6">
        <section aria-label="Domains search component" class="flex-6 margin-y-2">
          <form class="usa-search usa-search--small" role="search">
            <label class="usa-sr-only" for="domains__search-field">Search</label>
            <input
              class="usa-input"
              id="domains__search-field"
              type="search"
              name="search"
              placeholder="Search domains by name"
            />
            <button class="usa-button" type="submit" id="domains__search-field-submit">
              <img
                src="{% static 'img/usa-icons-bg/search--white.svg' %}"
                class="usa-search__submit-icon"
                alt="Search"
              />
            </button>
          </form>
        </section>
      </div>
    </div>
    <div class="domains__table-wrapper display-none">
      <table class="usa-table usa-table--borderless usa-table--stacked dotgov-table dotgov-table--stacked domains__table">
        <caption class="sr-only">Your registered domains</caption>
        <thead>
          <tr>
            <th data-sortable="name" scope="col" role="columnheader">Domain name</th>
            <th data-sortable="expiration_date" scope="col" role="columnheader">Expires</th>
            <th data-sortable="state_display" scope="col" role="columnheader">Status</th>
            <th 
              scope="col" 
              role="columnheader" 
            >
              <span class="usa-sr-only">Action</span>
            </th>
          </tr>
        </thead>
        <tbody>
          <!-- AJAX will populate this tbody -->
        </tbody>
      </table>
      <div
        class="usa-sr-only usa-table__announcement-region"
        aria-live="polite"
      ></div>
    </div>
    <div class="domains__no-data display-none">
      <p>You don't have any registered domains.</p>
      <p class="maxw-none clearfix">
        <a href="https://get.gov/help/faq/#do-not-see-my-domain" class="float-right-tablet display-flex flex-align-start usa-link" target="_blank">
          <svg class="usa-icon" aria-hidden="true" focusable="false" role="img" width="24">
            <use xlink:href="{%static 'img/sprite.svg'%}#help_outline"></use>
          </svg>
          Why don't I see my domain when I sign in to the registrar?
        </a>
      </p>
    </div>
    <div class="domains__no-search-results display-none">
      <p>Nothing, nada, zilch.</p>
      <p><button class='usa-button usa-button--unstyled domains__reset-button' type='button'>Reset your search</button> or try a different search term.</p>
    </div>
  </section>
  <nav aria-label="Pagination" class="usa-pagination flex-justify" id="domains-pagination">
    <span class="usa-pagination__counter text-base-dark padding-left-2 margin-bottom-1">
      <!-- Count will be dynamically populated by JS -->
    </span>
    <ul class="usa-pagination__list">
      <!-- Pagination links will be dynamically populated by JS -->
    </ul>
  </nav>

  <section class="section--outlined domain-requests">
    <div class="grid-row">
      <div class="mobile:grid-col-12 desktop:grid-col-6">
        <h2 id="domain-requests-header flex-6">Domain requests</h2>
      </div>
      <div class="mobile:grid-col-12 desktop:grid-col-6">
        <section aria-label="Domain requests search component" class="flex-6 margin-y-2">
          <form class="usa-search usa-search--small" role="search">
            <label class="usa-sr-only" for="domain-requests__search-field">Search</label>
            <input
              class="usa-input"
              id="domain-requests__search-field"
              type="search"
              name="search"
              placeholder="Search requests by domain name"
            />
            <button class="usa-button" type="submit" id="domain-requests__search-field-submit">
              <img
                src="{% static 'img/usa-icons-bg/search--white.svg' %}"
                class="usa-search__submit-icon"
                alt="Search"
              />
            </button>
          </form>
        </section>
      </div>
    </div>
    <div class="domain-requests__table-wrapper display-none">
      <table class="usa-table usa-table--borderless usa-table--stacked dotgov-table dotgov-table--stacked domain-requests__table">
        <caption class="sr-only">Your domain requests</caption>
        <thead>
          <tr>
            <th data-sortable="requested_domain__name" scope="col" role="columnheader">Domain name</th>
            <th data-sortable="submission_date" scope="col" role="columnheader">Date submitted</th>
            <th data-sortable="status" scope="col" role="columnheader">Status</th>
            <th scope="col" role="columnheader"><span class="usa-sr-only">Action</span></th>
            <!-- AJAX will conditionally add a th for delete actions -->
          </tr>
        </thead>
        <tbody id="domain-requests-tbody">
          <!-- AJAX will populate this tbody -->
        </tbody>
      </table>
      <div
        class="usa-sr-only usa-table__announcement-region"
        aria-live="polite"
      ></div>
    </div>
    <div class="domain-requests__no-data display-none">
      <p>You haven't requested any domains.</p>
    </div>
    <div class="domain-requests__no-search-results display-none">
      <p>Nothing, nada, zilch.</p>
      <p>Reset your search or try a different search term.</p>
    </div> 
  </section>
  <nav aria-label="Pagination" class="usa-pagination flex-justify" id="domain-requests-pagination">
    <span class="usa-pagination__counter text-base-dark padding-left-2 margin-bottom-1">
      <!-- Count will be dynamically populated by JS -->
    </span>
    <ul class="usa-pagination__list">
      <!-- Pagination links will be dynamically populated by JS -->
    </ul>
  </nav>

  {# Note: Reimplement this after MVP #}
  <!--
  <section class="section--outlined tablet:grid-col-11 desktop:grid-col-10">
    <h2>Archived domains</h2>
    <p>You don't have any archived domains</p>
  </section>
  -->

  <!-- Note: Uncomment below when this is being implemented post-MVP -->
  <!-- <section class="tablet:grid-col-11 desktop:grid-col-10">
    <h2 class="padding-top-1 mobile-lg:padding-top-3"> Export domains</h2>
    <p>Download a list of your domains and their statuses as a csv file.</p>
    <a href="{% url 'todo' %}" class="usa-button usa-button--outline">
      Export domains as csv
    </a>
  </section>
  -->
</div>

{% else %} {# not user.is_authenticated #}
{# the entire logged out page goes here #}

<p><a class="usa-button" href="{% url 'login' %}">
Sign in
</a></p>

{% endif %}

</main>
{% endblock %}
