{% extends 'dashboard_base.html' %}

{% load static %}

{% block title %} Hello {% endblock %}

{% block content %}
<main id="main-content" class="grid-container">
{% if user.is_authenticated %}
{# the entire logged in page goes here #}

<div class="tablet:grid-offset-1 desktop:grid-offset-2">
  <h1>Manage your domains</h2>

  <p><a href="{% url 'application:' %}" class="usa-button">Start a new domain request</a></p>

  <section class="section--outlined tablet:grid-col-11 desktop:grid-col-10">
    <h2>Registered domains</h2>
    {% if domains %}
    <table class="usa-table usa-table--borderless usa-table--stacked dotgov-table dotgov-table--stacked">
      <caption class="sr-only">Your domain applications</caption>
      <thead>
        <tr>
          <th data-sortable scope="col" role="columnheader">Domain name</th>
          <th data-sortable scope="col" role="columnheader">Date created</th>
          <th data-sortable scope="col" role="columnheader">Status</th>
          <th scope="col" role="columnheader"><span class="usa-sr-only">Action</span></th>
        </tr>
      </thead>
      <tbody>
        {% for domain in domains %}
        <tr>
          <th th scope="row" role="rowheader" data-label="Domain name">
            {{ domain.name }}
          </th>
          <td data-sort-value="{{ domain.created_time|date:"U" }}" data-label="Date created">{{ domain.created_time|date }}</td>
          <td data-label="Status">{{ domain.application_status|title }}</td>
          <td>
            <a href="{% url "domain" pk=domain.pk %}">
                Edit <span class="usa-sr-only">{{ domain.name }}</span>
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div
      class="usa-sr-only usa-table__announcement-region"
      aria-live="polite"
    ></div>
    {% else %}
    <p>You don't have any registered domains yet</p>
    {% endif %}
  </section>

  <section class="section--outlined tablet:grid-col-11 desktop:grid-col-10">
    <h2>Active domain requests</h2>
    {% if domain_applications %}
    <table class="usa-table usa-table--borderless usa-table--stacked dotgov-table dotgov-table--stacked">
      <caption class="sr-only">Your domain applications</caption>
      <thead>
        <tr>
          <th data-sortable scope="col" role="columnheader">Domain name</th>
          <th data-sortable scope="col" role="columnheader">Date created</th>
          <th data-sortable scope="col" role="columnheader">Status</th>
          <th scope="col" role="columnheader"><span class="usa-sr-only">Action</span></th>
        </tr>
      </thead>
      <tbody>
        {% for application in domain_applications %}
        <tr>
          <th th scope="row" role="rowheader" data-label="Domain name">
            {{ application.requested_domain.name|default:"New domain request" }}
          </th>
          <td data-sort-value="{{ application.created_at|date:"U" }}" data-label="Date created">{{ application.created_at|date }}</td>
          <td data-label="Status">{{ application.status|title }}</td>
          <td>
            <a href="{% url 'edit-application' application.pk %}">
              {% if application.status == "started" %}
              <svg class="usa-icon" aria-hidden="true" focusable="false" role="img" width="24">
                <use xlink:href="{%static 'img/sprite.svg'%}#edit"></use>
              </svg>
              Edit <span class="usa-sr-only">{{ application.requested_domain.name|default:"New domain request" }} </span>

              {% else %}
              <svg class="usa-icon" aria-hidden="true" focusable="false" role="img" width="24">
                <use xlink:href="{%static 'img/sprite.svg'%}#settings"></use>
              </svg>
              Manage <span class="usa-sr-only">{{application.requested_domain.name}} </span>
              {% endif %}
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div
      class="usa-sr-only usa-table__announcement-region"
      aria-live="polite"
    ></div>
    {% else %}
    <p>You don't have any active domain requests right now</p> 
    {% endif %}
    <p><a href="{% url 'application:' %}" class="usa-button">Start a new domain request</a></p>
  </section>

  <section class="section--outlined tablet:grid-col-11 desktop:grid-col-10">
    <h2>Archived domains</h2>
    <p>You don't have any archived domains</p> 
  </section>

  <section class="tablet:grid-col-11 desktop:grid-col-10">
    <h2 class="padding-top-1 mobile-lg:padding-top-3"> Export domains</h2>
    <p>Download a list of your domains and their statuses as a csv file.</p>
    <a href="{% url 'todo' %}" class="usa-button usa-button--outline">
      Export domains as csv
    </a>
  </section>

</div>

{% else %} {# not user.is_authenticated #}
{# the entire logged out page goes here #}

<p><a class="usa-button" href="{% url 'login' %}">
Sign in
</a></p>

{% endif %}

</main>
{% endblock %}
