{% load static url_helpers %}

<div class="margin-bottom-4 tablet:margin-bottom-0">
  <nav aria-label="">
    <ul class="usa-sidenav">
      <li class="usa-sidenav__item">
        {{ portfolio.organization_name }}
      </li>
      <li class="usa-sidenav__item">
        <a href="{% url 'organization-domains' portfolio.id %}" class="{% if current_path == 'domains' %}usa-current{% endif %}"> 
           Domains
        </a>
      </li>
      <li class="usa-sidenav__item">
        <a href="{% url 'organization-domain-requests' portfolio.id %}" class="{% if current_path == 'domain-requests' %}usa-current{% endif %}"> 
           Domain requests
        </a>
      </li>
      <li class="usa-sidenav__item">
        <a href="#">
          Members
        </a>
      </li>
      <li class="usa-sidenav__item">
        <a href="#">
          Organization
        </a>
      </li>
      <li class="usa-sidenav__item">
        <a href="#">
          Senior official
        </a>
      </li>
    </ul>
  </nav>
</div>
