{% extends 'portfolio_base.html' %}

{% load static %}

{% block title %} Domain requests | {% endblock %}

{% block wrapper_class %}
  {{ block.super }} dashboard
{% endblock %}

{% block portfolio_content %}

<!-- Form messages -->
{% block messages %}
  {% include "includes/form_messages.html" %}
{% endblock messages%}

<div id="main-content">
    <div class="grid-row grid-gap margin-bottom-3">
        <div class="mobile:grid-col-12 tablet:grid-col-6"> 
            <h1 id="domain-requests-header" class="margin-bottom-1">Domain requests</h1>
                <p class="margin-y-0">Domain requests can only be modified by the person who created the request.</p>
        </div>
       
        {% if has_edit_request_portfolio_permission %}
            <div class="mobile:grid-col-12 tablet:grid-col-6">
                <p class="float-right-tablet tablet:margin-y-0">
                    <button data-href="{% url 'domain-request:start' %}" class="usa-button use-button-as-link"
                    >
                        Start a new domain request
                    </button>
                </p>
            </div>
        {% endif %}
    </div>

    
    
    {% include "includes/domain_requests_table.html" with portfolio=portfolio %}
</div>
{% endblock %}
