{% extends 'portfolio_base.html' %}

{% load static %}

{% block title %} Members | {% endblock %}

{% block wrapper_class %}
  {{ block.super }} dashboard
{% endblock %}

{% block portfolio_content %}

<!-- Form messages -->
{% block messages %}
  {% include "includes/form_messages.html" with no_max_width=True %}
{% endblock messages%}

<div id="main-content">
  <div id="toggleable-alert" class="usa-alert usa-alert--slim margin-bottom-2 display-none">
    <div class="usa-alert__body">
      <p class="usa-alert__text ">
        <!-- alert message will be conditionally populated by javascript -->
      </p>
    </div>
  </div>
    <div class="grid-row grid-gap">
          <div class="mobile:grid-col-12 tablet:grid-col-6">
              <h1 id="members-header">Members</h1>
          </div>
          {% if has_edit_members_portfolio_permission %}
          <div class="mobile:grid-col-12 tablet:grid-col-6">
              <p class="float-right-tablet tablet:margin-y-0">
                  <a href="{% url 'new-member' %}" class="usa-button"
                  >
                      Add a new member
                  </a>
              </p>
          </div>
          {% endif %}
  </div>
  
    {% include "includes/members_table.html" with portfolio=portfolio %}
</div>
{% endblock %}
