{% extends 'domain_request_form.html' %}
{% load static field_helpers %}

{% block form_required_fields_help_text %}
{% include "includes/required_fields.html" %}
{% endblock %}

{% block form_fields %}

    <fieldset class="usa-fieldset margin-top-2">
        <legend>
            <h2>Is there anything else you’d like us to know about your domain request?</h2> 
        </legend>
    </fieldset>

    <div class="margin-top-3" id="anything-else">
        <p>Provide details below. <abbr class="usa-hint usa-hint--required" title="required">*</abbr></p>
        {% with attr_maxlength=2000 add_label_class="usa-sr-only" %}
            {% input_with_errors forms.0.anything_else %}
        {% endwith %}
    </div>
{% endblock %}
