<form
    id="set-session-portfolio-form-{{ forloop.counter }}" 
    method="post"
    action="{% url 'set-session-portfolio' %}"
    name="{{portfolio.organization_name}}"
>
    {% csrf_token %}
    {% if type == "organizations_page" %}
    <button
        type="submit"
        class="usa-card__container margin-left-0"
        name="set_session_portfolio_button"
        value="{{portfolio.organization_name}}"
    >
            <div class="usa-card__header">
                <h2 class="usa-card__heading">
                    {{portfolio}}
                    <svg class="margin-left-05 usa-icon organizations-arrow-icon" aria-hidden="true" focusable="false" role="img" width="28">
                        <use xlink:href="/public/img/sprite.svg#arrow_forward"></use>
                    </svg>
                </h2>
            </div>
    </button>
    {% elif type == "organizations_nav_menu" %}
        <button
        type="submit"
        class="usa-button usa-nav-link organization-button"
        name="set_session_portfolio_button"
        value="{{portfolio.organization_name}}"
        >
            <a>{{portfolio}}</a>
        </button>
    {% endif %}
</form>
