{% extends 'portfolio_base.html' %}
{% load static url_helpers %}
{% load field_helpers %}

{% block title %}Organization member{% endblock %}

{% block wrapper_class %}
  {{ block.super }} dashboard--grey-1
{% endblock %}

{% block portfolio_content %}

<!-- Navigation breadcrumbs -->
<nav class="usa-breadcrumb padding-top-0" aria-label="Domain request breadcrumb">
  <ol class="usa-breadcrumb__list">
    <li class="usa-breadcrumb__list-item">
      <a href="{% url 'members' %}" class="usa-breadcrumb__link"><span>Members</span></a>
    </li>
    <li class="usa-breadcrumb__list-item">
      <a href="{% url 'member' pk=member.pk %}" class="usa-breadcrumb__link"><span>Manage member</span></a>
    </li>
    {% comment %} Manage members {% endcomment %}
    <li class="usa-breadcrumb__list-item usa-current" aria-current="page">
      <span>Member access and permissions</span>
    </li>
  </ol>
</nav>

<!-- Page header -->
<h1>Member access and permissions</h1>

{% include "includes/required_fields.html" %}

<form class="usa-form usa-form--large" method="post" id="member_form" novalidate>
  {% csrf_token %}
  <fieldset class="usa-fieldset margin-top-2">
    <legend>
      <h2>Member email</h2>
    </legend>
    <p>
      {% if member %}
        {{ member.email }}
      {% elif invitation %}
        {{ invitation.email }}
      {% endif %}
    </p>
    <!-- Member email -->
  </fieldset>

<!-- Member access radio buttons (Toggles other sections) -->
<fieldset class="usa-fieldset margin-top-2">
  <legend>
    <h2>Member Access</h2>
  </legend>

  <em>Select the level of access for this member. <abbr class="usa-hint usa-hint--required" title="required">*</abbr></em>

  {% with add_class="usa-radio__input--tile" add_legend_class="usa-sr-only" %}
    {% input_with_errors form.role %}
  {% endwith %}

  {% comment %} {% if radio.value == "organization_admin" %}
  Grants this member access to the organization-wide information on domains, domain requests, and members. Domain management can be assigned separately.
  {% elif radio.value == "organization_member" %}
    Grants this member access to the organization. They can be given extra permissions to view all organization domain requests and submit domain requests on behalf of the organization. Basic access members can’t view all members of an organization or manage them. Domain management can be assigned separately.
  {% endif %} {% endcomment %}
</fieldset>

<!-- Admin access form -->
<div id="member-admin-permissions" class="margin-top-2">
    <h2>Admin access permissions</h2>
    <p>Member permissions available for admin-level acccess.</p>

    <h3 class="summary-item__title
    text-primary-dark
    margin-bottom-0">Organization domain requests</h3>
    {% with group_classes="usa-form-editable usa-form-editable--no-border padding-top-0" %}
      {% input_with_errors form.domain_request_permissions_admin %}
    {% endwith %}

    <h3 class="summary-item__title
    text-primary-dark
    margin-bottom-0
    margin-top-3">Organization members</h3>
    {% with group_classes="usa-form-editable usa-form-editable--no-border padding-top-0" %}
      {% input_with_errors form.member_permissions_admin %}
    {% endwith %}
  </div>

  <!-- Basic access form -->
  <div id="member-basic-permissions" class="margin-top-2">
      <h2>Basic member permissions</h2>
      <p>Member permissions available for basic-level acccess.</p>

      <h3 class="margin-bottom-0">Organization domain requests</h3>
      {% with group_classes="usa-form-editable usa-form-editable--no-border padding-top-0" %}
        {% input_with_errors form.domain_request_permissions_member %}
      {% endwith %}
  </div>

  <!-- Submit/cancel buttons -->
  <div class="margin-top-3">
    <a
      type="button"
      href="{% url 'members' %}"
      class="usa-button usa-button--outline"
      name="btn-cancel-click"
      aria-label="Cancel editing member"
    >
      Cancel
    </a>
    <button type="submit" class="usa-button">Update Member</button>
  </div>
</form>

{% endblock portfolio_content%}

{% comment %} {% extends 'portfolio_base.html' %}
{% load static field_helpers%}

{% block title %}Organization member {% endblock %}

{% load static %}

{% block portfolio_content %}
<div class="grid-row grid-gap">
    <div class="tablet:grid-col-9" id="main-content">

        {% block messages %}
            {% include "includes/form_messages.html" %}
        {% endblock %}

        <h1>Manage member</h1>
        
        <p>
          {% if member %}
            {{ member.email }}
          {% elif invitation %}
            {{ invitation.email }}
          {% endif %}
        </p>

        <hr>

        <form class="usa-form usa-form--large" method="post" novalidate>
            {% csrf_token %}
            {% input_with_errors form.roles %}
            {% input_with_errors form.additional_permissions %}
            <button
              type="submit"
              class="usa-button"
            >Submit</button>
          </form>

        

    </div>
</div>
{% endblock %} {% endcomment %}
