{% extends 'portfolio_base.html' %}
{% load static url_helpers %}
{% load field_helpers %}

{% block title %} Members | New Member {% endblock %}

{% block wrapper_class %}
  {{ block.super }} dashboard
{% endblock %}

{% block portfolio_content %}

<div id="main-content" class=" {% if not is_widescreen_centered %}desktop:grid-offset-2{% endif %}">


<!-- Navigation breadcrumbs -->
<nav class="usa-breadcrumb padding-top-0 bg-gray-1" aria-label="Domain request breadcrumb">
  <ol class="usa-breadcrumb__list">
    <li class="usa-breadcrumb__list-item">
      <a href="{% url 'members' %}" class="usa-breadcrumb__link"><span>Members</span></a>
    </li>
    <li class="usa-breadcrumb__list-item usa-current" aria-current="page">
      <span>Add a new member</span>
    </li>
  </ol>
</nav>

  <!-- Form messages -->
  {% block messages %}
    {% include "includes/form_messages.html" %}
  {% endblock messages%}
  {% include "includes/form_errors.html" with form=form %}

  <!-- Page header -->
  <h1>Add a new member</h1>

  <p>After adding a new member, an email invitation will be sent to that user with instructions on how to set up an account. All members must keep their contact information updated and be responsive if contacted by the .gov team.</p>

  {% include "includes/required_fields.html" %}

  <form class="usa-form usa-form--large" method="post" id="add_member_form" novalidate>
    {% csrf_token %}
    
    <fieldset class="usa-fieldset margin-top-2">
      <legend>
        <h2>Who would you like to add to the organization?</h2>
      </legend>
      <!-- Member email -->
      {% with group_classes="usa-form-editable usa-form-editable--no-border padding-top-0" %}
        {% input_with_errors form.email %}
      {% endwith %}
    </fieldset>

    <!-- Member access radio buttons (Toggles other sections) -->
    <fieldset class="usa-fieldset margin-top-2">
      <legend>
        <h2>What role would you like to grant this member?</h2>
      </legend>

      <p class="margin-y-0">Select the role for this member. <abbr class="usa-hint usa-hint--required" title="required">*</abbr></p>

      {% with group_classes="margin-top-0" add_class="usa-radio__input--tile" add_legend_class="usa-sr-only" %}
        {% input_with_errors form.role %}
      {% endwith %}
    </fieldset>

    {% include "includes/member_permissions_matrix.html" %}

    <!-- Basic access form -->
    {% include "includes/member_basic_permissions.html" %}
    
    <h3 class="margin-bottom-1">Domain assignments</h3>

    <p class="margin-top-0">After you invite this person to your organization, you can assign domain management permissions on their member profile.</p>

    <!-- Submit/cancel buttons -->
    <div class="margin-top-3">
      <a
        type="button"
        href="{% url 'members' %}"
        class="usa-button usa-button--outline"
        name="btn-cancel-click"
        aria-label="Cancel adding new member"
      >Cancel
    </a>
      <a
        id="invite_member_trigger"
        href="#invite-member-modal"
        class="usa-button usa-button--outline margin-top-1 display-none"
        aria-controls="invite-member-modal"
        data-open-modal
        >Trigger invite member modal</a>
        <button id="invite_new_member_submit" type="submit" class="usa-button">Invite member</button>
    </div>

  </form>

<div
    class="usa-modal"
    id="invite-member-modal"
    aria-labelledby="invite-member-heading"
    aria-describedby="confirm-invite-description"
>
    <div class="usa-modal__content">
        <div class="usa-modal__main">
            <h2 class="usa-modal__heading" id="invite-member-heading">
                Invite this member to the organization?
            </h2>
            <h3>Member role and permissions</h3>

            <p class="margin-bottom-1"><strong class="text-primary-darker">Email:</strong> <span id="modalEmail"></span></p>
            <p class="margin-top-0 margin-bottom-1"><strong class="text-primary-darker">Member role:</strong> <span id="modalRoleLevel"></span></p>

            <!-- Dynamic Permissions Details -->
            <div id="permission_details"></div>

            <div class="usa-modal__footer">
                <ul class="usa-button-group">
                    <li class="usa-button-group__item">
                        <button id="confirm_new_member_submit" type="submit" class="usa-button">Yes, invite member</button>
                    </li>
                    <li class="usa-button-group__item">
                        <button
                            type="button"
                            class="usa-button usa-button--unstyled padding-105 text-center"
                            data-close-modal
                            onclick="closeModal()"
                        >
                            Cancel
                        </button>
                    </li>
                </ul>
            </div>
          </div>
          <button
              type="button"
              class="usa-button usa-modal__close"
              aria-label="Close this window"
              data-close-modal
              onclick="closeModal()"
          >
              <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                  <use xlink:href="{% static 'img/sprite.svg' %}#close"></use>
              </svg>
          </button>
      </div>
  </div>
</div>


{% endblock portfolio_content%}


