{% extends 'portfolio_base.html' %}

{% block title %} Your organizations | {% endblock title %}
{% load static url_helpers %}

{# Disable the redirect  #}
{% block header %}
    {% include "includes/header_selector.html" with logo_clickable=user_finished_setup hide_portfolio_navbar=True %}
{% endblock %}
{% block portfolio_content %}
<div id="main-content" class="{% if not is_widescreen_centered %}desktop:grid-offset-1{% endif %}">
    <div class="grid-row usa-banner__guidance margin-bottom-3 flex-align-center">
        <img 
        class="" 
        src="{% static 'img/organizations_img.svg' %}" 
        role="img" 
        alt="" 
        width="72"
        aria-hidden="true"
        />
        <h1 class="margin-bottom-0 margin-left-1">Your organizations</h1>
    </div>

    <div class="display-none margin-top-0" id="portfolios_list-wrapper">
    </div>
    {% for user_portfolio_permission in user_portfolio_permissions %}
        <div class="grid-row margin-bottom-2">
            {% include "portfolio_organization_select.html" with portfolio=user_portfolio_permission.portfolio type="organizations_page" %}
        </div>
    {% endfor %}
</form>
    <p class="font-ui-2xs "> 
        Don’t see your organization here? If you believe you should have access to an organization, 
        contact us at <a href="mailto:help@get.gov" class="usa-link">help@get.gov</a>.
    </p>

</div>
{% endblock %}
{% block footer %}
    {% include "includes/footer.html" with show_manage_your_domains=False %}
{% endblock %}