{% extends 'portfolio_base.html' %}

{% load static %}

{% block title %} Domains | {% endblock %}

{% block wrapper_class %}
  {{ block.super }} dashboard
{% endblock %}

{% block portfolio_content %}

<!-- Form messages -->
{% block messages %}
  {% include "includes/form_messages.html" %}
{% endblock messages%}

<div id="main-content">
    <h1 id="domains-header">Domains</h1>
    {% include "includes/domains_table.html" with portfolio=portfolio user_domain_count=user_domain_count num_expiring_domains=num_expiring_domains%}
</div>
{% endblock %}