{% extends 'portfolio_base.html' %}

{% load static %}

{% block title %} Domain requests | {% endblock %}

{% block wrapper_class %}
  {{ block.super }} dashboard--grey-1
{% endblock %}

{% block portfolio_content %}
<div id="main-content">
    <h1 id="domain-requests-header">Domain requests</h1>

    {% comment %}
    IMPORTANT:
    If this button is added on any other page, make sure to update the
    relevant view to reset request.session["new_request"] = True
    {% endcomment %}
    <p class="margin-top-4">
        <a href="{% url 'domain-request:' %}" class="usa-button"
        >
            Start a new domain request
        </a>
    </p>
    
    {% include "includes/domain_requests_table.html" with portfolio=portfolio %}
</div>
{% endblock %}
