{% extends 'portfolio_base.html' %}
{% load static url_helpers %}
{% load field_helpers %}

{% block title %} Members | New Member {% endblock %}

{% block wrapper_class %}
  {{ block.super }} dashboard--grey-1
{% endblock %}

{% block portfolio_content %}

<div id="main-content" class=" {% if not is_widescreen_centered %}desktop:grid-offset-2{% endif %}">
  <!-- Form messages -->
  {% include "includes/form_errors.html" with form=form %}
  {% block messages %}
    {% include "includes/form_messages.html" %}
  {% endblock messages%}

<!-- Navigation breadcrumbs -->
<nav class="usa-breadcrumb padding-top-0 bg-gray-1" aria-label="Domain request breadcrumb">
  <ol class="usa-breadcrumb__list">
    <li class="usa-breadcrumb__list-item">
      <a href="{% url 'members' %}" class="usa-breadcrumb__link"><span>Members</span></a>
    </li>
    <li class="usa-breadcrumb__list-item usa-current" aria-current="page">
      <span>Add a new member</span>
    </li>
  </ol>
</nav>

  <!-- Page header -->
  <h1>Add a new member</h1>

  <p>After adding a new member, an email invitation will be sent to that user with instructions on how to set up an account. All members must keep their contact information updated and be responsive if contacted by the .gov team.</p>

  {% include "includes/required_fields.html" %}

  <form class="usa-form usa-form--large" method="post" id="add_member_form" novalidate>
    {% csrf_token %}
    
    <fieldset class="usa-fieldset margin-top-2">
      <legend>
        <h2>Who would you like to add to the organization?</h2>
      </legend>
      <!-- Member email -->
      {% with group_classes="usa-form-editable usa-form-editable--no-border padding-top-0" %}
        {% input_with_errors form.email %}
      {% endwith %}
    </fieldset>

    <!-- Member access radio buttons (Toggles other sections) -->
    <fieldset class="usa-fieldset margin-top-2">
      <legend>
        <h2>What level of access would you like to grant this member?</h2>
      </legend>

      <p class="margin-y-0">Select one <abbr class="usa-hint usa-hint--required" title="required">*</abbr></p>

      {% with add_class="usa-radio__input--tile" add_legend_class="usa-sr-only" %}
        {% input_with_errors form.role %}
      {% endwith %}
    </fieldset>

    <div class="usa-accordion usa-accordion--show-more">
      <h4 class="usa-accordion__heading">
        <button
          type="button"
          class="usa-accordion__button"
          aria-expanded="false"
          aria-controls="admin-vs-basic-matrix"
        >
          <svg class="usa-icon font-body-xl text-primary-darker text-middle" aria-hidden="true" focusable="false" role="img">
            <use xlink:href="/public/img/sprite.svg#help_outline"></use>
          </svg>
          <span class="text-middle">
            How are admins and basic members different?
          </span>
          <svg class="usa-icon font-body-xl text-primary text-middle expand-less" aria-hidden="true" focusable="false" role="img">
            <use xlink:href="/public/img/sprite.svg#expand_less"></use>
          </svg>
          <svg class="usa-icon font-body-xl text-primary text-middle expand-more" aria-hidden="true" focusable="false" role="img">
            <use xlink:href="/public/img/sprite.svg#expand_more"></use>
          </svg>
        </button>
      </h4>
      <div id="admin-vs-basic-matrix" class="usa-accordion__content bg-transparent padding-top-0">
        <table class="usa-table dotgov-table dotgov-table--padding-left usa-table--bg-transparent usa-table--borderless usa-table--striped font-body-2xs">
          <thead>
            <tr>
              <th scope="col" role="columnheader"><span class="text-base-darkest text-normal">Member actions available</span></th>
              <th scope="col" role="columnheader" class="text-center">Admin</th>
              <th scope="col" role="columnheader" class="text-center">Basic</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">
                View domains they manage
                <svg 
                  class="usa-icon usa-tooltip text-primary text-middle margin-bottom-05 no-click-outline-and-cursor-help"
                  data-position="top"
                  title="Domains can be assigned after invitation."
                  focusable="true"
                  aria-label="Domains can be assigned after invitation."
                  role="tooltip"
                >
                  <use aria-hidden="true" xlink:href="/public/img/sprite.svg#info_outline"></use>
                </svg>
              </th>
              <td class="text-center">
                <svg class="usa-icon font-body-xl text-primary-darker" aria-hidden="true" focusable="false" role="img">
                  <use xlink:href="/public/img/sprite.svg#check"></use>
                </svg>
              </td>
              <td class="text-center">
                <svg class="usa-icon font-body-xl text-primary-darker" aria-hidden="true" focusable="false" role="img">
                  <use xlink:href="/public/img/sprite.svg#check"></use>
                </svg>
              </td>
            </tr>
            <tr>
              <th scope="row">View all domains for the organization</th>
              <td class="text-center">
                <svg class="usa-icon font-body-xl text-primary-darker" aria-hidden="true" focusable="false" role="img">
                  <use xlink:href="/public/img/sprite.svg#check"></use>
                </svg>
              </td>
              <td class="text-center">
                <span class="font-body-1 text-primary-darker">Optional</span>
              </td>
            </tr>
            <tr>
              <th scope="row">View all domain requests</th>
              <td class="text-center">
                <svg class="usa-icon font-body-xl text-primary-darker" aria-hidden="true" focusable="false" role="img">
                  <use xlink:href="/public/img/sprite.svg#check"></use>
                </svg>
              </td>
              <td class="text-center">
                <span class="font-body-1 text-primary-darker">Optional</span>
              </td>
            </tr>
            <tr>
              <th scope="row">Create domain requests</th>
              <td class="text-center">
                <svg class="usa-icon font-body-xl text-primary-darker" aria-hidden="true" focusable="false" role="img">
                  <use xlink:href="/public/img/sprite.svg#check"></use>
                </svg>
              </td>
              <td class="text-center">
                <span class="font-body-1 text-primary-darker">Optional</span>
              </td>
            </tr>
            <tr>
              <th scope="row">View all member permissions</th>
              <td class="text-center">
                <svg class="usa-icon font-body-xl text-primary-darker" aria-hidden="true" focusable="false" role="img">
                  <use xlink:href="/public/img/sprite.svg#check"></use>
                </svg>
              </td>
              <td class="text-center">
                <span class="font-body-1 text-primary-darker">Optional</span>
              </td>
            </tr>
            <tr>
              <th scope="row">Manage member permissions</th>
              <td class="text-center">
                <svg class="usa-icon font-body-xl text-primary-darker" aria-hidden="true" focusable="false" role="img">
                  <use xlink:href="/public/img/sprite.svg#check"></use>
                </svg>
              </td>
              <td class="text-center">
                <svg class="usa-icon font-body-xl text-primary-darker" aria-hidden="true" focusable="false" role="img">
                  <use xlink:href="/public/img/sprite.svg#cancel"></use>
                </svg>
              </td>
            </tr>
            <tr>
              <th scope="row">Manage organization metadata (address)</th>
              <td class="text-center">
                <svg class="usa-icon font-body-xl text-primary-darker" aria-hidden="true" focusable="false" role="img">
                  <use xlink:href="/public/img/sprite.svg#check"></use>
                </svg>
              </td>
              <td class="text-center">
                <svg class="usa-icon font-body-xl text-primary-darker" aria-hidden="true" focusable="false" role="img">
                  <use xlink:href="/public/img/sprite.svg#cancel"></use>
                </svg>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    <!-- Basic access form -->
    <div id="member-basic-permissions" class="margin-top-2">
      <h2>What permissions do you want to add?</h2>
      <p>Configure the permissions for this member. Basic members cannot manage member permissions or organization metadata.</p>

      <h3 class="margin-bottom-0">Domains <abbr class="usa-hint usa-hint--required" title="required">*</abbr></h3>
        {% with group_classes="usa-form-editable bg-gray-1 border-top-0 margin-top-0 border-bottom padding-top-0" add_legend_class="usa-sr-only" %}
          {% input_with_errors form.domain_permissions %}
        {% endwith %}

      <h3 class="margin-bottom-0">Domain requests <abbr class="usa-hint usa-hint--required" title="required">*</abbr></h3>
        {% with group_classes="usa-form-editable usa-form-editable--no-border bg-gray-1 padding-top-0" add_legend_class="usa-sr-only" %}
          {% input_with_errors form.domain_request_permissions %}
        {% endwith %}

      <h3 class="margin-bottom-0">Members <abbr class="usa-hint usa-hint--required" title="required">*</abbr></h3>
        {% with group_classes="usa-form-editable usa-form-editable--no-border bg-gray-1 padding-top-0" add_legend_class="usa-sr-only" %}
          {% input_with_errors form.member_permissions %}
        {% endwith %}
    </div>

    <h3 class="margin-bottom-1">Domain management</h3>

    <p class="margin-top-0">After you invite this person to your organization, you can assign domain management permissions on their member profile.</p>

    <!-- Submit/cancel buttons -->
    <div class="margin-top-3">
      <a
        type="button"
        href="{% url 'members' %}"
        class="usa-button usa-button--outline"
        name="btn-cancel-click"
        aria-label="Cancel adding new member"
      >Cancel
    </a>
      <a
        id="invite_member_trigger"
        href="#invite-member-modal"
        class="usa-button usa-button--outline margin-top-1 display-none"
        aria-controls="invite-member-modal"
        data-open-modal
        >Trigger invite member modal</a>
        <button id="invite_new_member_submit" type="submit" class="usa-button">Invite Member</button>
    </div>

  </form>

<div
    class="usa-modal"
    id="invite-member-modal"
    aria-labelledby="invite-member-heading"
    aria-describedby="confirm-invite-description"
>
    <div class="usa-modal__content">
        <div class="usa-modal__main">
            <h2 class="usa-modal__heading" id="invite-member-heading">
                Invite this member to the organization?
            </h2>
            <h3 class="summary-item__title
            text-primary-dark">Member information and permissions</h3>
            <div class="usa-prose">
                <!-- Display email as a header and access level -->
                <h4 class="text-primary">Email</h4>
                <p class="margin-top-0" id="modalEmail"></p>

                  <h4 class="text-primary">Member Access</h4>
                  <p class="margin-top-0" id="modalAccessLevel"></p>

                  <!-- Dynamic Permissions Details -->
                  <div id="permission_details"></div>
              </div>

              <div class="usa-modal__footer">
                  <ul class="usa-button-group">
                      <li class="usa-button-group__item">
                          <button id="confirm_new_member_submit" type="submit" class="usa-button">Yes, invite member</button>
                      </li>
                      <li class="usa-button-group__item">
                          <button
                              type="button"
                              class="usa-button usa-button--unstyled"
                              data-close-modal
                              onclick="closeModal()"
                          >
                              Cancel
                          </button>
                      </li>
                  </ul>
              </div>
          </div>
          <button
              type="button"
              class="usa-button usa-modal__close"
              aria-label="Close this window"
              data-close-modal
              onclick="closeModal()"
          >
              <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                  <use xlink:href="{% static 'img/sprite.svg' %}#close"></use>
              </svg>
          </button>
      </div>
  </div>
</div>


{% endblock portfolio_content%}


