{% extends 'portfolio_base.html' %}
{% load static field_helpers%}

{% block title %}Organization member domains {% endblock %}

{% load static %}

{% block portfolio_content %}
<div id="main-content" class=" {% if not is_widescreen_centered %}desktop:grid-offset-2{% endif %}">

    {% url 'members' as url %}
    {% if portfolio_permission %}
        {% url 'member' member_pk=portfolio_permission.id as url2 %}
        {% url 'member-domains-edit' member_pk=portfolio_permission.id as url3 %}
    {% else %}
        {% url 'invitedmember' invitedmember_pk=portfolio_invitation.id as url2 %}
        {% url 'invitedmember-domains-edit' invitedmember_pk=portfolio_invitation.id as url3 %}
    {% endif %}
    <nav class="usa-breadcrumb padding-top-0" aria-label="Portfolio member breadcrumb">
    <ol class="usa-breadcrumb__list">
        <li class="usa-breadcrumb__list-item">
        <a href="{{ url }}" class="usa-breadcrumb__link"><span>Members</span></a>
        </li>
        <li class="usa-breadcrumb__list-item">
            <a href="{{ url2 }}" class="usa-breadcrumb__link"><span>Manage member</span></a>
        </li>
        <li class="usa-breadcrumb__list-item usa-current" aria-current="page">
        <span>Domain assignments</span>
        </li>
    </ol>
    </nav>

    <!-- Form messages -->
    {% block messages %}
      {% include "includes/form_messages.html" %}
    {% endblock messages%}
    {% include "includes/form_errors.html" with form=form %}


    <div class="grid-row grid-gap">
        <div class="mobile:grid-col-12 tablet:grid-col-7">
            <h1>Domain assignments</h1>
        </div>
        {% if has_edit_members_portfolio_permission %}
            <div class="mobile:grid-col-12 tablet:grid-col-5">
                <p class="float-right-tablet tablet:margin-y-0">
                    <a href="{{ url3 }}" class="usa-button"
                    >
                        Edit assignments
                    </a>
                </p>
            </div>
        {% endif %}
    </div>

    <p class="margin-top-0 margin-bottom-4 maxw-none">
        Members can update information related to their assigned domains, including security email and DNS name servers. They can also invite other managers to those domains.
    </p>

    {% include "includes/member_domains_table.html" %}

</div>
{% endblock %}
