{% extends 'portfolio_base.html' %}
{% load static field_helpers%}

{% block title %}Organization member {% endblock %}

{% load static %}

{% block portfolio_content %}
<div id="main-content">

  {% url 'members' as url %}
  <nav class="usa-breadcrumb padding-top-0 margin-bottom-3" aria-label="Portfolio member breadcrumb">
  <ol class="usa-breadcrumb__list">
      <li class="usa-breadcrumb__list-item">
        <a href="{{ url }}" class="usa-breadcrumb__link"><span>Members</span></a>
      </li>
      <li class="usa-breadcrumb__list-item usa-current" aria-current="page">
        <span>Manage member</span>
      </li>
  </ol>
  </nav>
  

  <h1 class="margin-bottom-3">Manage member</h1>

  <div class="tablet:display-flex tablet:flex-justify">
    <h2 class="margin-top-0 margin-bottom-3 break-word">
      {% if member %}
        {{ member.email }}
      {% elif portfolio_invitation %}
        {{ portfolio_invitation.email }}
      {% endif %}
    </h2>
    {% if has_edit_members_portfolio_permission %}
      <a 
        role="button" 
        href="#"
        class="display-block usa-button text-secondary usa-button--unstyled text-no-underline margin-bottom-3 line-height-sans-5 visible-mobile-flex"
      >
        Remove member
      </a>

      <div class="usa-accordion usa-accordion--more-actions hidden-mobile-flex">
        <div class="usa-accordion__heading">
          <button
            type="button"
            class="usa-button usa-button--unstyled usa-button--with-icon usa-accordion__button usa-button--more-actions"
            aria-expanded="false"
            aria-controls="more-actions"
          >
            <svg class="usa-icon top-2px" aria-hidden="true" focusable="false" role="img" width="24">
              <use xlink:href="/public/img/sprite.svg#more_vert"></use>
            </svg>
          </button>
        </div>
        <div id="more-actions" class="usa-accordion__content usa-prose shadow-1 left-auto right-0" hidden>
          <h2>More options</h2>
          {% if member %}
            <a 
              role="button" 
              href="#"
              class="usa-button text-secondary usa-button--unstyled text-no-underline margin-top-2 line-height-sans-5"
            >
              Remove member
            </a>
          {% else %}
            <a 
              role="button" 
              href="#"
              class="usa-button text-secondary usa-button--unstyled text-no-underline margin-top-2 line-height-sans-5"
            >
              Cancel invitation
            </a>
          {% endif %}
        </div>
      </div>
    {% endif %}
  </div>

  <address>
    <strong class="text-primary-dark">Last active:</strong>
    {% if member and member.last_login %}
        {{ member.last_login }}
      {% elif portfolio_invitation %}
        Invited
      {% else %}
        ⎯
      {% endif %}
    <br />

    <strong class="text-primary-dark">Full name:</strong>
    {% if member %}
      {% if member.first_name or member.last_name %}
        {{ member.get_formatted_name }}
      {% else %}
        ⎯
      {% endif %}
    {% else %}
      ⎯
    {% endif %}
    <br />

    <strong class="text-primary-dark">Title or organization role:</strong>
    {% if member and member.title %}
      {{ member.title }}
    {% else %}
      ⎯
    {% endif %}
  </address>

  {% if portfolio_permission %}
    {% include "includes/summary_item.html" with title='Member access and permissions' permissions='true' value=portfolio_permission member_has_view_all_requests_portfolio_permission=member_has_view_all_requests_portfolio_permission member_has_edit_request_portfolio_permission=member_has_edit_request_portfolio_permission member_has_view_members_portfolio_permission=member_has_view_members_portfolio_permission member_has_edit_members_portfolio_permission=member_has_edit_members_portfolio_permission edit_link=edit_url editable=has_edit_members_portfolio_permission %}
  {% elif portfolio_invitation %}
    {% include "includes/summary_item.html" with title='Member access and permissions' permissions='true' value=portfolio_invitation member_has_view_all_requests_portfolio_permission=member_has_view_all_requests_portfolio_permission member_has_edit_request_portfolio_permission=member_has_edit_request_portfolio_permission member_has_view_members_portfolio_permission=member_has_view_members_portfolio_permission member_has_edit_members_portfolio_permission=member_has_edit_members_portfolio_permission edit_link=edit_url editable=has_edit_members_portfolio_permission %}
  {% endif %}

  {% if portfolio_permission %}
    {% include "includes/summary_item.html" with title='Domain management' domain_mgmt='true' value=portfolio_permission.get_managed_domains_count edit_link='#' editable=has_edit_members_portfolio_permission manage_button='true' %}
  {% elif portfolio_invitation %}
    {% include "includes/summary_item.html" with title='Domain management' domain_mgmt='true' value=portfolio_invitation.get_managed_domains_count edit_link='#' editable=has_edit_members_portfolio_permission manage_button='true' %}
  {% else %}
    {% include "includes/summary_item.html" with title='Domain management' domain_mgmt='true' value=0 edit_link='#' editable=has_edit_members_portfolio_permission manage_button='true' %}
  {% endif %}
        
</div>
{% endblock %}
