{% extends 'portfolio_base.html' %}
{% load static field_helpers%}

{% block title %}Organization member 
<script>
  console.log("Inline test in the organization member block");
</script>
{% endblock %}

{% load static %}

{% block portfolio_content %}
<div id="main-content">

  {% url 'members' as url %}
  <nav class="usa-breadcrumb padding-top-0 margin-bottom-3" aria-label="Portfolio member breadcrumb">
  <ol class="usa-breadcrumb__list">
      <li class="usa-breadcrumb__list-item">
        <a href="{{ url }}" class="usa-breadcrumb__link"><span>Members</span></a>
      </li>
      <li class="usa-breadcrumb__list-item usa-current" aria-current="page">
        <span>Manage member</span>
      </li>
  </ol>
  </nav>
  

  <h1 class="margin-bottom-3">Manage member</h1>

  <div class="tablet:display-flex tablet:flex-justify">
    <h2 class="margin-top-0 margin-bottom-3 break-word">
      {% if member %}
        {{ member.email }}
      {% elif portfolio_invitation %}
        {{ portfolio_invitation.email }}
      {% endif %}
    </h2>
    {% if has_edit_members_portfolio_permission %}
      {% if member %}
        <div id="wrapper-delete-action"
        data-member-name="{{ member.email }}"
        data-member-type="member"
        data-member-id="{{ member.id }}"
        data-num-domains="{{ portfolio_permission.get_managed_domains_count }}"
        data-member-email="{{ member.email }}"
      >
        MEMBER KEBAB SHOULD BE HERE
        </div>
      {% elif portfolio_invitation %}
        <div id="wrapper-delete-action"
        data-member-name="{{ portfolio_invitation.email }}"
        data-member-type="invitedmember"
        data-member-id="{{ portfolio_invitation.id }}"
        data-num-domains="{{ portfolio_invitation.get_managed_domains_count }}"
        data-member-email="{{ portfolio_invitation.email }}"
      >
        INV KEBAB SHOULD BE HERE
      </div>
      {% endif %}
    {% endif %}
  </div>

  <form method="post" id="member-delete-form" action="{{ request.path }}/delete"> {% csrf_token %} </form>
  <address>
    <strong class="text-primary-dark">Last active:</strong>
    {% if member and member.last_login %}
        {{ member.last_login }}
      {% elif portfolio_invitation %}
        Invited
      {% else %}
        ⎯
      {% endif %}
    <br />

    <strong class="text-primary-dark">Full name:</strong>
    {% if member %}
      {% if member.first_name or member.last_name %}
        {{ member.get_formatted_name }}
      {% else %}
        ⎯
      {% endif %}
    {% else %}
      ⎯
    {% endif %}
    <br />

    <strong class="text-primary-dark">Title or organization role:</strong>
    {% if member and member.title %}
      {{ member.title }}
    {% else %}
      ⎯
    {% endif %}
  </address>

  {% if portfolio_permission %}
    {% include "includes/summary_item.html" with title='Member access and permissions' permissions=True value=portfolio_permission edit_link=edit_url editable=has_edit_members_portfolio_permission %}
  {% elif portfolio_invitation %}
    {% include "includes/summary_item.html" with title='Member access and permissions' permissions=True value=portfolio_invitation edit_link=edit_url editable=has_edit_members_portfolio_permission %}
  {% endif %}

  {% comment %}view_button is passed below as true in all cases. This is because manage_button logic will trump view_button logic; ie. if manage_button is true, view_button will never be looked at{% endcomment %}
  {% if portfolio_permission %}
    {% include "includes/summary_item.html" with title='Domain management' domain_mgmt=True value=portfolio_permission.get_managed_domains_count edit_link=domains_url editable=True manage_button=has_edit_members_portfolio_permission view_button=True %}
  {% elif portfolio_invitation %}
    {% include "includes/summary_item.html" with title='Domain management' domain_mgmt=True value=portfolio_invitation.get_managed_domains_count edit_link=domains_url editable=True manage_button=has_edit_members_portfolio_permission view_button=True %}
  {% endif %}
        
</div>
{% endblock %}
