{% extends 'portfolio_base.html' %}
{% load static field_helpers%}

{% block title %}Senior official | {{ portfolio.name }}{% endblock %}

{% load static %}

{% block portfolio_content %}

<div class="grid-row grid-gap">
    <div class="tablet:grid-col-3">
        <p class="font-body-md margin-top-0 margin-bottom-2
                    text-primary-darker text-semibold"
        >
            <span class="usa-sr-only"> Portfolio name:</span> {{ portfolio }}
        </p>

        {% include 'portfolio_organization_sidebar.html' %}
    </div>

    <div class="tablet:grid-col-9" id="main-content">
        {% block breadcrumb %}
        <!-- Navigation breadcrumbs -->
        <nav class="usa-breadcrumb padding-top-0" aria-label="Portfolio organization breadcrumb">
        <ol class="usa-breadcrumb__list">
            <li class="usa-breadcrumb__list-item">
            <a href="{% url 'organization' %}" class="usa-breadcrumb__link"><span>{{ portfolio }}</span></a>
            </li>
            <li class="usa-breadcrumb__list-item usa-current" aria-current="page">
            <span>Senior official</span>
            </li>
        </ol>
        </nav>
        {% endblock breadcrumb %}

        {% include "includes/senior_official.html" with can_edit=False %}
    </div>
</div>
{% endblock %}
