{% extends 'portfolio_base.html' %}
{% load static url_helpers %}
{% load field_helpers %}

{% block title %} Members | New Member {% endblock %}

{% block wrapper_class %}
  {{ block.super }} dashboard--grey-1
{% endblock %}

{% block portfolio_content %}

<!-- Form mesages -->
{% block messages %}
  {% include "includes/form_messages.html" %}
{% endblock messages%}

<!-- Navigation breadcrumbs -->
<nav class="usa-breadcrumb padding-top-0" aria-label="Domain request breadcrumb">
  <ol class="usa-breadcrumb__list">
    <li class="usa-breadcrumb__list-item">
      <a href="/members/" class="usa-breadcrumb__link"><span>Members</span></a>
    </li>
    <li class="usa-breadcrumb__list-item usa-current" aria-current="page">
      <span>Add a new member</span>
    </li>
  </ol>
</nav>

<!-- Page header -->
{% block new_member_header %}
<h1>Add a new member</h1>
{% endblock new_member_header %}

{% include "includes/required_fields.html" %}

<form class="usa-form usa-form--large" method="post" novalidate>
<fieldset class="usa-fieldset margin-top-2">
  <legend>
    <h2>Email</h2>
  </legend>
  <!-- Member email -->
    {% csrf_token %}
    {% with group_classes="usa-form-editable usa-form-editable--no-border padding-top-0" %}
      {% input_with_errors form.email %}
    {% endwith %}

    <!-- {{ form.as_p }} -->
</fieldset>

<!-- Member access radio buttons (Toggles other sections) -->
<fieldset class="usa-fieldset margin-top-2">
  <legend>
    <h2>Member Access</h2>
  </legend>

  <em>Select the level of access for this member. <abbr class="usa-hint usa-hint--required" title="required">*</abbr></em>
  <div class="usa-radio">
    <input type="radio" name="new_member-permission_level" class="usa-radio__input  usa-radio__input--tile" value="True" id="id_new_member-permission_level_0" required="" checked="">
    <label class="usa-radio__label usa-legend" for="id_new_member-permission_level_0">
      Admin access
      <p class="margin-0 margin-top-2">
        Grants this member access to the organization-wide information on domains, domain requests, and members.  Domain management can be assigned separately.
      </p>
    </label>
    <input type="radio" name="new_member-permission_level" class="usa-radio__input  usa-radio__input--tile" value="False" id="id_new_member-permission_level_1" required="">
    <label class="usa-radio__label usa-legend" for="id_new_member-permission_level_1">
      Basic Access
      <p class="margin-0 margin-top-2">
      Grants this member access to the organization.  They can be given extra permissions to view all organization domain requests and submit domain requests on behald of the organization.  Basica access members can't view all members of an organization or manage them.  Domain management can be assigned separacterly.  
      </p>
    </label>
  </div>
</fieldset>

<!-- Admin access form -->
<div id="new-member-admin-permissions" class="margin-top-2">
  <legend>
    <h2>Admin access permissions</h2>
    <p>Member permissions available for admin-level acccess.</p>
  </legend>
  
  <h3 class="margin-bottom-0">Organization domain requests</h3>
  {% with group_classes="usa-form-editable usa-form-editable--no-border padding-top-0" %}
    {% input_with_errors form.admin_org_domain_request_permissions %}
  {% endwith %}

  <h3 class="margin-bottom-0 margin-top-3">Organization Members</h3>
  {% with group_classes="usa-form-editable usa-form-editable--no-border padding-top-0" %}
    {% input_with_errors form.admin_org_members_permissions %}
  {% endwith %}
</div>

<!-- Basic access form -->
<div id="new-member-basic-permissions" class="margin-top-2">
  <legend>
    <h2>Basic member permissions</h2>
    <p>Member permissions available for basic-level access</p>
    {% input_with_errors form.basic_org_domain_request_permissions %}
  </legend>
  
</div>

<!-- Submit/cancel buttons -->
<div class="margin-top-3">
  <button
  href="/members/"
    class="usa-button usa-button--outline"
    name="btn-cancel-click"
    aria-label="Cancel adding new member"
  >Cancel
</button>
  <button type="submit" class="usa-button">Invite Member</button>
</div>
</form>

{% endblock portfolio_content%}


