{% extends 'portfolio_base.html' %}

{% block title %} Your organizations | {% endblock title %}
{% load static url_helpers %}

{# Hide portfolio navigation header #}
{% block header %}
    {% include "includes/header_selector.html" with logo_clickable=True hide_portfolio_navbar=True %}
{% endblock %}

{% comment %} Attach ID to wrapper page to add background image {% endcomment %}
{% block wrapperdiv %}
<div id="wrapper" class="wrapper--padding-top-6 organizations-page-wrapper">
{% endblock wrapperdiv %}

{% block portfolio_content %}
<div id="main-content" class="{% if not is_widescreen_centered %}desktop:grid-offset-1{% endif %}">
    <div class="grid-row usa-banner__guidance margin-bottom-3 flex-align-center">
        <img 
        class="" 
        src="{% static 'img/registrar/organizations_icon.svg' %}" 
        role="img" 
        alt="" 
        width="72"
        aria-hidden="true"
        />
        <h1 class="margin-bottom-0 margin-left-1">Your organizations</h1>
    </div>

    <div class="display-none margin-top-0" id="portfolios_list-wrapper">
    </div>
    {% for user_portfolio_permission in user_portfolio_permissions %}
        <div class="grid-row margin-bottom-2">
            <div class="grid-col-11 tablet:grid-col-11">
                {% include "portfolio_organization_select.html" with portfolio=user_portfolio_permission.portfolio type="organizations_page" %}
            </div>
        </div>
    {% endfor %}
    {% if has_legacy_domain %}
        <div class="grid-row margin-bottom-1">
            <a class="usa-card__container margin-left-0 display-block text-no-underline"
                href="{% url 'domains' %}">
                <div class="usa-card__header">
                    <h2 class="usa-card__heading">
                    {{ request.user.email }}’s account
                    <svg class="usa-icon" aria-hidden="true" focusable="false" role="img" width="28">
                        <use xlink:href="/public/img/sprite.svg#arrow_forward"></use>
                    </svg>
                    </h2>
                </div>
            </a>
        </div>
    {% endif %}
</form>
    <p class="font-ui-2xs margin-top-4"> 
        Don’t see your organization here? If you believe you should have access to an organization, 
        contact us at <a href="mailto:help@get.gov" class="usa-link">help@get.gov</a>.
    </p>

</div>
{% endblock %}
{% block footer %}
    {% include "includes/footer.html" with show_manage_your_domains=False %}
{% endblock %}