{% load static field_helpers url_helpers %}
{% include "includes/form_errors.html" with form=form %}
<form class="usa-form usa-form--large" method="post" novalidate id="form-container" hx-swap="delete">
    {% csrf_token %}
    {% input_with_errors form.name %}
    {% input_with_errors form.content %}
    {% input_with_errors form.ttl %}
    <button
            type="submit"
            class="usa-button"
        >
            Submit record
    </button>
    <button
        type="button"
        class="usa-button usa-button--outline"
        hx-target="dns-record-form"
        hx-swap="delete"
        hx-on:click='htmx.remove(htmx.find("#dns-record-form"))'
        _="on click remove me"
    >
        Cancel
    </button>
</form>
