[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
cfenv = "*"
pycryptodomex = "*"
django-allow-cidr = "*"
django-auditlog = "*"
django-csp = "*"
environs = {extras=["django"]}
Faker = "*"
gunicorn = "*"
oic = "*"
pyjwkest = "*"
psycopg2-binary = "*"
whitenoise = "*"
django-widget-tweaks = "*"
cachetools = "*"
requests = "*"
django-fsm = "*"
django-phonenumber-field = {extras = ["phonenumberslite"], version = "*"}

[dev-packages]
django-debug-toolbar = "*"
nplusone = "*"
bandit = "*"
black = "*"
flake8 = "*"
mypy = "*"
types-requests = "*"
django-stubs = "*"
django-webtest = "*"
types-cachetools = "*"
