[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
cfenv = "*"
pycryptodomex = "*"
django-allow-cidr = "*"
django-csp = "*"
environs = {extras=["django"]}
gunicorn = "*"
oic = "*"
pyjwkest = "*"
psycopg2-binary = "*"
whitenoise = "*"

[dev-packages]
django-debug-toolbar = "*"
nplusone = "*"
bandit = "*"
black = "*"
flake8 = "*"
mypy = "*"
types-requests = "*"
django-stubs = "*"
