# Automated destructive workflow
# The workflow run automatically deletes domains

# Scheduled Daily at 14:30 UTC
# DELETIONS 
#  - Domains expired 7 days ago (DNS_NEEDED, UNKNOWN)
#  - All non-registrant PublicContact records and registry contact entries related to Domain
#  - Nameservers and deletes associated hosts in EPP if not in use
#  - DNSSEC data

name: Deletes expired domains(DNS_NEEDED, UNKNOWN) 7 days past expiration and sends email notification to domain managers
run-name: Deletes expired domains(DNS_NEEDED, UNKNOWN) 7 days past expiration and sends email notification to domain managers

on:
  schedule:
    # Runs daily at 14:30 UTC
    - cron: "30 14 * * *"

jobs:
  upload-reports:
    runs-on: ubuntu-latest
    env:
      CF_USERNAME: CF_${{ secrets.CF_NOTIFICATIONS_ENV }}_USERNAME
      CF_PASSWORD: CF_${{ secrets.CF_NOTIFICATIONS_ENV }}_PASSWORD
    steps:
      - name:  Delete domains 7 days past expiration with dns status dns needed or unknown
        uses: cloud-gov/cg-cli-tools@main
        with:
          cf_username: ${{ secrets[env.CF_USERNAME] }}
          cf_password: ${{ secrets[env.CF_PASSWORD] }}
          cf_org: cisa-dotgov
          cf_command: "run-task getgov-${{ secrets.CF_NOTIFICATIONS_ENV }} --command 'python manage.py delete_expired_domains_not_setup'"