name: Run notifications (currently only expiring soon emails)
run-name: Run notifications

on:
  schedule:
    # Runs every day at 14:00 UTC/7:00AM PT/10:00AM ET
    - cron: "0 14 * * *"

jobs:
  run-notifications:
    runs-on: ubuntu-latest
    env:
      CF_USERNAME: CF_${{ secrets.CF_NOTIFICATIONS_ENV }}_USERNAME
      CF_PASSWORD: CF_${{ secrets.CF_NOTIFICATIONS_ENV }}_PASSWORD
    steps:
      - name: Send expiring soon notifications for 30, 7, 1 days
        uses: cloud-gov/cg-cli-tools@main
        with:
          cf_username: ${{ secrets[env.CF_USERNAME] }}
          cf_password: ${{ secrets[env.CF_PASSWORD] }}
          cf_org: cisa-dotgov
          cf_space: ${{ secrets.CF_NOTIFICATIONS_ENV }}
          cf_command: "run-task getgov-${{ secrets.CF_NOTIFICATIONS_ENV }} --command 'python manage.py send_expiring_soon_domains_notification' --name expiringnotif"
      - name: Send domain setup reminders for domains approved 7 days ago
        uses: cloud-gov/cg-cli-tools@main
        with:
          cf_username: ${{ secrets[env.CF_USERNAME] }}
          cf_password: ${{ secrets[env.CF_PASSWORD] }}
          cf_org: cisa-dotgov
          cf_space: ${{ secrets.CF_NOTIFICATIONS_ENV }}
          cf_command: "run-task getgov-${{ secrets.CF_NOTIFICATIONS_ENV }} --command 'python manage.py send_domain_setup_reminder' --name setupreminder"