name: Check for domains that has an expiration date 7 days before todays date with dns_needed and unknown status
run-name: Check for expired domains

on:
  schedule:
    # Runs every day at 5 AM UTC.
    - cron: "0 5 * * *"

jobs:
  upload-reports:
    runs-on: ubuntu-latest
    env:
      CF_USERNAME: ${{ secrets.CF_DELETE_DOMS_USERNAME }}
      CF_PASSWORD: ${{ secrets.CF_DELETE_DOMS_PASSWORD }}
    steps:
      - name: Run script to delete domains with expiration date past 7 days
        uses: cloud-gov/cg-cli-tools@main
        with:
          cf_username: ${{ secrets[env.CF_USERNAME] }}
          cf_password: ${{ secrets[env.CF_PASSWORD] }}
          cf_org: cisa-dotgov
          cf_command: "run-task getgov-staging --command 'python manage.py delete_expired_domains_no_setup'"