# This workflow runs on pushes of tagged commits.
# "Releases" of tagged commits will deploy selected branch to stable.

name: Build and deploy stable for tagged release

on:
  push:
    paths-ignore:
      - 'docs/**'
      - '**.md'
      - '.gitignore'
      
    tags:
      - v*

jobs:
  deploy-stable:
    if: ${{ github.ref_type == 'tag' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Compile USWDS assets
        working-directory: ./src
        run: |
          docker compose run node npm install && 
          docker compose run node npx gulp copyAssets &&
          docker compose run node npx gulp compile
      - name: Collect static assets 
        working-directory: ./src
        run: docker compose run app python manage.py collectstatic --no-input
      - name: Install CF CLI
        run: | 
            wget -q -O - https://packages.cloudfoundry.org/debian/cli.cloudfoundry.org.key | sudo gpg --dearmor -o /usr/share/keyrings/cli.cloudfoundry.org.gpg
            echo "deb [signed-by=/usr/share/keyrings/cli.cloudfoundry.org.gpg] https://packages.cloudfoundry.org/debian stable main" | sudo tee /etc/apt/sources.list.d/cloudfoundry-cli.list

            sudo apt-get update
            sudo apt-get install cf8-cli
      - name: Copy github info to .env
        env:
          ENVIRONMENT: ${{ github.event.inputs.environment }}
          CF_USERNAME: ${{ secrets[format('CF_{0}_USERNAME', github.event.inputs.environment)] }}
          CF_PASSWORD: ${{ secrets[format('CF_{0}_PASSWORD', github.event.inputs.environment)] }}
          COMMIT: ${{ github.sha }}
          BRANCH: ${{ github.event.inputs.branch }}
          TAG: ${{ startsWith(github.ref, 'refs/tags') && github.ref_name || '' }}
        run: |
           bash ops/scripts/write_git_info_to_env.sh
      - name: Deploy to cloud.gov sandbox
        uses: cloud-gov/cg-cli-tools@main
        with:
          cf_username: ${{ secrets.CF_STABLE_USERNAME }}
          cf_password: ${{ secrets.CF_STABLE_PASSWORD }}
          cf_org: cisa-dotgov
          cf_space: stable
          cf_manifest: "ops/manifests/manifest-stable.yaml"
      - name: Run Django migrations
        uses: cloud-gov/cg-cli-tools@main
        with:
          cf_username: ${{ secrets.CF_STABLE_USERNAME }}
          cf_password: ${{ secrets.CF_STABLE_PASSWORD }}
          cf_org: cisa-dotgov
          cf_space: stable
          cf_command: "run-task getgov-stable --command 'python manage.py migrate' --name migrate"
