name: Upload current-full.csv and current-federal.csv on staging
run-name: Upload current-full.csv and current-federal.csv on staging

on:
  schedule:
    # Runs every day at 5:36 AM UTC.
    - cron: "36 5 * * *"

jobs:
  upload-reports:
    runs-on: ubuntu-latest
    env:
      CF_USERNAME: CF_${{ secrets.CF_REPORT_ENV_STAGING }}_USERNAME
      CF_PASSWORD: CF_${{ secrets.CF_REPORT_ENV_STAGING }}_PASSWORD
    steps:
      - name: Generate current-federal.csv
        uses: cloud-gov/cg-cli-tools@main
        with:
          cf_username: ${{ secrets[env.CF_USERNAME] }}
          cf_password: ${{ secrets[env.CF_PASSWORD] }}
          cf_org: cisa-dotgov
          cf_space: ${{ secrets.CF_REPORT_ENV_STAGING }}
          cf_command: "run-task getgov-${{ secrets.CF_REPORT_ENV_STAGING }} --command 'python manage.py generate_current_federal_report' --name federal"

      - name: Generate current-full.csv
        uses: cloud-gov/cg-cli-tools@main
        with:
          cf_username: ${{ secrets[env.CF_USERNAME] }}
          cf_password: ${{ secrets[env.CF_PASSWORD] }}
          cf_org: cisa-dotgov
          cf_space: ${{ secrets.CF_REPORT_ENV_STAGING }}
          cf_command: "run-task getgov-${{ secrets.CF_REPORT_ENV_STAGING }} --command 'python manage.py generate_current_full_report' --name full"
